<script>

$(document).ready(function() {

//  ToDo: mixpanel people.set

	var map;
	var markers = [];
	var exchanges = [];

 	function initialize() {

		var latitude =		getParameterByName('latitude') || 51.507351
		var longitude =		getParameterByName('longitude') || -0.127758
		var bbox =			getParameterByName('bbox')
		var buy_amount = 	getParameterByName('buy_amount')
		var buy_currency = 	getParameterByName('buy_currency')
		var pay_currency =	getParameterByName('pay_currency')

		var mapOptions = {
	      center: new google.maps.LatLng(latitude, longitude),
	      zoom: 14
	    };    

		map = new google.maps.Map(document.getElementById('map-canvas'),
          	mapOptions);

      	search(latitude, longitude, bbox, buy_amount, buy_currency, pay_currency); 	
	}
  

	function search(latitude, longitude, bbox, buy_amount, buy_currency, pay_currency) {
		$.get(
		'/exchanges/search', {
			latitude:		latitude,
			longitude:		longitude,
			bbox:			bbox,
			buy_amount: 	buy_amount,
			buy_currency: 	buy_currency,
			pay_currency:	pay_currency
		})
		.done(function(exchanges) {
			updateMarkers(exchanges)
			updateExchanges(exchanges)
		})		
	}	


  	function updateMarkers(exchanges) {
	  clearMarkers();
	  for (var i = 0; i < exchanges.length; i++) {
//	    window.setTimeout(function() {
	      addMarker(exchanges[i]);
//	    }, i * 200);
	  }
	}
	
	function addMarker(exchange) {
	  	var marker = new google.maps.Marker({
		    position: new google.maps.LatLng(exchange.latitude, exchange.longitude),
		    title: exchange.name,
		    map: map,
		    icon: '<%= image_path 'icon.png' %>',
		    animation: google.maps.Animation.DROP,
		    zIndex: exchange.id // holds the exchange id 
	  	})
	  	
	  	markers.push(marker);
	  	
	  	google.maps.event.addListener(marker, 'click', function() {
			var infowindow = new google.maps.InfoWindow({
	      		content: String(exchange.quote)
	  		});
    		infowindow.open(map,marker);
  		});
	}
	
	function clearMarkers() {
	  	for (var i = 0; i < markers.length; i++) {
	    	markers[i].setMap(null);
  		}
  		markers = [];
	}
	
	function updateExchanges(exchanges) {
    	clearExchanges();
	  	for (var i = 0; i < 5; i++) {
	    	addExchange(exchanges[i], i);
	  	}		
	}
	
	function addExchange(exchange, index) {
		if (exchange.quote == null || exchange.quote > 999999) {return}
		console.log(exchange.quote);
		var exchange_el = $('#exchange_list_' + String(index));
		exchange_el.find('.badge').html(exchange.edited_quote);
		exchange_el.find('.name').html(exchange.name);
		exchange_el.find('.address').html(exchange.address);
		exchange_el.find('.open_today').html(exchange.open_today);
		exchange_el.css('visibility', 'visible');
		exchange_el.show();
	}
	
	function clearExchanges() {
		$('ul.list-group li').hide();
	}
	
	

	 
 	google.maps.event.addDomListener(window, 'load', initialize);


});
</script>
<div class="container-fluid">
	<div id="exchanges" class="row">
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Panel heading</div>
			  <div class="panel-body">
			    <p>...</p>
			  </div>
			
			  <!-- List group -->
			  <ul class="list-group">
			  <% 10.times do |i| %>
			    <li id=<%="exchange_list_#{i}"%> class="list-group-item" style="visibility: hidden;">
			    	<p>
			    	 	<span class="badge pull-right"></span>
				    	<span class="name"></span>			    		
			    	</p>
			    	<p class="small">
			    		<span class="address"></span>
		    		</p>
					<p class="small">
						<span>Open today: </span>
						<span class="open_today"></span>
					</p>
		    	 </li>
			  <% end %>
			  </ul>
			</div>
		</div>
		<div id="map_container" class="col-md-6">
			<div id="map-canvas"></div>			
		</div>

	</div>
</div>