<div id="exchanges_search_params" class="list-group-item">
  <div class="row">
    <div class="col-md-12 col-xs-12">
        <span>Buy</span>
        <span data-field="buy_amount"></span>
        <span data-field="buy_currency"></span>
        <span>in</span>
        <span data-field="pay_amount"></span>
        <span data-field="pay_currency"></span>
        <span>at</span>
        <span data-field="location"></span>
     </div>
  </div>
</div>
