<div id="exchanges_search_results" class="list-group-item">
  <div class="row">
       <div id="loader_message">
        <span id="loading_icon"><%= image_tag "loader1.gif"%></span>
        <span>Finding offers...</span>
      </div>
      <div id="result_message" style="display: none;">
        <div class="results col-md-6 col-xs-6 middle-parent">
          <span style="display: none" class="middle-child desktop_only" id="exchanges_count"></span>
          <span  class="middle-child desktop_only"> Exchanges </span>
          <span  class="middle-child"></span>
        </div>
        <div class="sorted_by col-md-3 col-xs-3 middle-parent" data-sort="quote">
          <span class="middle-child">Best price</span>
        </div>
        <div class="sorted_by col-md-3 col-xs-3 middle-parent" data-sort="distance">
          <span class="middle-child">Nearest</span>
        </div>
      </div>
      <div id="empty_message" style="display: none;">
        <span>No offers found. Click above to change your search criteria.</span>
      </div>
  </div>
</div>
