<div id="exchanges_search_params" class="list-group-item text-center">
  <div class="row">
    <div class="exchanges_search_params_title col-md-12 col-xs-12">
        <span>Buy</span>
        <span data-field="buy_amount"></span>
        <span data-field="buy_currency"></span>
        <span>in</span>
        <span data-field="pay_amount"></span>
        <span data-field="pay_currency"></span>
        <span>,</span>
        <span data-field="location_short"></span>
     </div>
  </div>
</div>
