<div id="exchanges_search_params" class="mobile_only list-group-item text-center open_search">
    <div class="exchanges_search_params_title open" data-toggle="collapse" data-target="#exchanges_list #new_parameters">

        <div>
          <span id="search_icon">
            <i class="search fa fa-search pull-left"></i>
          </span>
          <span class="text-center">
            <span data-field="pay_amount" data-autonumeric="true"></span>
            <span data-field="pay_currency"></span>
            <span data-field="into"><i class="fa fa-long-arrow-right"></i></span>
            <span data-field="buy_amount" data-autonumeric="true"></span>
            <span data-field="buy_currency"></span>
          </span>
        </div>

        <div class="text-center">
          <span id="user_location_icon"><i class="fa fa-street-view"></i></span>
          <span data-field="location_short"></span>
        </div>

     </div>
</div>
