<div class="row">

    <div class="middle-parent col-md-11 col-xs-11">
        <div class="middle-child">
            <div class="name"></div>
        </div>
    </div>

</div>


<div class="row">



    <div class="middle-parent col-md-2 col-xs-2">
        <div class="middle-child">
            <div class="service_type"></div>
          <div class="distance"></div>
        </div>
    </div>


    <div class="middle-parent col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
        <div class="middle-child">
            <span class="you" style="display:none"></span>
            <div class="quote text-center"></div>
            <div class="gain_amount text-center">Save $35.20</div>
        </div>
     </div>

    <div class="middle-parent col-md-1 col-xs-1 getit_parent">
        <div class="middle-child">
            <i class="list_icon fa fa-chevron-right"></i>
        </div>
    </div>

</div>

<!--
<div class="row">

  <div class="middle-parent col-md-6 col-xs-6">
    <div class="middle-child">
      <div class="limited_time_text">Limited time offer:</div>
    </div>
  </div>

  <div class="middle-parent col-md-4 col-xs-4">
    <div class="middle-child">
      <div class="text-center limited_time_quote">$2345.23</div>
    </div>
  </div>

</div>
-->

<!--
<div class="delivery_ind" style="display: none">
  <div class="delivery_bg"></div>
  <div class="delivery_text">Delivery</div>
</div>
-->
