<div id="exchanges_search_results" class="list-group-item" style="display: none">


    <div id="loader_message">
        <span id="loading_icon"><%= image_tag "loader1.gif"%></span>
        <span>Finding offers...</span>
    </div>

    <div id="result_message">

        <div id="empty_message" style="display: none;">
            <span>No offers found. Click above to change your search criteria.</span>
        </div>

    </div>


    <div id="sort_line"">

      <div class="row">
        <div class="col-xs-12 text-right remove_more pull-right">&times;</div>
      </div>

      <div>

        <div class="sort_btn_group btn-group full_width" role="group" data-toggle="buttons">
            <button type="button" class="sort btn btn-default" data-sort="distance" data-order="asc">
              <span>&nbsp  Distance</span>
            </button>
            <button type="button" class="sort btn btn-default" data-sort="price" data-order="asc">
              <span>&nbsp  Price</span>
            </button>
        </div>

      </div>


    </div>


</div>
