<div id="exchanges_search_params" class="list-group-item text-center">
  <div class="row">
    <div class="exchanges_search_params_title col-md-12 col-xs-12">
        <span data-field="activity">Buy</span>
        <span data-field="buy_amount" data-autonumeric="true"></span>
        <span data-field="buy_currency"></span>
        <span data-field="into">Pay</span>
        <span data-field="pay_amount" data-autonumeric="true"></span>
        <span data-field="pay_currency"></span>
        <span id="comma">,</span>
        <span data-field="location_short"></span>
     </div>
  </div>
</div>
