<div id="exchanges_search_results" class="list-group-item">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div id="loader_message">
        <span id="loading_icon"><%= image_tag "loader1.gif"%></span>
        <span>Finding offers...</span>
      </div>
      <div id="result_message" style="display: none;">
        <div class="results col-md-4 col-xs-4 middle-parent">
          <span class="middle-child desktop_only" id="exchanges_count"></span>
          <span  class="middle-child desktop_only"> results </span>
          <span  class="middle-child"> sorted by </span>
        </div>
        <div class="sorted_by bestprice col-md-4 col-xs-4 middle-parent">
          <span class="middle-child">Best price</span>
        </div>
        <div class="sorted_by nearest col-md-4 col-xs-4 middle-parent">
          <span class="middle-child">Nearest</span>
        </div>
      </div>
      <div id="empty_message" style="display: none;">
        <span>No offers found. Click below to change your search criteria.</span>
      </div>
    </div>
  </div>
</div>
