<div id="exchanges_search_results" class="list-group-item" style="display: none">

  <div class="row">

    <div id="loader_message">
        <span id="loading_icon"><%= image_tag "loader1.gif"%></span>
        <span>Finding offers...</span>
    </div>

    <div id="result_message">

        <div id="empty_message" style="display: none;">
            <span>No offers found. Click above to change your search criteria.</span>
        </div>

    </div>

    <div id="sort_line">

      <div class="col-md-4 col-xs-4 middle-parent">
        <span class="order_text">order by</span>
      </div>

      <div class="col-md-8 col-xs-8 middle-parent">

        <div class="sort_btn_group btn-group  btn-group-sm btn-group-justified" role="group" data-toggle="buttons">
          <div class="btn-group" role="group">
            <button type="button" class="sort distance btn btn-default active">Distance</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="sort price btn btn-default">Price</button>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
