<!--
<div id="exchanges_search_search" class="list-group-item text-center open_search">
  <div class="row">
    <div data-clicked="trigger another search" class="exchanges_search_search_title col-md-12 col-xs-12">
        <%= fa_icon "search", text: "Change currency or amount", class: "pull-right" %>

    </div>
  </div>
</div>
-->
