<div class="middle-parent col-md-3 col-xs-3">
    <div class="middle-child">
        <div class="name"></div>
        <div id="distance">
          <span class="distance"></span>
        </div>
    </div>
</div>

<div class="middle-parent col-md-2 col-xs-2">
  <div class="middle-child">
    <div class="service_type">
        </div>
  </div>
</div>

<div class="middle-parent col-md-4 col-xs-4">
	<div class="middle-child">
		<div class="col-md-12 col-xs-12">
          <span class="you"></span>
          <span class="quote_currency"></span>
          <span class="quote"></span>
        </div>
	</div>
</div>
<div class="middle-parent col-md-2 col-xs-2 getit_parent">
	<div class="getit middle-child">
        <%= render partial: 'order_form', locals: {status: 'offer'} %>
    </div>
	<div class="close middle-child"><i class="fa fa-chevron-right"></i></div>
</div>
