<div id="exchanges_search_results" class="list-group-item" style="display: none">

  <div class="row">

    <div id="loader_message">
        <span id="loading_icon"><%= image_tag "loader1.gif"%></span>
        <span>Finding offers...</span>
    </div>

    <div id="result_message">

        <div id="empty_message" style="display: none;">
            <span>No offers found. Click above to change your search criteria.</span>
        </div>

    </div>

    <div id="sort_line">

      <div class="col-md-10 col-xs-10">

        <div class="sort_btn_group btn-group" role="group" data-toggle="buttons">
            <button type="button" class="sort btn btn-default active" data-sort="distance">Distance</button>
            <button type="button" class="sort btn btn-default" data-sort="price">Price</button>
        </div>

      </div>

      <div class="col-md-1 col-xs-1">
        <span class="remove_more pull-right">&times;</span>
      </div>

    </div>

  </div>

</div>
