<div class="pane" data-pane="list" data-list="true">

  <%= render partial: 'navbar',
             locals: {left_pane: 'none', left_icon: '', center: 'search_params', right_pane: "context_menu", right_icon: 'more_vert',
                      context_menu_options: [{icon: "pageview", name: "View more offers", pane: "list"},
                                             {icon: "B", name: "Something else", pane: "somepane"}]}
  %>

  <div class="exchanges_list list-group"></div>

  <div class="pagination flex_center pull-right">
    <div class="flex_center">
      <span>Showing offers</span>
      <span data-model="page" data-field="fromResult"></span>
      <span class="dash">-</span>
      <span data-model="page" data-field="toResult"></span>
      <i class="material-icons prev" onclick="prevPage()">navigate_before</i>
      <i class="material-icons next" onclick="nextPage()">navigate_next</i>
    </div>
  </div>


</div>