<div  id="exchanges_list" class="pane active" data-pane="list" data-search-home="true">
  <div class="list-group">
    <%= render 'exchanges/list/exchanges_search_params' %>
    <%= render 'exchanges/list/exchanges_search_search' %>
    <div id="best_exchanges">
    </div>
    <div class="more list-group-item">
      <div id="fetch_more">
        <a href="#">Show more</a>
      </div>
    </div>
    <%= render 'exchanges/list/exchanges_search_results' %>
        <!--   Best exchange list goes here -->
    <div id="exchanges_items">
      <!--   Exchange list goes here -->
    </div>
  </div>
</div>