<div  id="exchanges_list" class="pane active" data-pane="list" data-search-home="true">
  <div class="list-group">
    <%= render 'exchanges/list/exchanges_search_params' %>
    <%= render 'exchanges/list/exchanges_search_search' %>
    <%= render 'exchanges/list/exchanges_search_results' %>
    <div id="best_exchanges">
    </div>
        <!--   Best exchange list goes here -->
    <div id="exchanges_items">
      <!--   Exchange list goes here -->
    </div>
  </div>
</div>