<div class="pane" data-pane="list" data-list="true">

  <%= render partial: 'navbar', locals: {left_pane: 'survey', left_icon: 'assignment', center: 'search_params', right_pane: "search", right_icon: 'search'} %>

  <div class="exchanges_list list-group"></div>

</div>