<div class="pane" data-pane="list" data-list="true">

  <%= render partial: 'navbar',
             locals: {center: 'search_params', right_pane: "context_menu", right_icon: 'more_vert',
                      context_menu_options: [
                          {icon: "search", name: "Search", pane: "search"},
                          {icon: "view_array", name: "Map View", pane: "cards"}
              ]}
  %>

  <div class="exchanges_list list-group"></div>

  <div class="pagination flex_center pull-right">
    <div class="flex_center" dir="ltr">
      <span><%= t 'list.showing' %></span>
      <span data-model="page" data-field="fromResult"></span>
      <span class="dash">-</span>
      <span data-model="page" data-field="toResult"></span>
      <i class="material-icons prev" onclick="prevPage()">navigate_before</i>
      <i class="material-icons next" onclick="nextPage()">navigate_next</i>
    </div>
  </div>


</div>