<div class="pane" data-pane="bonus">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow-left', center: 'Bonus', right_pane: 'none', right_icon: 'none'} %>

  <div class="flex_parent" style="height: 75vh; font-size: 1.5em">
    <div class="flex_child">
      under construction
    </div>
  </div>
</div>