<form id="search_form" action="/exchanges/search" class="form-inline" novalidate>
	<div class="mobile_only middle_wrapper help_text col-xs-12">
		<div class="middle">
			Exchange
		</div>
	</div>
	<div class="form-group col-md-2 col-xs-6">
		<input type="text" pattern="\d*" id="pay_amount" data-autonumeric="true" name="pay_amount" class="form-control" placeholder="placeholder"
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="amount" data-key2="type" data-val2="local" data-key3="amount">
  	</div>
  	<div class="form-group col-md-1 col-xs-6">
		<select id="pay_currency" name="pay_currency" class="currency_select select optional text-center form-control"
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="currency" data-key2="type" data-val2="local" data-key3="currency">
			<option selected disabled hidden value=''></option>
			<option data-symbol="￡ " value="GBP">GBP</option>
			<option data-symbol="€ " value="EUR">EUR</option>
			<option data-symbol="$ " value="USD">USD</option>
			<option data-symbol="$ " value="AUD">AUD</option>
			<option data-symbol="$ " value="CAD">CAD</option>
			<option data-symbol="￥ " value="JPY">JPY</option>
		</select>
	</div>
	<div class="mobile_only middle_wrapper help_text col-md-1 col-xs-12">
		<div class="middle">
			to
		</div>
	</div>
  	<div class="form-group col-md-1 col-xs-12">
		<select id="buy_currency" name="buy_currency" class="select optional text-center form-control"
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="currency" data-key2="type" data-val2="foreign" data-key3="currency">
			<option selected disabled hidden value=''></option>
			<option value="USD">USD</option>
			<option value="EUR">EUR</option>
			<option value="GBP">GBP</option>
			<option value="AUD">AUD</option>
			<option value="CAD">CAD</option>
			<option value="JPY">JPY</option>
		</select>
  	</div>
	<div class="mobile_only middle_wrapper help_text col-xs-12">
		<div class="middle">
			in
		</div>
	</div>
	<div class="form-group col-md-3 col-md-push-2 col-xs-12">
		<input type="text" id="location_search" name="location_search" class="location search form-control" placeholder="Current location" 
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="location" data-key2="type" data-val2="search" data-key3="location">
		<div id="location_search_icon" class="icon middle_wrapper">
			<i class="middle fa fa-map-marker"></i>
		</div>
  	</div>
  	<!-- Bootstrap original radio in button
  	<div class="form-group col-md-4 col-md-offset-4 col-xs-12">
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary active">
		    <input type="checkbox" autocomplete="off" checked> Best price
		  </label>
		  <label class="btn btn-success">
		    <input type="checkbox" autocomplete="off"> Nearest
		  </label>
		</div>
	-->
	<div class="mobile_only middle_wrapper help_text  col-xs-12">
		<div class="middle">
			Order by
		</div>
	</div>
	<div class="form-group col-md-2 col-md-pull-3 col-xs-12">
		<input id="sort_switch" class="make-switch" type="checkbox" data-on-text="Best price" data-on-color="default" data-off-text="Nearest" data-off-color="default">
	</div>

  	<div class="hidden" style="display:none">
  		<input type="hidden" name="latitude" class="location" id="latitude">
  		<input type="hidden" name="longitude" class="location" id="longitude">
  		<input type="hidden" name="geocoded_location" id="geocoded_location">
  		<input type="hidden" name="distance">
  		<input type="hidden" name="sort" id="sort">
  		<input type="hidden" name="searched_location" id="searched_location">
  		<input type="hidden" name="landing" value="<%= @landing %>">
  		<input type="hidden" name="actual_pay_amount" id="actual_pay_amount">
	</div>

  	<div id="search_div" class="form-group col-md-2 col-xs-12" class="form-group">
		<button id="search_button" class="form-control btn btn-cambiu" type="submit">Find offers</button>
	</div>	
</form>
<script>
$(document).ready(function(){
	
	console.log('search_form');
		
})
</script>
