<div class="exchange_summary_banner well">
  <div class="row">
    <div class="col-md-4 col-xs-4">
      <div class="left">
        <div class="es_icon"><%= fa_icon 'map-marker inverse' %></div>
        <div class="es_distance" data-model="exchange" data-field="distance"></div>
      </div>
    </div>
    <div class="col-md-8 col-xs-8">
      <div class="right">
        <div class="es_name" data-model="exchange" data-field="name"></div>
        <div class="es_address" data-model="exchange" data-field="address"></div>
        <div class="es_opening_hours" data-model="exchange" data-field="open_today"></div>
      </div>
    </div>
  </div>
</div>