<div class="container-fluid">
  <a name="exchanges"></a>
  <div id="exchanges_page">

    <div class="row" id="exchanges_content">
      <div id="exchanges" class="col-md-4 col-xs-12 col-md-offset-half">
        <%= render 'exchanges/list/index' %>
        <%= render 'exchanges/deal/index' %>
      </div>
    </div>

    <div id="map_container" class="">
      <div id="directions-panel" class="panel" style="display:none"></div>
      <div id="map-canvas" data-clicked="map"></div>
    </div>
  </div>


</div>

<%= render 'exchanges/templates/exchange_row_template' %>
<%= render 'exchanges/templates/infowindow_template' %>