<script>

$(document).ready(function() {
	

//  ToDo: mixpanel people.set

	var map;
	var markers = [];
	var exchanges = [];
//	var service = new google.maps.places.PlacesService(map);

 	function initialize() {


		var latitude =		getParameterByName('latitude') || 51.507351
		var longitude =		getParameterByName('longitude') || -0.127758
		var distance =		getParameterByName('distance')
		var pay_currency = 	getParameterByName('buy_currency')
		var buy_currency =	getParameterByName('pay_currency')
		var pay_amount = 	getParameterByName('pay_amount')

		var mapOptions = {
	      center: new google.maps.LatLng(latitude, longitude),
	      zoom: 14
	    };    

		map = new google.maps.Map(document.getElementById('map-canvas'),
          	mapOptions);

      	search(latitude, longitude, distance, buy_currency, pay_currency, pay_amount); 	
	}
  
	function search(latitude, longitude, distance, pay_currency, buy_currency, pay_amount) {
		$.get(
		'/exchanges/search', {
			latitude:		latitude,
			longitude:		longitude,
			distance:		distance,
			pay_currency:	pay_currency,
			buy_currency: 	buy_currency,
			pay_amount: 	pay_amount
		})
		.done(function(exchanges) {
			updateMarkers(exchanges)
			updateExchanges(exchanges)
		})		
	}	

  	function updateMarkers(exchanges) {
	  clearMarkers();
	  for (var i = 0; i < exchanges.length; i++) {
//	    window.setTimeout(function() {
	      addMarker(exchanges[i]);
//	    }, i * 200);
	  }
	}
	
	function addMarker(exchange) {
	  	var marker = new google.maps.Marker({
		    position: new google.maps.LatLng(exchange.latitude, exchange.longitude),
		    title: exchange.name,
		    map: map,
		    icon: '<%= image_path 'icon.png' %>',
		    animation: google.maps.Animation.DROP,
		    zIndex: exchange.id // holds the exchange id 
	  	})
	  	
	  	markers.push(marker);
	  	
	  	google.maps.event.addListener(marker, 'click', function() {
			var infowindow = new google.maps.InfoWindow({
	      		content: String(exchange.quote)
	  		});
    		infowindow.open(map,marker);
  		});
	}
	
	function clearMarkers() {
	  	for (var i = 0; i < markers.length; i++) {
	    	markers[i].setMap(null);
  		}
  		markers = [];
	}
	
	function updateExchanges(exchanges) {
    	clearExchanges();
	  	for (var i = 0; i < 5; i++) {
	    	addExchange(exchanges[i], i);
	  	}		
	}
	
	function addExchange(exchange, index) {
		exchange_el = $('.exchange_' + String(index));
		exchange_el.find('.badge').html(exchange.edited_quote);
		exchange_el.find('.name').html(exchange.name);
		exchange_el.find('.address').html(exchange.address);
		exchange_el.find('.open_today').html(exchange.open_today);
		place_photo(exchange);
		exchange_el.css('visibility', 'visible');
		exchange_el.show();
		console.log('after')
	


	function place_photo(exchange) {
		var request = {query: exchange.name + ' ' + exchange.address};
		
var service = new google.maps.places.PlacesService(map);
		service.textSearch(request, gp_ts_callback);
		
		function gp_ts_callback(results, status) {
			console.log('gp_ts_callback');
			if (status == google.maps.places.PlacesServiceStatus.OK && results.length > 0) {
		    		      
			    var place = results[0];
			    var place_id = place.place_id
			    console.log("place_id: " + place_id)
			      
			    var request = {placeId: place_id};
//			    service.getDetails(request, gp_pd_callback);
			      
		    	function gp_pd_callback(place, status) {
		    		console.log('gp_pd_callback');
				  	if (status == google.maps.places.PlacesServiceStatus.OK) {
					    if (place.photos.length > 0) {
					    	photo_url = place.photos[0].getUrl();
					    	console.log("photo_url: " + photo_url);
					    	
					  	}
				   	}		    
		  		}
			}
		}
	}
	
	}
	
	function clearExchanges() {
		$('ul.list-group li').hide();
	}
	
	
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
	 
 	google.maps.event.addDomListener(window, 'load', initialize);


});
</script>


<div class="container-fluid">
	<div id="exchanges_page" class="row">
		<div id="exchanges_list" class="col-md-5 col-md-offset-1 col-xs-12">			

		  	
			  	
				<div class="list-group">
					<a class="list-group-item" data-toggle="collapse" href="#collapseExample">
					  Link with href1
					</a>
					
					<div class="collapse" id="collapseExample">
					  <div class="well">
					    first detail
					  </div>
					</div>			  			  	

					<a class="list-group-item" data-toggle="collapse" href="#collapseExample1">
					  Link with href2
					</a>
					
					<div class="collapse" id="collapseExample1">
					  <div class="well">
					    second detail
					  </div>
					</div>			  			  	
					
					<a class="list-group-item" data-toggle="collapse" href="#collapseExample2">
					  Link with href3
					</a>
					
					<div class="collapse" id="collapseExample2">
					  <div class="well">
					    third detail
					  </div>
					</div>			  			  	
					
					<a class="list-group-item" data-toggle="collapse" href="#collapseExample3">
					  Link with href4
					</a>
					
					<div class="collapse" id="collapseExample3">
					  <div class="well">
					    fourth detail
					  </div>
					</div>			  			  	
					
					<a class="list-group-item" data-toggle="collapse" href="#collapseExample4">
					  Link with href5
					</a>
					
					<div class="collapse" id="collapseExample4">
					  <div class="well">
					    fifth detail
					  </div>
					</div>			  			  	
					<a class="list-group-item" data-toggle="collapse" href="#collapseExample5">
					  Link with href1
					</a>
					
					<div class="collapse" id="collapseExample5">
					  <div class="well">
					    first detail
					  </div>
					</div>			  			  	

					<a class="list-group-item" data-toggle="collapse" href="#collapseExample6">
					  Link with href1
					</a>
					
					<div class="collapse" id="collapseExample6">
					  <div class="well">
					    first detail
					  </div>
					</div>			  			  	

					<a class="list-group-item" data-toggle="collapse" href="#collapseExample7">
					  Link with href1
					</a>
					
					<div class="collapse" id="collapseExample7">
					  <div class="well">
					    first detail
					  </div>
					</div>			  			  	

					<a class="list-group-item" data-toggle="collapse" href="#collapseExample8">
					  Link with href1
					</a>
					
					<div class="collapse" id="collapseExample8">
					  <div class="well">
					    first detail
					  </div>
					</div>			  			  	

					<a class="list-group-item" data-toggle="collapse" href="#collapseExample9">
					  Link with href1
					</a>
					
					<div class="collapse" id="collapseExampl9">
					  <div class="well">
					    first detail
					  </div>
					</div>			  			  	

					
				</div>




		</div>
		<div id="map_container" class="col-md-12">
			<div id="map-canvas"></div>			
		</div>

	</div>
</div>