<div class="container-fluid">
	<div id="exchanges_page">
		<div class="row" id="exchanges_content">
			<div id="exchanges" class="col-md-6 col-xs-12">
				<div  id="exchanges_list">	
					<div class="list-group">
						<!--   Search trigger, loading indicator -->
						<div id="exchanges_header_item" class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12">
									<div id="loader_message">
										Finding offers...
									</div>
									<div id="result_message" style="display: none;">
										<span id="exchanges_count"></span>
										<span> offers found, sorted by </span>
										<span id="sort_order"></span>
									</div>
								</div>
							</div>
						</div>
						<div id="exchanges_items">
							<!--   Exchange list goes here -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="map_container" class="col-md-6 col-md-offset-6">
			<div id="map-canvas"></div>			
		</div>
	</div>		

	
	<!--   Exchange template  -->
	<div class="template" style="display: none">

		<a class="list-group-item" data-toggle="collapse" href="#exchange_det_0" aria-expanded="false" aria-controls="collapseExample">
			
		</a>
		<div class="collapse" id="exchange_det_0">
			<div class="well">
			</div>
	  	</div>
	</div>			  			  	

</div>
<script>