<div class="binary alternative flex_center column view overlay hm-white-slight" data-slideto="pickup_offer" data-slideto=<%= "#{path}_offer" %>>
  <%= image_tag 'cash.png' %>
  <div class="text"><%= t 'isearch.payment.cash' %></div>
  <a><div class="mask waves-effect"></div></a>
</div>