<div class="binary option flex_center column view overlay hm-white-slight" data-property="payment_method" data-value="credit" data-slideto=<%= "#{path}_offer" %>>
  <%= image_tag 'credit.png' %>
  <div class="text"><%= t 'isearch.payment.credit' %></div>
  <a><div class="mask waves-effect"></div></a>
</div>