<option data-symbol="$ "  value="USD">USD</option>
<option data-symbol="€ "  value="EUR">EUR</option>
<option data-symbol="￡ " value="GBP">GBP</option>
<option data-symbol="$ "  value="CAD">CAD</option>
<option data-symbol="$ "  value="AUD">AUD</option>
<option data-symbol="$ " value="HKD">HKD</option>
<option data-symbol="¥ " value="CNY">CNY</option>
<option data-symbol="kr " value="NOK">NOK</option>
<option data-symbol="￥ " value="JPY">JPY</option>
<option data-symbol="Kč " value="CZK">CZK</option>
<option data-symbol="Lei " value="RON">RON</option>
<option data-symbol="zł " value="PLN">PLN</option>
<option data-symbol="CHF " value="CHF">CHF</option>
<option data-symbol="฿ " value="THB">THB</option>
<option data-symbol="₱ " value="PHP">PHP</option>
<option data-symbol="₪ " value="ILS">ILS</option>
<option data-symbol="₹ " value="INR">INR</option>