<div class="swiper-slide flex_around column" data-hash="delivery_offer" data-slideto="end">

  <div class="section">
    <%= render 'exchanges/isearch/title' %>
  </div>

  <div class="section">
    <%= render 'exchanges/templates/offer' %>
    <%= render 'exchanges/isearch/different' %>
  </div>

  <div class="section reserved_to_button">
    <%= render 'exchanges/isearch/order_button' %>
  </div>

</div>