<div class="swiper-slide flex_around column" data-hash="delivery_offer" data-slideto="end">

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.offer.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.offer.subtitle' %></div>
  </div>

  <div class="button_to_offer">
    <%= render '/exchanges/isearch/button_to_offer' %>
  </div>

</div>