<div class="swiper-slide branch flex_center column" data-hash="delivery_payment">

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.delivery_payment.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.delivery_payment.subtitle' %></div>
  </div>

  <div class="iform_content">
    <%= render '/exchanges/isearch/credit', path: 'delivery' %>
  </div>

</div>