<div class="hidden">
  <input type="hidden" name="search[service_type]"      id="service_type"     data-model="search" data-field="service_type">
  <input type="hidden" name="search[payment_method]"    id="payment_method"   data-model="search" data-field="payment_method">
  <input type="hidden" name="search[radius]"            id="radius"           data-model="search" data-field="radius">
  <input type="hidden" name="search[location_lat]"      id="location_lat"     data-model="search" data-field="location_lat">
  <input type="hidden" name="search[location_lng]"      id="location_lng"     data-model="search" data-field="location_lng">
  <input type="hidden" name="search[location_type]"     id="location_type"    data-model="search" data-field="location_type">
  <input type="hidden" name="search[location_reason]"   id="location_reason"  data-model="search" data-field="location_reason">
  <input type="hidden" name="search[user_lat]"          id="user_lat"         data-model="search" data-field="user_lat">
  <input type="hidden" name="search[user_lng]"          id="user_lng"         data-model="search" data-field="user_lng">
  <input type="hidden" name="search[user_location]"     id="user_location"    data-model="search" data-field="user_location">
  <input type="hidden" name="search[country]"           id="country"          data-model="search" data-field="country">
  <input type="hidden" name="search[city]"              id="city"             data-model="search" data-field="city">
  <input type="hidden" name="search[trans]"             id="transaction"      data-model="search" data-field="transaction">
  <input type="hidden" name="search[calculated]"        id="calculated"       data-model="search" data-field="calculated">
  <input type="hidden" name="search[change_field]"      id="change_field"     data-model="search" data-field="change_field">
  <input type="hidden" name="search[change_from]"       id="change_from"      data-model="search" data-field="change_from">
  <input type="hidden" name="search[change_to]"         id="change_to"        data-model="search" data-field="change_to">
</div>