<div class="flex_center last_line">
  <div class="md-form">
    <input data-model="user" data-field="entry" type="text" name="user[entry]" id="user_entry" class="empty form-control text-start" data-update="user"/>
    <label for="user_entry" class="control-label"><%= t 'user.entry' %></label>
  </div>

  <div class="md-form">
    <input data-model="user" data-field="floor" type="text" name="user[floor]" id="user_floor" class="empty form-control text-start" data-update="user"/>
    <label for="user_floor" class="control-label"><%= t 'user.floor' %></label>
  </div>

  <div class="md-form">
    <input  data-model="user" data-field="apartment" type="text" name="user[apartment]" id="user_apartment" class="empty form-control text-start" data-update="user"/>
    <label for="user_apartment" class="control-label"><%= t 'user.apartment' %></label>
  </div>
</div>