<div class="swiper-slide flex_around column" data-hash="no_pickup_offer" data-slideto="end">

  <div class="iform_icon"><%= image_tag 'question.png' %></div>

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.no_offer.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.no_offer.subtitle' %></div>
  </div>


</div>