<div class="flex_center">
  <button dir="ltr" class="ok blue primary btn waves-effect flex_center">
    <span class="ok_text">OK</span>
    <span class="ok_icon"><i class="material-icons">done</i></span>
  </button>
</div>
