<div class="flex_center">
  <button dir="ltr" class="ok blue primary btn waves-effect flex_center" data-action=<%= local_assigns[:action] ? action : ''  %> >
    <div class="ok_text">OK</div>
  </button>
</div>
