<div class="blue primary btn waves-effect" data-action="order">
  <%= t 'isearch.button.text' %>
</div>

<!--
<button class="btn-flat waves-effect more action"
        data-t-placeOrder="<%= t 'offer.placeOrder' %>"
        data-action="order">
</button>
-->
