<div class="swiper-slide branch flex_around column" data-hash="pickup_payment">

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.pickup_payment.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.service.subtitle' %></div>
  </div>

  <%= render '/exchanges/isearch/credit', path: 'pickup' %>
  <%= render '/exchanges/isearch/cash', path: 'pickup' %>


</div>