<div class="swiper-slide flex_around column" data-hash="pickup_offer" data-slideto="end">

  <div class="iform_title_subtitle flex_center column">
    <div class="iform_title"><%= t 'isearch.pickup_offer.title' %></div>
    <div class="iform_subtitle"><%= t 'isearch.pickup_offer.subtitle' %></div>
  </div>

</div>