<div class="swiper-slide flex_around column" data-hash="pickup_offer" data-slideto="pickup_details" data-slideto-alternative="pickup_order">

  <div class="section">
    <%= render 'exchanges/isearch/title' %>
  </div>

  <div class="section">
    <%= render 'exchanges/templates/offer' %>
    <%= render 'exchanges/isearch/alternative' %>
  </div>

  <div class="section reserved_to_button">
    <%= render 'exchanges/isearch/order_button' %>
  </div>

</div>