<div class="swiper-slide flex_around column" data-hash="service" data-index="2">

  <div class="binary alternative flex_center column">
    <div class="isearch_icon"><%= image_tag 'delivery.png' %></div>
    <div class="text">Deliver it</div>
  </div>

  <div class="binary alternative flex_center column" data-slideto="travelMode">
    <div class="isearch_icon"><%= image_tag 'pickup.png' %></div>
    <div class="text">I'll pick it up myself</div>
  </div>
</div>