<div class="iform_title_subtitle flex_center column">
  <div class="iform_title"><%= t 'isearch.offer.title' %></div>
  <div class="iform_subtitle pickup">
    <span><%= t 'isearch.offer.subtitle_pickup.prefix' %></span>
    <span data-model="local" data-field="distance"></span>
    <span><%= t 'isearch.offer.subtitle_pickup.suffix' %></span>
  </div>
</div>
<div class="nameAndAddress flex_center column">
  <div class="na_name" data-model="local" data-field="exchange_name"></div>
  <div class="na_address" data-model="local" data-field="exchange_address"></div>
</div>