<div class="iform_title_subtitle flex_center column">
  <div class="iform_title"><%= t 'isearch.offer.title' %></div>
  <div class="iform_subtitle pickup"><%= t 'isearch.offer.subtitle_pickup' %></div>
  <div class="iform_subtitle delivery"><%= t 'isearch.offer.subtitle_delivery' %></div>
</div>
<div class="nameAndAddress flex_center column">
  <div class="na_name" data-model="local" data-field="exchange_name"></div>
  <div class="na_address" data-model="local" data-field="exchange_address"></div>
</div>