<div class="iform_title_subtitle flex_center column">
  <div class="iform_title"><%= t 'isearch.offer.title' %></div>
  <div class="iform_subtitle pickup"><%= t 'isearch.offer.subtitle_pickup' %></div>
  <div class="iform_subtitle delivery"><%= t 'isearch.offer.subtitle_delivery' %></div>
</div>