<div class="pane" data-pane="reviews">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow-left', center: 'Reviews', right_pane: 'none', right_icon: 'none'} %>

  <ul class="reviews_list list-group"></ul>

</div>