<div class="pane" data-pane="reviews">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow_back', center: 'Reviews', right_pane: 'none', right_icon: 'none'} %>

  <div class="reviews_list list-group"></div>

</div>