<div class="pane" data-pane="directions">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow-left', center: 'Directions', right_pane: 'textual', right_icon: 'road'} %>

  <div id="directions_map_container">
    <div id="directions-map-canvas" data-clicked="directions_map"></div>
  </div>

  <div class="call_to_action" data-href-page="exchanges" data-href-id="id" data-href-pane="order">Get it</div>

</div>