<div class="pane" data-pane="textual">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow-left', center: 'Step by Step', right_pane: 'directions', right_id: 'id', right_icon: 'map-o'} %>

  <div id="directionsPanel"></div>

</div>