<div class="pane" data-pane="textual">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'chevron-left', center: 'Step by Step', right_pane: 'map', right_icon: 'map'} %>

  <div id="directionsPanel"></div>

</div>