$brand-color: #FA5241;
$brand-font: "Giorgio";
$regular-font: 'Roboto', sans-serif;
$basic-color: #555555;
$inverse-color: #ffffff;


#landing #message {
  margin-top: 50vh;
  color: $inverse-color;
  font-weight: 600;
  text-shadow: 0 0px 5px #000000;
  #message_header {
    text-transform: uppercase;
    font-size: 2.2em;
  }
  #message_remainder {
    font-size: 1em;
    font-weight: 100;
  }
}

#landing nav.navbar-inverse {
    background: none;
    border: none;
    #comp_name {
        font-size: 2em;
        margin-left: 5%;
        padding-top: 20px;
        color: $basic-color;
        padding: 20px;
        font-weight: 800;
    }
    
    a {
     color: $inverse-color;
     font-size: 1.1em;   
    }
}

#landing .navbar .nav > li > a {
    font-size: 1.2em;
    font-family: $regular-font;
    font-weight: 600;
}

@media (max-width: 600px) {
    body {
        background-image: image-url('bgm2.jpg');
        background-repeat:  no-repeat;
        background-position-x:  center;
        background-position-y:  center;
        background-size: cover;
    }    
}
@media (min-width: 601px){
    body {
        background-image: image-url('bg1.jpg');
        background-repeat:  no-repeat;
        background-position-x:  center;
        background-position-y:  center;
        background-size: cover;  
        background-position: bottom;      
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    #map_container {
        display: none;
    }
}

body#landing {
    color: $basic-color;
}  

#landing_header {
    height: 100px;
}

#landing .page-title {
    font-family: "Giorgio";
    color: $brand-color;
    font-size: 2em;
}

#landing .navbar {
    margin-bottom: 0;
}

.wrapper_grey {
    background-color: #f2f2f2;
    padding: 0 30px;
}

#new_visitor {
    margin-top: 35px;
}

#landing .hero.title {
    font-size: 1.5em;
    text-transform: none;
}

#landing #landing_main_button {
    margin-left: 5%;
    width: 96%;
}

#landing_page .form-horizontal .controls {
    margin-left: 20px;
}


#video_background {
    width: 100%;
}

#landing .nav.navbar-nav li a {
    line-height: 40px;
}

#fb_like {
    line-height: 30px;
}

#subscribe form {
    margin-top: 50px;
}

#subscribe form .form-group{
    margin-top: 50px;
}

#landing #landing_content .row #subscribe {
    text-shadow: none;
    text-transform: none;
    background-color: #555555;
}

body#landing, #landing h2 {

    font-family: 'Helvetica';
}


#landing_options_form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 1.5em;
}

#para {
    font-size: 3.8em;
    text-transform: uppercase;
    font-weight: 600;
}

.handwriting {
}

.name_and_logo {
    /*
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    */    
}

#landing_title {
    font-size: 1.5em;
}
#landing_name.h1 {
    text-align: left;
    font-size: 5.5em;
    font-weight: 800;
}
#landing_icon {
    width: 15%;
    margin-left: auto;
    margin-right: auto;    
    
}
#landing_icon img {
    width: 8%;
    position: relative;
    bottom: 8px;
}
#landing input:not(.btn) {
    /*
    opacity: 1;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    */
}
#landing input[type="text"] {
    color: #555555;
}

#find_out {
    position: relative;
    top: 24px;
}
#landing select {
    color: #888;
    text-align: -webkit-center;
    text-align: center;
}


.form-group.inline div, .form-group.inline label, .form-group.inline input {
    display: inline;
    line-height: 42px;
}
div.inline {
    display: block;
}
#landing #new_visitor input:not(#visitor_email),  #landing #new_visitor label, #landing #new_visitor select {
    font-size: 24px;  
    line-height: 24px;
    margin-bottom: 20px;
}
#landing #new_visitor input.btn {
    height: 54px;
}
#landing #visitor_email {
    height: 54px;
    width: 100%;
    
}

@media only screen and (max-width: 767px) {
    #landing #new_visitor input.btn, #landing #visitor_email {
        height: 54px;
        width: 85%;
        margin-left: 6%;
        background-color: #ffffff;
    }
     body#landing, #landing h2 {
        color: #333333;
        text-shadow: none;
    }   
}
#landing #new_visitor input#visitor_email {
    font-size: 16px;
}

#new_visitor input, #new_visitor select {
    width: 85%;
    height: 42px;
}
h1.hero {
    font-size: 3.0em;
    font-weight: 600;
}

#landing_content {
}
