<div class="pane" data-pane="offer">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow-left', center: 'Offer', right_pane: 'none', right_icon: 'none'} %>

  <div class="exchange_photo"></div>

  <div class="expiry">
    <span class="valid_by">Valid by</span>
    <span data-model="order" data-field="expiry_t"></span>
  </div>

  <div class="offer no_padding text-center">
     <p class="amounts">
      <span data-model="exchange" data-field="pay_amount"></span>
      <span data-model="exchange" data-field="pay_currency" style="display: none"></span>
      <span class="exchange_icon"><%= fa_icon "caret-right" %></span>
      <span data-model="exchange" data-field="buy_amount"></span>
      <span data-model="exchange" data-field="buy_currency" style="display: none"></span>
    </p>
  </div>

  <div class="exchange_info">
    <div data-model="exchange" data-field="name"></div>
    <div data-model="exchange" data-field="address"></div>
    <div class="col-xs-7 no_padding  ">
      <input data-model="exchange" data-field="rating" data-exchange-id="null" class="ratings rating-loading pull-left">
    </div>
    <div class="col-xs-5 pull-right text-right reach-out-right">
      <div class="reviews" data-href-page="exchanges" data-href-id="id" data-href-pane="reviews">
        <span data-model="exchange" data-field="reviews"></span>
        <span class="review_word">reviews</span>
      </div>
    </div>
  </div>

  <div class="call_to_action"
       data-model="exchange"
       data-href-page="exchanges"
       data-href-id="id"
       data-href-pane="order"
       data-ajax="updateOrder"
       data-order-status="ordered"
       data-exchange-delivery_tracking="null">
    Order
  </div>
  <div class="motivation_to_action">
   </div>


</div>