<div id="exchange_deal" class="pane transition flop" data-pane="deal" data-model="exchange" data-id='' style="display: none">

  <div class="voucher_title text-center">
    <span data-model="order" data-field="service_type" style="display: none"></span>
    <span>Order</span>
    <span data-model="order" data-field="id" style="display: none"></span>
    <span class="voucher_number" data-model="order" data-field="voucher"></span>
  </div>

  <div class="voucher_validity text-center">
    <span><%= fa_icon "clock-o", text: "  Valid through", left: true %></span>
    <span class="voucher_expiry" data-model="order" data-field="expiry_s"></span>
  </div>

  <div class="exchange_order text-center">
    <div class="row">
      <div class="col-md-12 col-xs-12 order_wrapper">
        <div class="order">
          <span data-model="exchange" data-field="pay_amount"></span>
          <span data-model="exchange" data-field="pay_currency" style="display: none"></span>
          <span class="exchange_icon"><%= fa_icon "caret-right" %></span>
          <span data-model="exchange" data-field="buy_amount"></span>
          <span data-model="exchange" data-field="buy_currency" style="display: none"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_banner text-center">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="es_name" data-model="exchange" data-field="name_s"></div>
        <div class="es_address" data-model="exchange" data-field="address"></div>
        <div class="es_opening_hours" data-model="exchange" data-field="open_today" style="display: none"></div>
      </div>
    </div>
  </div>

  <div id="rate_guarantee">
    <div id="rate_guarantee_title">Help us improve and get £5</div>
    <div id="rate_guarantee_text">
      <p>Share your experience with us and we'll send you £5 with our gratitude.</p>
      <p> We'll also compensate you if the price was inaccurate for whatever reason.</p>
    </div>
  </div>

  <div class="button_link">
    <div data-href-page="exchanges" data-href-id="369" data-href-pane="directions"
            data-event="Directions"
            class="btn btn-warning">
    Get there
    </div>
  </div>


</div>