<div class="pane" data-pane="update">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow_back', center: 'search_params', right_pane: 'none', right_icon: ''} %>

  <%= render 'exchanges/templates/form', purpose: 'update' %>

</div>