<div class="user section flex_around column">

  <div data-model="order" data-field="name"></div>
  <div data-model="order" data-field="email"></div>
  <div data-model="order" data-field="delivery_address"></div>

</div>