<div class="pane" data-pane="try">

<div class="card">

  <div class="data item">

    <div class="row fullcard">
      <div class="col-xs-7">
        <input data-model="exchange" data-field="rating" class="fullcard ratings rating-loading pull-left">
      </div>
      <div class="col-xs-5 reach-out-right text-right">
        <div class="reviews" data-href-page="exchanges" data-href-id="curr" data-href-pane="reviews">
          <span data-model="exchange" data-field="reviews"></span>
          <span class="review_word">reviews</span>
        </div>
      </div>
    </div>
    <div data-model="exchange" data-field="name" class="fullcard"></div>
    <div data-model="exchange" data-field="address" class="fullcard"></div>
    <div data-model="exchange" data-field="edited_quote">669</div>
    <div class="explore">
      <div class="action">explore</div>
      <div class="explore_icon">
        <i class="fa fa-chevron-up"></i>
      </div>

    </div>

  </div>

</div>

</div>