<div class="pane" data-pane="try">

    <div class="swiper-container swiper-container-try">

      <div class="swiper-wrapper swiper-wrapper-try">

        <div class="swiper-slide swiper-slide-try fullscreen">1</div>
        <div class="swiper-slide swiper-slide-try fullscreen">2</div>

      </div>

    </div>

</div>