<div class="pane" data-pane="try">


  <form action="#">
    <h6>First Name</h6>
    <input type='text' name='fname' required />

    <h6>Last Name</h6>
    <input type='text' name='lname' required />

    <h6>Email</h6>
    <input type='email' name='email' required />

    <h6>Password</h6>
    <input type='text' name='password' required />

    <input type="submit">
  </form>
  Run code snippetHide results

  <div class="md-form">
    <input type="email" name="user[email]" id="user_email" class="form-control" required/>
    <label for="user_email" class="control-label text-right"><%= t 'user.email' %></label>
  </div>

  <div class="md-form">
    <input type="password" name="user[password]" id="user_password" class="form-control" required/>
    <label for="user_password" class="control-label text-right"><%= t 'user.password' %></label>
  </div>

  <div class="md-form">
    <input type="password" name="user[password_repeat]" id="user_password_repeat" class="form-control" required/>
    <label for="user_password_repeat" class="control-label text-right"><%= t 'user.password_repeat' %></label>
  </div>


  <div class="md-form submit flex_center">
    <button type="submit" class="blue primary btn waves-effect" data-action="createUser" data-href-pane="payment" data-href-id="curr"><%= t 'user.next' %></button>
  </div>


</div>