<div class="pane" data-pane="try">

  <div class="menu_option data-href-page=exchanges data-href-pane=list">
    <div class="menu_option_icon"><i class="material-icons col-xs-1">pageview</i></div>
    <div class="menu_option_name">View more offers</div>
  </div>  <div data-href-page="exchanges" data-href-pane="list">Click me</div>

</div>