<div class="pane" data-pane="intro">

  <div class="mobile_background">

    <div class="swiper-container swiper-container-intro">

      <div class="swiper-wrapper swiper-wrapper-intro">

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                      illustration: 'cambiu_vertical_white_c.png',
                      title: I18n.t('intro.slide1.title').html_safe,
                      text: nil,
                      getOffer: true,
                      left: nil,
                      right: "<i class=material-icons>help_outline</i>".html_safe,
                      seq: 'a'
                    }
        %>

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                       illustration: 'illustration_flower_c.png'  ,
                       title: I18n.t('intro.slide2.title').html_safe,
                       text: I18n.t('intro.slide2.text').html_safe,
                       getOffer: false,
                       left: "<span data-href-page=exchanges data-href-pane=isearch data-href-hash=buy>#{I18n.t('intro.skip')}</span>".html_safe,
                       right: "<i class=material-icons>keyboard_arrow_right</i>".html_safe,
                       seq: 'b'
                   }
        %>

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                       illustration: 'illustration_megaphone_c.png',
                       title: I18n.t('intro.slide3.title').html_safe,
                       text: I18n.t('intro.slide3.text').html_safe,
                       getOffer: false,
                       left: "<span data-href-page=exchanges data-href-pane=isearch data-href-hash=buy>#{I18n.t('intro.skip')}</span>".html_safe,
                       right: "<i class=material-icons>keyboard_arrow_right</i>".html_safe,
                       seq: 'c'
                   }
        %>

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                       illustration: 'illustration_cards_c.png',
                       title: I18n.t('intro.slide4.title').html_safe,
                       text: I18n.t('intro.slide4.text').html_safe,
                       getOffer: true,
                       left: nil,
                       right: nil,
                       seq: 'd'
                   }
        %>

      </div>

      <div class="swiper-pagination swiper-pagination-intro"></div>

    </div>

  </div>

</div>