<div class="pane" data-pane="intro">

  <div class="mobile_background">

    <div class="swiper-container swiper-container-intro">

      <div class="swiper-wrapper swiper-wrapper-intro">

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                      illustration: 'cambiu_vertical_white.png',
                      title: nil,
                      text: "World's first <br> currency marketplace.".html_safe,
                      getOffer: true,
                      left: nil,
                      right: "<i class=material-icons>help_outline</i>".html_safe,
                      seq: 'a'
                    }
        %>

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                       illustration: 'illustration_flower_small.png'  ,
                       title: 'You have something to offer',
                       text: 'The currency you pay may be worth a lot to some merchants.',
                       getOffer: false,
                       left: "<span data-href-page=exchanges data-href-pane=search>skip</span>".html_safe,
                       right: "<i class=material-icons>keyboard_arrow_right</i>".html_safe,
                       seq: 'b'
                   }
        %>

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                       illustration: 'illustration_megaphone_small.png',
                       title: 'So we inform merchants',
                       text: "And get you offers that are <br> tailor-made to your needs.".html_safe,
                       getOffer: false,
                       left: "<span data-href-page=exchanges data-href-pane=search>skip</span>".html_safe,
                       right: "<i class=material-icons>keyboard_arrow_right</i>".html_safe,
                       seq: 'c'
                   }
        %>

        <%= render partial: 'exchanges/intro/template',
                   locals: {
                       illustration: 'illustration_cards_small.png',
                       title: 'Find your best offer',
                       text: "Have more to spend. <br> Thank us later.".html_safe,
                       getOffer: true,
                       left: nil,
                       right: nil,
                       seq: 'd'
                   }
        %>

      </div>

      <div class="swiper-pagination swiper-pagination-intro"></div>

    </div>

  </div>

</div>