<div class="above_fold" data-clicked="above_fold" style="display: <%= (request.url.include? 'exchanges') ? 'none' : 'block' %>" >

  <div class="background-wrap desktop_only">

    <iframe id="player"
            src="https://www.youtube.com/embed/WxZaqaQO8hg?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&volume=0&enablejsapi=1">
    </iframe>

    <div class="marketing">
      <div class="message darkness">
        <h1>Feeling in the dark?</h1>
        <p>No more</p>
      </div>
      <div class="message lightness">
        <h1>cambiu changes currency exchange</h1>
        <p>and saves you a ton of money</p>
      </div>
   </div>

   <div class="homesearch">
     <p>Our independent, free service will find you the best deal exactly where you are. Click and see for yourself:</p>
     <div class="list-group-item">
       <%= render 'exchanges/params/search_form' %>
     </div>
   </div>

  </div>

  <div id="mobile_search" class="background-wrap mobile_only">

    <div class="intro">
      <p>Best currency exchange offers right where you are.</p>
    </div>

    <div class="mobilesearch">
      <%= render partial: 'exchanges/params/collapsible_unit', locals: {container: '#mobile_search'} %>
    </div>

  </div>


</div>
