<div class="above_fold row" data-clicked="above_fold" style="display: <%= (request.url.include? 'exchanges') ? 'none' : 'block' %>" >

  <div id="above_folder_background" class="background-wrap desktop_only">

    <div id="background"></div>
    <iframe id="player"></iframe>

    <div class="marketing">
      <div class="message darkness">
        <h1>Any idea how much you pay for currency exchange?</h1>
        <p>Step out of darkness</p>
      </div>
      <div class="message lightness">
        <h1>cambiu changes currency exchange</h1>
        <p>First location-base, personalized exchange service is here</p>
      </div>
   </div>

  </div>

  <div class="mobile_background mobile_only">

    <div class="swiper-container swiper-container-intro">
      <div class="swiper-wrapper swiper-wrapper-intro">
        <div class="swiper-slide intro-slide content">
          <p>Best currency exchange offers right where you are.</p>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
        <div class="swiper-slide intro-slide content">
          <p>Slide 2</p>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
        <div class="swiper-slide intro-slide content">
          <p>Slide 3</p>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
        <div class="swiper-slide intro-slide content">
          <p>Slide 4</p>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>


</div>
