<div class="above_fold" data-clicked="marketing messages" style="display: <%= (request.url.include? 'exchanges') ? 'none' : 'block' %>" >

  <div class="background-wrap">

    <iframe id="player"
      src="https://www.youtube.com/embed/WxZaqaQO8hg?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&volume=0&enablejsapi=1&origin=localhost:3000">
    </iframe>

  </div>

  <div class="marketing">

    <h1>Let offers find you</h1>
    <p>Click to get the best offer in London</p>

  </div>


</div>

<%= render 'search_form' %>

