<div class="above_fold" data-clicked="above_fold" style="display: <%= (request.url.include? 'exchanges') ? 'none' : 'block' %>" >

  <div class="background-wrap">
    <iframe id="player" class="desktop_only"
            src="https://www.youtube.com/embed/WxZaqaQO8hg?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0&volume=0&enablejsapi=1">
    </iframe>
  </div>

  <div class="marketing">
    <div class="message darkness">
      <h1>Looking for currency exchange?</h1>
      <p>Feeling mystified?</p>
    </div>
    <div class="message lightness">
      <h1>cambiu changes currency exchange</h1>
      <p>and saves you a ton of money</p>
    </div>
      <div class="message ">
      <p>cambiu systems is regularly updated with hundreds of exchanges.</p>
      <p>When you click, we find the best offer for your location, saving you up to 15%.</p>
    </div>
  </div>


</div>

<%= render 'search_form' %>

