<div class="above_fold" data-clicked="above_fold" style="display: <%= (request.url.include? 'exchanges') ? 'none' : 'block' %>" >

  <div id="above_folder_background" class="background-wrap desktop_only">

    <div id="background"></div>
    <iframe id="player"
            src="https://www.youtube.com/embed/WxZaqaQO8hg?autoplay=1&controls=0&loop=0&modestbranding=1&rel=0&showinfo=0&volume=0&enablejsapi=1">
    </iframe>

    <div class="marketing">
      <div class="message darkness">
        <h1>Any idea how much you pay for currency exchange?</h1>
        <p>Step out of darkness</p>
      </div>
      <div class="message lightness">
        <h1>cambiu changes currency exchange</h1>
        <p>First location-base, personalized exchange service is here</p>
      </div>
   </div>

   <div class="homesearch">
     <p>Click and we'll find you the <strong>best value for you</strong>. Right where you are.</p>
     <div class="list-group-item">
       <%= render 'exchanges/params/search_form' %>
     </div>
   </div>

  </div>

  <div id="mobile_search" class="background-wrap mobile_only">

    <div class="intro">
      <p>Best currency exchange offers right where you are.</p>
    </div>

    <div class="mobilesearch">
      <%= render partial: 'exchanges/params/collapsible_unit', locals: {container: '#mobile_search'} %>
    </div>

  </div>


</div>
