<div id="exchanges_header_item" class="list-group-item">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div id="loader_message">
        <span id="loading_icon"><%= image_tag "loader1.gif"%></span>
        <span>Finding offers...</span>
      </div>
      <div id="result_message" style="display: none;">
        <span class="badge" id="exchanges_count"></span>
        <span> matching offers found, </span>
        <span id="sort_order"></span>
      </div>
      <div id="empty_message" style="display: none;">
        <span>No offers found in </span>
        <span id="empty_location"></span>.&nbsp;
        <span><a>Change your search</a></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
