<a name="exchanges" class="section_anchor"></a>
<div class="container-fluid">
	<div id="exchanges_page">
      <!-- render 'exchange_params' to return oldstyle params bar -->
       <div class="row" id="exchanges_content">
           <div id="exchanges" class="col-md-5 col-xs-12">
               <div  id="exchanges_list">
                    <div class="list-group">
                       <!--   Search trigger, loading indicator -->
                         <%= render 'exchanges_header_item' %>
                        <div id="exchanges_items">
							<!--   Exchange list goes here -->
						</div>
                    </div>
				</div>
			</div>
			<div id="map_container" class="col-md-7">
				<div id="map-canvas"></div>			
			</div>
		</div>
	</div>				  			  	

	<!--   Exchange row template  -->
	<div class="exchange_row template" style="display: none;">
	
		<a class="list-group-item " data-toggle="collapse" href="#exchange_det_0">
			<div class="row">
				<%= render 'exchange_sum_template' %>
			</div>			
		</a>
		<div class="exchange_row_det collapse well" id="exchange_det_0">
			<div class="row">
				<%= render 'exchange_det_template' %>
			</div>
	  	</div>
	</div>	
	
	<!--   Exchange InfoWindow template  -->
	<div class="exchange_window template" id="0">
		<div class="exchange_window_sum">
			<div class="exchange_window_quote"></div>
		</div>
		<div class="exchange_window_det" style="display:none;">
			<div class="exchange_window_name"></div>
			<div class="exchange_window_address"></div>
			<div class="exchange_window_quote"></div>
			<div class="exchange_window_open"></div>				
		</div>
	</div>		
		

</div>
