
<div id="distance" class="middle-parent col-md-2 col-xs-2">
	<div class="middle-child ">
		<div class="distance"></div>
		<div class="units-d">km</div>
		<div class="units-m"></div>
	</div>
</div>

<div class="middle-parent col-md- col-xs-6">
	<div class="name middle-child"></div>
</div>
<div class="middle-parent col-md-3 col-xs-3">
	<div class="middle-child">
		<div class="quote col-md-12 col-xs-12"></div>
		<div class="comparison" class="col-md-12 col-xs-12" style="display: none;">
			<span class="comparison-d">Gain </span>
			<span class="comparison-m">+ </span>
			<span class="comparison-amount"></span>
		</div>			
	</div>
</div>
<div class="middle-parent col-md-2 col-xs-2">
	<div class="getit middle-child"><button class="btn btn-mini btn-default rounded">Get it</button></div>
	<div class="close middle-child" style="display: none;"><i class="fa fa-times"></i></div>
</div>
