<div class="getstarted row">
  <div class="col-md-offset-2 col-md-8 col-xs-12">
    <div class="row">
      <div class="col-md-offset-4 col-md-3 col-xs-12">
        <div class="getstarted_button_container <%= cseq %>">
          <%= image_tag 'logo_no_text.png' %>
          <button class="btn getstarted_button" data-seq="<%= seq %>">Get started</button>
        </div>
      </div>
    </div>
  </div>
</div>
