<div class="getstarted_button_container <%= cseq %>">
  <%= image_tag 'logo_no_text.png' %>
  <button class="btn getstarted_button" data-href = "exchanges/list" data-form="#new_search" data-seq="<%= seq %>">Get started</button>
</div>
