<div class="row">
    <div class="map_heading text-center">
      <p>Currently connected <strong>537 exchanges</strong> and counting</p>
    </div>
    <div class="map">
      <%= image_tag 'Map.gif' %>
    </div>
</div>
<%= render 'getstarted' %>
