<div class="row" data-clicked="map">
    <div class="map_heading text-center">
      <p>Our hand-picked currency exchange network is <strong>growing</strong></p>
    </div>
<!--
    <div class="map">
      <%= image_tag 'Map.gif' %>
    </div>
-->
</div>
<!--
<div class="row">
  <div class="col-md-offset-5 col-md-2 col-xs-12">
    <%= render partial: 'getstarted', locals: {seq: 2, cseq: 'b'} %>
  </div>
</div>
-->
