<%= content_tag("div", class: "item #{status}")  do %>
    <div class="row">
        <div class="col-md-2 col-xs-12">
             <a class="left carousel-control middle-parent" href="#testimonials_carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left middle-child"></span>
            </a>
         </div>
        <div class="col-md-2 col-xs-4 col-xs-offset-4 col-md-offset-0 middle-parent">
          <div class="middle-child">
            <%= image_tag "testimonials_user_#{number}.png", class: "media-object img-rounded img-responsive" %>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 middle-parent">
          <div class="caption middle-child">
            <p class="testimonial">
            	<% case number %>
            	<% when '1' %>
            	"It's easy to use, location based and offers great rates. What's not to like ?!"
            	<% when '2' %>
            	"The service is so simple and intuitive , I use it on my smartphone."
            	<% when '3' %>
            	"So cool! Why didn't anyone think of this before?"
            	<% when '4' %>
            	"It's a fantastic service and the best thing is- it saves me money "
				<% end %>
			</p>
           </div>
        </div>
        <div class="col-md-1 col-xs-12">
          <a class="right carousel-control middle-parent" href="#testimonials_carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right middle-child"></span>
          </a>
        </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-ms-6 col-xs-12">
        <p class="credit">
          <% case number %>
          <% when '1' %>
              Liron Guy, Marketing, Tel Aviv
          <% when '2' %>
              John Shelford, Fashion Designer , London
          <% when '3' %>
              Kevin Tailor, Student , London
          <% when '4' %>
              Oliver Nelson, Adman , London
        <% end %>
        </p>
      </div>
    </div>
<% end %>
