<div id="homepage" class="mainpage active" style="display: block">
  <% if 2 == 2 %>
    <%= render 'homepage'%>
  <% end %>
</div>
<div id="exchanges" class="mainpage" style="display: none">
	<%= render 'exchanges/index'%>
</div>