<div id="homepage" class="page active" data-page="homepage">
    <%= render 'homepage'%>
 </div>
<div id="exchanges" class="page" data-page="exchanges">
	<%= render 'exchanges/index'%>
</div>
<div style="display: none">
  <%= render 'search_form' %>
</div>