<div id="homepage" class="page active" data-page="/homepage" style="display: block">
  <% if 2 == 2 %>
    <%= render 'homepage'%>
  <% end %>
</div>
<div id="exchanges" class="page" data-page="/exchanges" style="display: none">
	<%= render 'exchanges/index'%>
</div>