<div id="exchange_summary" class="page" style="display: none">

  <div class="exchange_summary_bg">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="exchange_summary_title">Exchange Summary</div>
        <%= image_tag 'summary_bg.jpg' %>
      </div>
    </div>
  </div>

  <div class="exchange_summary_banner">
    <div class="row">
      <div class="col-md-2 col-xs-2">
        <div class="left">
          <div class="es_icon"><%= fa_icon 'map-marker inverse' %></div>
          <div class="es_distance">456m</div>
        </div>
      </div>
      <div class="col-md-10 col-xs-10">
        <div class="right">
          <div class="es_name">Moneycorp Currency Exchange Service</div>
          <div class="es_address">4 Sloan Square bla bla bla</div>
          <div class="es_opening_hours">Open Today: 10:00am  -  5:00pm</div>
        </div>
      </div>
    </div>
  </div>

  <div class="order">
    <div class="row">
      <div class="buy col-xs-4 col-xs-offset-2">
        <div>
          <span>You chose to buy</span>
          <span>For</span>
        </div>
      </div>
      <div class="pay col-xs-4">
        <div>
            <span class="buy_amount">$ 1,367.40</span>
            <span class="buy_currency">EUR</span>
        </div>
        <div>
            <span class="pay_amount">1,000</span>
            <span class="pay_currency">GBP</span>
        <div>
            <span class="gain_amount">35.20</span>
            <span class="gain_currency">EUR</span>
            <span>more than the bank</span>
        </div>
      </div>
    </div>
  </div>









</div>
