<div id="exchange_summary" class="pane" data-pane="summary" data-model="exchange" data-id='' style="display: none">

  <div class="exchange_summary_bg">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="exchange_summary_title">Exchange Summary</div>
<!--
        <div class="back" data-href="#exchanges_list"><%= fa_icon "chevron-left", text: "  Back", left: true %></div>
-->
        <%= image_tag 'summary_bg.jpg' %>
      </div>
    </div>
  </div>

  <div class="exchange_summary_banner">
    <div class="row">
      <div class="col-md-2 col-xs-2">
        <div class="left">
          <div class="es_icon"><%= fa_icon 'map-marker inverse' %></div>
          <div class="es_distance" data-model="exchange" data-field="distance"></div>
        </div>
      </div>
      <div class="col-md-10 col-xs-10">
        <div class="right">
          <div class="es_name" data-model="exchange" data-field="name"></div>
          <div class="es_address" data-model="exchange" data-field="address"></div>
          <div class="es_opening_hours" data-model="exchange" data-field="open_today"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="order">
    <div class="row">
      <div class="buy col-xs-4 col-xs-offset-1 col-md-4 col-md-offset-2">
        <div class="you_chose">
          <div>
            <span>You chose</span>
            <span class="desktop_only">to buy:</span>
          </div>
          <div>For:</div>
          <div>Your gain:</div>
        </div>
      </div>
      <div class="pay col-xs-5 col-md-4">
        <div class="sum">
            <span class="buy_amount" data-model="exchange" data-field="buy_amount"></span>
            <span class="buy_currency" data-model="exchange" data-field="buy_currency"></span>
        </div>
        <div class="sum">
            <span class="pay_amount" data-model="exchange" data-field="pay_amount"></span>
            <span class="pay_currency" data-model="exchange" data-field="pay_currency"></span>
        </div>
        <div class="sum">
            <span class="gain_amount" data-model="exchange" data-field="gain_amount"></span>
            <span class="gain_currency" data-model="exchange" data-field="gain_currency"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="email_form">
    <div class="row">
        <div class="col-xs-12">
            <%= render 'email_form' %>
            <p class="no_thanks text-center">
                <a  data-href="exchanges/list">No thanks, I'll keep searching</a>
            </p>
        </div>
    </div>
  </div>



</div>