<div class="pane" data-pane="map">


  <%= render partial: 'navbar', locals: {left_pane: 'search', left_icon: 'search', center: 'search_params', right_pane: nil, right_icon: 'shopping-basket'} %>

  <div id="markers">

    <!-- Exchange markers go here -->

  </div>

  <div id="radar">
    <div id="rad"></div>
  </div>

  <div class="swiper-container swiper-container-h swiper-container-horizontal">
    <div id="cards" class="swiper-wrapper">

      <!-- Exchange cards go here -->

    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div id="map_container" class="mobile_only">
    <div id="map-canvas" data-clicked="map"></div>

    <div id="userLoc">
      <div class="dot"></div>
      <div class="pulse1"></div>
      <div class="pulse2"></div>
    </div>


  </div>

</div>