<div class="pane" data-pane="map">


  <%= render partial: 'navbar', locals: {left_pane: 'search', left_icon: 'search', center: 'search_params', right_pane: nil, right_icon: 'shopping-basket'} %>

<!--
  <div id="markers">

    &lt;!&ndash; Exchange markers go here &ndash;&gt;

  </div>
-->

<!--
  <div id="radar_container">
    <div id="radar">
      <div id="rad"></div>
    </div>
  </div>
-->

  <div class="swiper-container swiper-container-h swiper-container-horizontal">
    <div class="progress"><div class="indeterminate"></div></div>
    <div id="cards" class="swiper-wrapper">

      <!-- Exchange cards go here -->

    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div id="map_container" class="mobile_only">
    <div id="map-canvas" data-clicked="map"></div>

    <div id="userLoc">
      <div class="dot"></div>
      <div class="pulse1"></div>
      <div class="pulse2"></div>
    </div>

    <div id="newradar">
      <section id='slide4'>
        <img src='http://www.ribbustingjokes.com/lilsusieq/scrapbook/frames/circle/frame_circle_A_1.png' style='width:178px'/>
        <div id='pulse1'></div>
        <div id='pulse2'></div>
      </section>
    </div>


  </div>

</div>