<div class="pane" data-pane="map">


  <%= render partial: 'navbar', locals: {left_pane: 'help', left_icon: 'info_outline', center: 'search_params', right_pane: "search", right_icon: 'search'} %>

  <div id="map_container" class="mobile_only">
    <div id="map-canvas" data-clicked="map"></div>

    <div id="userLoc">
      <div class="dot"></div>
      <div class="pulse1"></div>
      <div class="pulse2"></div>
    </div>

    <div id="newradar">
      <div id='pulse3'></div>
      <div id='pulse4'></div>
    </div>
  </div>


  <div class="swiper-container-container">
    <div class="swiper-container swiper-container-h swiper-container-horizontal">
      <div id="cards" class="swiper-wrapper">
        <!-- Exchange cards go here -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>


</div>