<div class="pane" data-pane="map">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'chevron-left', name: 'Map', right_pane: 'list', right_icon: 'list-ol'} %>

  <div id="map_container" class="mobile_only">
    <div id="map-canvas" data-clicked="map"></div>
  </div>

</div>