<div class="pane" data-pane="search">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow-left', center: 'search_params', right_pane: 'none', right_icon: ''} %>

  <%= render 'search_form' %>


</div>