<div class="pane" data-pane="search">

  <%= render partial: 'navbar', locals: {left_pane: 'none', left_icon: '', center: 'search_params', right_pane: 'none', right_icon: ''} %>

  <div class="swiper-container swiper-container-search">

    <div id="search_form" class="swiper-wrapper swiper-wrapper-search">

        <div class="swiper-slide swiper-slide-search fullscreen_navbar content">
          <%= render 'exchanges/search/what' %>
        </div>

        <div class="swiper-slide swiper-slide-search fullscreen_navbar content">
          <%= render 'exchanges/search/where' %>
        </div>

    </div>

    <div class="swiper-pagination swiper-pagination-search"></div>

  </div>

</div>