<form class="search" id="search_form">

  <div class="search_line flex_center">

    <div class="md-form buy_currency select">
      <i class="fa fa-envelope prefix"></i>
      <select id="buy_currency" data-model="search" data-field="buy_currency" data-symboltarget="buy_amount" name="search[buy_currency]"
              class="forn-control currency_select select optional text-center mdb-select">
        <option value="" disabled selected>Currency you want</option>
        <option data-symbol="$ "  value="USD">USD</option>
        <option data-symbol="€ "  value="EUR">EUR</option>
        <option data-symbol="￡ " value="GBP">GBP</option>
        <option data-symbol="$ "  value="AUD">AUD</option>
        <option data-symbol="$ "  value="CAD">CAD</option>
        <option data-symbol="￥ " value="JPY">JPY</option>
        <option data-symbol="¥ " value="CNY">CNY</option>
        <option data-symbol="$ " value="HKD">HKD</option>
        <option data-symbol="₪ " value="ILS">ILS</option>
        <option data-symbol="kr " value="NOK">NOK</option>
      </select>
      <label for="buy_currency">Need</label>
    </div>

    <div class="md-form buy_amount">
      <input type="tel" pattern="\d*" id="buy_amount" data-model="search" data-field="buy_amount" data-autonumeric="true" data-symbolsource="buy_currency" name="search[buy_amount]" class="form-control">
      <label for="buy_amount" class="control-label">Amount</label>
    </div>

  </div>

  <div class="search_line flex_center">

    <div class="md-form pay_currency select">
      <i class="fa fa-envelope prefix"></i>
      <select id="pay_currency" data-model="search" data-field="pay_currency" data-symboltarget="pay_amount" name="search[pay_currency]"
              class="currency_select select optional text-center mdb-select">
        <option value="" disabled selected>Currency you want</option>
        <option data-symbol="$ "  value="USD">USD</option>
        <option data-symbol="€ "  value="EUR">EUR</option>
        <option data-symbol="￡ " value="GBP">GBP</option>
        <option data-symbol="$ "  value="AUD">AUD</option>
        <option data-symbol="$ "  value="CAD">CAD</option>
        <option data-symbol="￥ " value="JPY">JPY</option>
        <option data-symbol="¥ " value="CNY">CNY</option>
        <option data-symbol="$ " value="HKD">HKD</option>
        <option data-symbol="₪ " value="ILS">ILS</option>
        <option data-symbol="kr " value="NOK">NOK</option>
      </select>
      <label for="pay_currency">Pay</label>
    </div>

    <div class="md-form pay_amount">
      <input type="tel" pattern="\d*" id="pay_amount" data-model="search" data-field="pay_amount" data-autonumeric="true" data-symbolsource="pay_currency" name="search[pay_amount]" class="form-control">
      <label for="pay_amount" class="control-label">Amount</label>
    </div>

  </div>

  <div class="search_line">
    <div class="md-form pay_currency select">
      <select id="pay_currency" data-model="search" data-field="pay_currency" data-symboltarget="pay_amount" name="search[pay_currency]"
              class="currency_select select optional text-center mdb-select">
        <option value="" disabled selected>Currency you want</option>
        <option data-symbol="$ "  value="USD">USD</option>
        <option data-symbol="€ "  value="EUR">EUR</option>
        <option data-symbol="￡ " value="GBP">GBP</option>
        <option data-symbol="$ "  value="AUD">AUD</option>
        <option data-symbol="$ "  value="CAD">CAD</option>
        <option data-symbol="￥ " value="JPY">JPY</option>
        <option data-symbol="¥ " value="CNY">CNY</option>
        <option data-symbol="$ " value="HKD">HKD</option>
        <option data-symbol="₪ " value="ILS">ILS</option>
        <option data-symbol="kr " value="NOK">NOK</option>
      </select>
      <label for="pay_currency">Pay</label>
    </div>

  </div>

  <div class="search_line">

    <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <input type="text" id="form2" class="form-control">
      <label for="form2">Example label</label>
    </div>

  </div>

 
  
  
  
  

  <div class="search_line">
    <div class="form-group flex_center">
      <div class="label">Pay with</div>
      <div class="radio">
        <label class="label">
          <input type="radio" name="search[service_type]" value="delivery" checked="">
          Delivery
        </label>
      </div>
      <div class="radio">
        <label class="label">
          <input type="radio" name="search[service_type]" value="pickup" checked="">
          Pick-up
        </label>
      </div>
    </div>
  </div>


  <div class="search_line">
    <div class="togglebutton">
      <label class="flex_between">
        <div class="label">Deliver to/Find the best offer where I'm at right now</div>
        <input type="checkbox" checked="">
        <span class="toggle"></span>
      </label>
    </div>
  </div>

  <div class="search_line">
    <div class="flex_center form-group location label-floating">
      <!--
              <label for="location" class="control-label">Where to look for</label>
      -->
      <label for="location" class="control-label">Deliver to/Find the best offer in</label>
      <span class="clear label"><i class=material-icons>cancel</i></span>
      <input type="text label" id="location" data-model="search" data-field="location" data-searchbox="true" name="search[location]" class="text-center location form-control">
      <span class="clear label"><i class=material-icons>cancel</i></span>
    </div>
  </div>

  <div class="hidden">

    <input type="hidden" name="search[location]"        id="location"         data-model="search" data-field="location">
    <input type="hidden" name="search[location_lat]"    id="location_lat"     data-model="search" data-field="location_lat">
    <input type="hidden" name="search[location_lng]"    id="location_lng"     data-model="search" data-field="location_lng">
    <input type="hidden" name="search[location_type]"   id="location_type"    data-model="search" data-field="location_type">
    <input type="hidden" name="search[location_reason]" id="location_reason"  data-model="search" data-field="location_reason">
    <input type="hidden" name="search[user_lat]"        id="user_lat"         data-model="search" data-field="user_lat">
    <input type="hidden" name="search[user_lng]"        id="user_lng"         data-model="search" data-field="user_lng">
    <input type="hidden" name="search[user_location]"   id="user_location"    data-model="search" data-field="user_location">

  </div>

  <div class="search_line">
    <div class="label">On</div>
    <div class="label">
      <div class="md-form">
        <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker">
        <label for="input_starttime">At</label>
      </div>
    </div>
  </div>
  <div class="search_line rate_comparison">
    <div class="rate_comparison_text">Our rate:</div>
    <div class="rate_comparison_figure">1.2205</div>
    <div class="rate_comparison_text">High-street rate:</div>
    <div class="rate_comparison_figure">1.3800</div>
  </div>


  <div class="search_line">
    <div class="form-group flex_center">
      <div class="label">Pay with</div>
      <div class="radio">
        <label class="label">
          <input type="radio" name="search[payment_method]" value="cash" checked="">
          Cash (will cancel delivery)
        </label>
      </div>
      <div class="radio">
        <label class="label">
          <input type="radio" name="search[payment_method]" value="credit" checked="">
          Credit Card
        </label>
      </div>
    </div>
  </div>

  <div class="search_line invoke flex_center">
    <button type="submit" class="action btn cta" data-ajax="searches">pay/find offers</button>
  </div>

</form>