<div class="search_section where flex_around column">

  <div class="search_heading">Location</div>

      <div class="flex_center form-group location label-floating">
<!--
        <label for="location" class="control-label">Where to look for</label>
-->
        <span class="clear"><i class=material-icons>clear</i></span>
        <input type="text" id="location" data-model="search" data-field="location" data-searchbox="true" name="search[location]" class="text-center location search form-control" placeholder="   Change location">
        <span class="clear"><i class=material-icons>clear</i></span>
      </div>

</div>

<div class="search_section radius flex_around column">

  <div class="search_heading">Radius</div>

      <div class="form-group radius radius label-floating">
<!--
        <label for="radius" class="control-label">Search within</label>
-->
        <input type="hidden" id="radius" data-model="search" data-field="radius" name="search[radius]">
        <div class="flex_center">
          <div id="slider"></div>
        </div>
      </div>

</div>

<div class="hidden">

    <div class="form-group location_lat hidden">
      <input type="hidden" name="search[location_lat]"    id="location_lat"     data-model="search" data-field="location_lat">
    </div>
    <div class="form-group location_lng hidden">
      <input type="hidden" name="search[location_lng]"    id="location_lng"     data-model="search" data-field="location_lng">
    </div>
    <div class="form-group location_type hidden">
      <input type="hidden" name="search[location_type]"    id="location_type"     data-model="search" data-field="location_type">
    </div>
    <div class="form-group location_reason hidden">
      <input type="hidden" name="search[location_reason]"    id="location_reason"     data-model="search" data-field="location_reason">
    </div>

</div>


<div class="search_section invoke flex_center">
  <button type="submit" class="action btn" data-ajax="searches">find offers</button>
</div>


<%= render partial: 'slidebar', locals: {swiper: 'swiperSearch', left: 'what', right: ''} %>