<div class="search_section where on flex_between column stretch">

  <div class="search_heading">Location</div>


  <div class="search_option">
    <div class="togglebutton">
      <label class="flex_between">
        <span class="search_option_text">Where I'm at</span>
        <input type="checkbox" checked="">
        <span class="toggle"></span>
      </label>
    </div>
  </div>

  <div class="flex_center form-group location label-floating">
<!--
        <label for="location" class="control-label">Where to look for</label>
-->
    <label for="location" class="control-label">Select location</label>
    <span class="clear"><i class=material-icons>cancel</i></span>
    <input type="text" id="location" data-model="search" data-field="location" data-searchbox="true" name="search[location]" class="text-center location search form-control">
    <span class="clear"><i class=material-icons>cancel</i></span>
  </div>

</div>

<div class="search_section radius flex_between column stretch">

  <div class="search_heading">Radius</div>

      <div class="form-group radius radius label-floating">
<!--
        <label for="radius" class="control-label">Search within</label>
-->
        <input type="hidden" id="radius" data-model="search" data-field="radius" name="search[radius]">
        <div class="flex_center">
          <div id="slider"></div>
        </div>
      </div>

</div>

<div class="hidden">

  <input type="hidden" name="search[location]"        id="location"         data-model="search" data-field="location">
  <input type="hidden" name="search[location_lat]"    id="location_lat"     data-model="search" data-field="location_lat">
  <input type="hidden" name="search[location_lng]"    id="location_lng"     data-model="search" data-field="location_lng">
  <input type="hidden" name="search[location_type]"   id="location_type"    data-model="search" data-field="location_type">
  <input type="hidden" name="search[location_reason]" id="location_reason"  data-model="search" data-field="location_reason">
  <input type="hidden" name="search[user_lat]"        id="user_lat"         data-model="search" data-field="user_lat">
  <input type="hidden" name="search[user_lng]"        id="user_lng"         data-model="search" data-field="user_lng">
  <input type="hidden" name="search[user_location]"   id="user_location"    data-model="search" data-field="user_location">

</div>


<div class="search_section invoke flex_center">
  <button type="submit" class="action btn" data-ajax="searches">find offers</button>
</div>


<%= render partial: 'slidebar', locals: {swiper: 'swiperSearch', left: 'main', right: ''} %>