<div class="connect-area ">
        <header>
            <h1 class="brand customer"><a href="https://gengo.com/" class="brand-logo">Gengo</a></h1>
            <h1 style="display:none;" class="brand translator"><a href="https://gengo.com/" class="brand-logo">Gengo</a></h1>
        </header>

        
        <!-- Login Form -->
        <form method="POST" action="https://gengo.com/auth/login/">
            
            <ol>
                <li class="control-group ">
                    <input type="email" placeholder="Email" value="" class="input-full login-email" name="login_email">
                </li>
                <li class="control-group ">
                    <input type="text" style="display:none;" placeholder="Password" value="Password" class="input-full text-password login-password" name="login_password">
                    <input type="password" value="" placeholder="Password" class="input-full real-password login-password" name="login_password">
                </li>
                <li>
                    <button class="btn btn-primary btn-full btn-chubby">Sign in</button>
                </li>
                <li class="login-sub-actions">
                    <a href="https://gengo.com/user/forgot_password/" class="forgot-password">Forgotten your password?</a>
                </li>

            </ol>
            <div class="divider-horizontal login-divider-horizontal"><span class="divider-label">or</span></div>
            <h3>Sign in with</h3>
            <ol class="row-fluid" id="social-login">
                <li>
                    <button class="btn btn-facebook btn-chubby span6" type="button" id="facebook_login"><i class="icon-facebook-login-small"></i>Facebook</button>
                </li>
                <li>
                    <button class="btn btn-google btn-chubby span6" href="/first-time" type="button" id="google_login"><i class="icon-google-login-small"></i>Google</button>
                </li>
            </ol>
        </form>

        
    </div>