<div id="new_parameters" class="clearfix collapse">
  <div class="list-group-item clearfix">
    <%= render 'exchanges/params/search_form' %>
  </div>
</div>

<div class="open_params_wrapper list-group-item mobile_only text-center">
  <a class="open_params open" data-toggle="collapse" data-target="<%= container %> #new_parameters"></a>
</div>
