<div id="exchange_params_wrapper" class="well clearfix">

  <div class="row">
    <div class="row desktop_only">
      <div class="col-md-2 params_title">
        Pay
      </div>
      <div class="col-md-2 params_title">
        Get
      </div>
    </div>

  </div>

  <div class="row">
    <form id="search_form" action="/exchanges/search" class="form-inline" novalidate>



       <div class="form-group col-md-1 reach-out-right col-xs-6">
        <input type="text" pattern="\d*" id="pay_amount" data-field="pay_amount" data-autonumeric="true" data-symbolsource="pay_currency" name="pay_amount" class="form-control"
               data-analyze="change" data-activity="Search" data-key1="searched" data-val1="amount" data-key2="type" data-val2="local" data-key3="amount">
      </div>
      <div class="form-group col-md-1 reach-out-left col-xs-6">
        <select id="pay_currency" data-field="pay_currency" data-symboltarget="pay_amount" name="pay_currency" class="currency_select select optional text-center form-control"
                data-analyze="change" data-activity="Search" data-key1="searched" data-val1="currency" data-key2="type" data-val2="local" data-key3="currency">
          <option selected disabled hidden value=''></option>
          <option data-symbol="￡ " value="GBP">GBP</option>
          <option data-symbol="€ " value="EUR">EUR</option>
          <option data-symbol="$ " value="USD">USD</option>
          <option data-symbol="$ " value="AUD">AUD</option>
          <option data-symbol="$ " value="CAD">CAD</option>
          <option data-symbol="￥ " value="JPY">JPY</option>
        </select>
      </div>

      <div class="form-group col-md-1 col-xs-6">
        <input type="text" pattern="\d*" id="buy_amount" data-field="buy_amount" data-autonumeric="true" data-symbolsource="buy_currency" name="buy_amount" class="form-control"
               data-analyze="change" data-activity="Search" data-key1="searched" data-val1="amount" data-key2="type" data-val2="local" data-key3="amount">
      </div>
      <div class="form-group col-md-1 col-xs-6">
        <select id="buy_currency" data-field="buy_currency" data-symboltarget="buy_amount" name="buy_currency" class="currency_select select optional text-center form-control"
                data-analyze="change" data-activity="Search" data-key1="searched" data-val1="currency" data-key2="type" data-val2="foreign" data-key3="currency">
          <option selected disabled hidden value=''></option>
          <option data-symbol="$ "  value="USD">USD</option>
          <option data-symbol="€ "  value="EUR">EUR</option>
          <option data-symbol="￡ " value="GBP">GBP</option>
          <option data-symbol="$ "  value="AUD">AUD</option>
          <option data-symbol="$ "  value="CAD">CAD</option>
          <option data-symbol="￥ " value="JPY">JPY</option>
        </select>
      </div>


      <div class="validation_errors">
      </div>

    </form>

  </div>


</div>