<div class="text-center">
	<span data-field="buy_amount" id="buy_amount_display">shalom</span>
	<span data-field="buy_currency" id="buy_currency_display">kita</span>
	<span data-field="location" id="searched_location_display">alef</span>
</div>
