<div class="row">

<form id="search_form" action="/exchanges/search" class="form-inline" novalidate>
	<div class="middle_wrapper help_text mobile_only col-xs-12">
		<div class="middle">
			Exchange
		</div>
	</div>
  <div class="form-group col-md-1-minus col-xs-6 reach-out-right">
    <input type="text" pattern="\d*" id="pay_amount" data-clicked="pay_amount (list)" data-field="pay_amount" data-autonumeric="true" data-symbolsource="pay_currency" name="pay_amount" class="form-control">
  </div>
  <div class="form-group col-md-1-minus col-xs-6 reach-out-left">
    <select id="pay_currency" data-field="pay_currency" data-clicked="pay_currency (list)" data-symboltarget="pay_amount" name="pay_currency" class="currency_select select optional text-center form-control">
      <option selected disabled hidden value=''></option>
      <option data-symbol="￡ " value="GBP">GBP</option>
      <option data-symbol="€ " value="EUR">EUR</option>
      <option data-symbol="$ " value="USD">USD</option>
      <option data-symbol="$ " value="AUD">AUD</option>
      <option data-symbol="$ " value="CAD">CAD</option>
      <option data-symbol="￥ " value="JPY">JPY</option>
      <option data-symbol="¥ " value="CNY">CNY</option>
      <option data-symbol="$ " value="HKD">HKD</option>
      <option data-symbol="₪ " value="ILS">ILS</option>
    </select>
  </div>

  <div class="middle_wrapper help_text col-md-half col-xs-12">
    <div class="middle">
      To
    </div>
  </div>
	<div class="form-group col-md-1-minus col-xs-6 reach-out-right">
		<input type="text" pattern="\d*" id="buy_amount" data-field="buy_amount" data-clicked="buy_amount (list)" data-autonumeric="true" data-symbolsource="buy_currency" name="buy_amount" class="form-control">
  	</div>
  <div class="form-group col-md-1-minus col-xs-6 reach-out-left">
    <select id="buy_currency" data-field="buy_currency" data-clicked="buy_currency (list)" data-symboltarget="buy_amount" name="buy_currency" class="currency_select select optional text-center form-control">
      <option selected disabled hidden value=''></option>
      <option data-symbol="$ "  value="USD">USD</option>
      <option data-symbol="€ "  value="EUR">EUR</option>
      <option data-symbol="￡ " value="GBP">GBP</option>
      <option data-symbol="$ "  value="AUD">AUD</option>
      <option data-symbol="$ "  value="CAD">CAD</option>
      <option data-symbol="￥ " value="JPY">JPY</option>
      <option data-symbol="¥ " value="CNY">CNY</option>
      <option data-symbol="$ " value="HKD">HKD</option>
      <option data-symbol="₪ " value="ILS">ILS</option>
    </select>
  </div>

  <div class="form-group col-md-2 col-xs-6 reach-out-right desktop_only" class="">
      <span class="slider_text">0</span>
      <input type="range" name="distance_slider" min=0 max=10000 id="distance_slider" class="">
      <span id="distance_output" class="slider_text"></span>
      <span id="distance_unit" class="slider_text">m</span>
  </div>

  <div class="form-group middle_wrapper help_text col-md-1 col-xs-6 reach-out-left desktop_only reach-out-right">
    <div class="middle">
      <span>around</span>
    </div>
  </div>

  <div class="mobile_only middle_wrapper help_text col-xs-12">
    <div class="middle">
      Around
    </div>
  </div>

	<div class="form-group col-md-3 col-xs-12 reach-out-left">
		<input type="text" id="location_search" data-field="location" data-searchbox="true" name="location_search" class="text-center location search form-control" placeholder="   Change location"
		 data-analyze="change" data-activity="Search" data-key1="searched" data-val1="location" data-key2="type" data-val2="search" data-key3="location">
  	</div>
  	<!-- Bootstrap original radio in button
  	<div class="form-group col-md-4 col-md-offset-4 col-xs-12">
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary active">
		    <input type="checkbox" autocomplete="off" checked> Best price
		  </label>
		  <label class="btn btn-success">
		    <input type="checkbox" autocomplete="off"> Nearest
		  </label>
		</div>
	-->
<!--
	<div class="mobile_only middle_wrapper help_text  col-xs-12">
		<div class="middle">
			Order by
		</div>
	</div>
	<div class="form-group col-md-2 col-md-pull-3 col-xs-12">
		<input id="sort_switch" name="sort_switch" class="make-switch" type="checkbox" data-on-text="Best price" data-on-color="default" data-off-text="Nearest" data-off-color="default">
	</div>
-->

  	<div class="hidden" style="display:none">
  		<input type="hidden" name="latitude" class="location" id="latitude" data-field="user_lat">
  		<input type="hidden" name="longitude" class="location" id="longitude" data-field="user_lng">
  		<input type="hidden" name="geocoded_location" id="geocoded_location" data-field="location">
  		<input type="hidden" name="sort" id="sort" data-field="sort">
  		<input type="hidden" name="searched_location" id="searched_location" data-field="location">
  		<input type="hidden" name="actual_pay_amount" id="actual_pay_amount" data-field="actual_pay_amount">
        <input type="hidden" name="distance" data-field="distance">
        <input type="hidden" name="fetch" data-field="fetch">
	</div>

  	<div id="search_div" class="form-group col-md-1 col-xs-12" class="form-group">
		<button id="search_button" data-href="exchanges/list" data-href-page="exchanges" data-herf-id='' data-href-pane="summary" class="form-control btn btn-cambiu" type="submit">Find</button>
	</div>

  <div class="validation_errors">
  </div>

</form>


</div>