<div class="row">
  <div class="parameters">

    <% if @mode == 'search' %>
        <div class="collapse" id="exchange_params_change">
          <div id="exchange_params_wrapper" class="row well clearfix">
            <%= render 'exchanges/params/collapsible_unit' %>
          </div>
        </div>
    <% end %>

  </div>
</div>
