<div class="row">
  <div class="parameters">

      <div class="collapse" id="exchange_params_change">
        <div id="exchange_params_wrapper" class="row well clearfix">
          <div class="open_params_wrapper list-group-item mobile_only text-center">
            <a class="open_params open" data-href-page="exchanges" data-href-id="" data-href-pane="map"></a>
          </div>
        </div>
      </div>

  </div>
</div>
