<div class="row">
  <div class="parameters">
    <a data-toggle="collapse" href="#exchange_params_change" id="exchange_title">
      <div id="exchange_params">
        <div id="exchange_params_display">
          <%= render 'exchanges/params/exchange_params_display' %>
        </div>
      </div>
    </a>
    <div class="collapse" id="exchange_params_change">
      <div id="exchange_params_wrapper" class="row well clearfix">
        <%= render 'search_form' %>
      </div>
    </div>
  </div>
</div>
