<div class="search_bar" data-href-page="exchanges" data-href-pane="search">

  <div class="icon pull-left"><i class="fa fa-bars"></i></div>
  <div class="icon pull-right"><i class="fa fa-search"></i></div>

  <%= render 'search_params' %>

</div>