<div class="pane" data-pane="payment">

    <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow_back', center: 'Payment', right_pane: 'none', right_icon: 'none'} %>

    <div class="coming_soon_icon"><i class="fa fa-cog fa-spin" aria-hidden="true"></i></div>
    <div class="coming_soon_text">Coming soon...</div>

</div>