<div class="pane" data-pane="help">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow_back', center: 'Help', right_pane: 'none', right_icon: ''} %>

  <div class="content">
    <div class="help_topic flex_center text-center"></div>
    <div class="help_icon text-center"><i class="material-icons">info</i></div>
    <div class="help_content flex_center column text-center"></div>
  </div>

</div>