<div class="pane" data-pane="help">

  <div class="mobile_background mobile_only">

    <div class="swiper-container swiper-container-intro">

      <div class="swiper-wrapper swiper-wrapper-intro">

        <%= render partial: 'exchanges/help/template',
                   locals: {
                      illustration: 'cambiu_vertical.png',
                      title: nil,
                      text: "World's first <br> currency marketplace.".html_safe,
                      getOffer: true,
                      left: nil,
                      right: "How we do it"
                    }
        %>

        <%= render partial: 'exchanges/help/template',
                   locals: {
                       illustration: nil,
                       title: 'You have something to offer',
                       text: 'The currency you pay may be worth a lot to some merchants.',
                       getOffer: false,
                       left: "<span data-href-page=exchanges data-href-pane=map>skip</span>".html_safe,
                       right: "<i class=material-icons>keyboard_arrow_right</i>".html_safe
                   }
        %>

        <%= render partial: 'exchanges/help/template',
                   locals: {
                       illustration: nil,
                       title: 'So we inform merchants',
                       text: "And get you offers that are <br> tailor-made to your needs.".html_safe,
                       getOffer: false,
                       left: "<span data-href-page=exchanges data-href-pane=map>skip</span>".html_safe,
                       right: "<i class=material-icons>keyboard_arrow_right</i>".html_safe
                   }
        %>

        <%= render partial: 'exchanges/help/template',
                   locals: {
                       illustration: nil,
                       title: 'Find your best offer',
                       text: "Have more to spend. <br> Thank us later.".html_safe,
                       getOffer: true,
                       left: nil,
                       right: nil
                   }
        %>

      </div>

      <div class="flex_center">
        <div class="swiper-pagination swiper-pagination-intro"></div>
      </div>

    </div>

  </div>

</div>