<div class="pane" data-pane="help">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow_back', center: 'Help', right_pane: 'none', right_icon: ''} %>

  <div class="content">
    <div class="help_topic flex_center">Why do we enable unsuported features?</div>
    <div class="help_content flex_center column">
      <p>It's important for us to know how needed some features are - so we know when to provide them.</p>
      <p >This is done for a limited time only.</p>
      <p>Apologize for any inconvenience!</p>
    </div>
  </div>

</div>