<div class="pane" data-pane="help">

  <div class="mobile_background mobile_only">

    <div class="swiper-container swiper-container-intro">
      <div class="swiper-wrapper swiper-wrapper-intro">
        <div class="swiper-slide intro-slide content">
          <div class="intro_logo">
            <div><%= image_tag 'new_logo.png' %></div>
            <div class="intro_title">cambiu</div>
          </div>
          <div class="intro_text">
            <p>Best exchange rates <br> wherever you are.</p>
          </div>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
        <div class="swiper-slide intro-slide content">
          <p>Slide 2</p>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
        <div class="swiper-slide intro-slide content">
          <p>Slide 3</p>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
        <div class="swiper-slide intro-slide content">
          <p>Slide 4</p>
          <button class="btn" data-href-page="exchanges" data-href-pane="map">Get an offer</button>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</div>