<div class="pane" data-pane="order">

  <%= render partial: 'navbar', locals: {left_pane: 'back', left_icon: 'arrow-left', center: 'Order', right_pane: 'none', right_icon: 'none'} %>

  <div class="qrcode"></div>

  <div class="offer no_padding text-center">
    <p class="amounts">
      <span data-model="exchange" data-field="pay_amount"></span>
      <span data-model="exchange" data-field="pay_currency" style="display: none"></span>
      <span class="exchange_icon"><%= fa_icon "caret-right" %></span>
      <span data-model="exchange" data-field="buy_amount"></span>
      <span data-model="exchange" data-field="buy_currency" style="display: none"></span>
    </p>
  </div>

  <div class="exchange_info">
    <div data-model="exchange" data-field="name"></div>
    <div data-model="exchange" data-field="address"></div>
    <div class="col-xs-7 no_padding  ">
      <input data-model="exchange" data-field="rating" data-exchange-id="null" class="ratings rating-loading pull-left">
    </div>
    <div class="col-xs-5 pull-right text-right reach-out-right directions_link">
      <a href="#" data-href-page="exchanges" data-href-id="id" data-href-pane="directions">Directions</a>
    </div>
  </div>

  <div class="call_to_action"
       data-model="exchange"
       data-href-page="exchanges"
       data-href-id="id"
       data-href-pane="confirm"
       data-ajax="updateOrder"
       data-order-status="pursued">
    Confirm
  </div>
  <div class="motivation_to_action">
    Confirm and get £5
  </div>

</div>