<div class="swiper-slide card template">

  <div class="active_ind col-xs-12"></div>
  <div class="col-xs-6 photo"></div>
          <div class="col-xs-6 summary" >

            <div class="nav_icon">
              <span class="fa-stack">
                <i class="fa outer fa-circle fa-stack-2x"></i>
                <i class="fa inner fa-share fa-stack-1x"></i>
              </span>
            </div>

          </div>

</div>