<div class="swiper-slide card template">

<!--
  <div class="active_ind col-xs-12"></div>
-->

    <div class="photo item"></div>

<!--
    <div class="nav_icon fullcard">
      <span class="fa-stack">
        <i class="fa outer fa-circle fa-stack-2x"></i>
        <i class="fa inner fa-location-arrow fa-stack-1x"></i>
      </span>
    </div>
-->

    <div class="nav_icon">
      <i class="fa fa-location-arrow"></i>
    </div>

    <div class="data item">

      <div class="duration">
        <span class="mapMarker icon"><i class="fa fa-map-marker"></i></span>
        <span data-model="exchange" data-field="duration"></span>
      </div>
      <div class="row fullcard">
        <div class="col-xs-7">
          <input data-model="exchange" data-field="rating" class="fullcard ratings rating-loading pull-left">
        </div>
        <div class="col-xs-5 reach-out-right text-right">
          <div class="reviews" data-href-page="exchanges" data-href-id="curr" data-href-pane="reviews">
            <span data-model="exchange" data-field="reviews"></span>
            <span class="review_word">reviews</span>
          </div>
        </div>
      </div>
      <div data-model="exchange" data-field="name" class="fullcard"></div>
      <div data-model="exchange" data-field="address" class="fullcard"></div>
      <div data-model="exchange" data-field="edited_quote"></div>
      <div class="actions_line">
        <div class="action"></div>
        <div class="explore icon"></div>
      </div>

    </div>

</div>

