<div class="swiper-slide card template">
  <div class="swiper-container swiper-container-v swiper-container-vertical">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Swipe up for more details</div>
    </div>
  </div>
</div>