<div class="swiper-slide card template">

<!--
  <div class="active_ind col-xs-12"></div>
-->

    <div class="photo item"></div>

    <div class="data item" >

      <div class="fullcard"><input data-model="exchange" data-field="rating" class="fullcard ratings rating-loading pull-left"></div>
      <div data-model="exchange" data-field="name" class="fullcard"></div>
      <div data-model="exchange" data-field="address" class="fullcard"></div>
      <div data-model="exchange" data-field="edited_quote"></div>

    </div>

</div>


<!--
<div class="nav_icon">
              <span class="fa-stack">
                <i class="fa outer fa-circle fa-stack-2x"></i>
                <i class="fa inner fa-share fa-stack-1x"></i>
              </span>
</div>
-->
