<div class="swiper-slide ecard template">

  <div class="minicard flex_center">

    <div class="photo item flex_center column">
      <div class="streetview"></div>
      <div class="duration">
        <span class="mapMarker icon"><i class="fa fa-map-marker"></i></span>
        <span data-model="exchange" data-field="duration"></span>
      </div>
    </div>

    <div class="data item">

      <div class="quote">
        <span data-model="exchange" data-field="edited_quote_rounded"></span>
      </div>

      <div class="norates">
        <i class="no_rates_icon material-icons">more_horiz</i>
        <p class="no_rates_action flex_center"><i class="material-icons">help_outline</i></p>
      </div>

      <div class="comparison">
        <div class="comparison_item">
          <div data-model="exchange" data-field="gain_percent"></div>
          <div class="signs">
            <div class="percentSign">%</div>
            <div data-model="exchange" data-field="gain_type"></div>
          </div>
        </div>
      </div>

    </div>


    <div class="ranking_container">
      <div class="ranking"></div>
    </div>

    <div class="actions_line flex_between">
      <div class="lessmore icon"></div>
      <div class="more action padlessBtn"></div>
      <div class="lessmore icon"></div>
    </div>


  </div>



  <div class="fullcard">

    <div id="streetview" class="item"></div>

    <div class="data item">

        <div class="rating_and_reviews flex_between">
          <input data-model="exchange" data-field="rating" class="form-control fullcard pull-left">
          <div class="reviews" data-href-page="exchanges" data-href-id="curr" data-href-pane="reviews">
            <span data-model="exchange" data-field="reviews"></span>
            <span class="review_word">reviews</span>
          </div>
        </div>

      <div class="name flex_center">
        <div data-model="exchange" data-field="name"></div>
      </div>

      <div class="address flex_center">
        <div data-model="exchange" data-field="address"></div>
      </div>

        <div class="open_and_phone flex_between">
          <div class="open"><a>Open</a></div>
          <div class="phone_icon">
            <a><i class="material-icons">phone</i></a>
          </div>
        </div>

        <div class="quote_section flex_center">

           <div class="better flex_center">
          <span>
            <span data-model="exchange" data-field="gain_percent"></span>
            <span>% better &nbsp;</span>
          </span>
            <i class="material-icons"
               data-href-page="exchanges"
               data-href-pane="help"
               data-help-topic="Better than what?"
               data-help-content="<p>That is how better the rate is from an actual offer in the vicinity.</p><p>That's your gain from using Cambiu.</p>">
              help_outline
            </i>
          </div>

          <div class="quote flex_center">
            <span data-model="exchange" data-field="pay_rounded" class="threedotes"></span>
            <i class="into material-icons">arrow_forward</i>
            <span data-model="exchange" data-field="get_rounded" class="threedots"></span>
          </div>

          <div class="bast_rate">
            <div data-model="exchange" data-field="base_rate" class="text-center"></div>
          </div>

        </div>

        <div class="no_quote_section flex_center">

          <div class="norates">
            <i class="no_rates_icon material-icons">more_horiz</i>
            <p class="no_rates_action flex_center"><i class="material-icons">help_outline</i></p>
          </div>

        </div>


      <div class="actions_line flex_between">
        <div class="lessmore icon"></div>
        <div class="more action padlessBtn"></div>
        <div class="lessmore icon"></div>
      </div>

    </div>


    <div class="duration">
      <span class="mapMarker icon"><i class="fa fa-map-marker"></i></span>
      <span data-model="exchange" data-field="duration"></span>
    </div>

    <div class="nav_icon_container">
      <div class="nav_icon">
        <i class="fa fa-location-arrow"></i>
      </div>
    </div>


  </div>

</div>