<div class="confirmation fab flex_center column" data-href-pane="confirmation"  data-href-id="curr" data-href-delay="true">
  <button class="btn">
    <i class="material-icons flex_center">assignment_turned_in</i>
    <div class="fab_text">Confirm</div>
  </button>
</div>