<div class="deal section flex_around">
  <div class="section_content flex_around column">
    <div class="section_title flex_between">
      <i class="material-icons">monetization_on</i>
      <div class="section_title_text">Deal</div>
      <i class="material-icons">&nbsp;</i>
    </div>
    <div class="offer">

      <div class="offer_line">
        <div class="text">
          get
        </div>
        <div class="figure">
          <div data-model="exchange" data-field="buy_amount" class="amount threedots"></div>
          <div data-model="exchange" data-field="buy_currency" class="currency"></div>
        </div>
        <div class="edit icon right_icon" data-href-pane="cart" data-href-id="curr">
          <i class="material-icons">mode_edit</i>
        </div>
      </div>

      <div class="offer_line">
        <div class="text">
          pay
        </div>
        <div class="figure">
          <div data-model="exchange" data-field="pay_amount" class="amount threedots"></div>
          <div data-model="exchange" data-field="pay_currency" class="currency"></div>
        </div>
        <div class="edit icon right_icon" data-href-pane="cart" data-href-id="curr">
          <i class="material-icons">mode_edit</i>
        </div>
      </div>

      <div class="offer_line charge">
        <div class="text">
          Delivery (included)
        </div>
        <div class="figure">
          <div data-model="order" data-field="delivery_amount" class="amount threedots">$1,000</div>
          <div data-model="order" data-field="delivery_currency" class="currency">USD</div>
        </div>
        <div class="help icon right_icon">
          <i class="material-icons"
             data-href-page="exchanges"
             data-href-pane="help"
             data-help-topic="What's that?"
             data-help-content="<p>That is the charge for delivering the money to your hands (often smaller that what you save with Cambiu!).</p><p>This charge is included in the PAY amount above.</p>">
            help_outline
          </i>
        </div>
      </div>

      <div class="offer_line cc charge">
        <div class="text">
          Credit Card (included)
        </div>
        <div class="figure">
          <div data-model="order" data-field="cc_amount" class="amount threedots">$1,000</div>
          <div data-model="order" data-field="cc_currency" class="currency">USD</div>
        </div>
        <div class="help icon right_icon">
          <i class="material-icons"
             data-href-page="exchanges"
             data-href-pane="help"
             data-help-topic="What's that?"
             data-help-content="<p>That is the charge for paying with a credit card.</p><p>This charge is included in the PAY amount above.</p>">
            help_outline
          </i>
        </div>
      </div>

      <div class="offer_line saving">
        <div class="text">
          <div data-model="exchange" data-field="gain_type"></div>
        </div>
        <div class="figure">
          <div data-model="exchange" data-field="gain_amount" class="amount threedots"></div>
          <div data-model="exchange" data-field="gain_currency" class="currency"></div>
        </div>
        <div class="help icon right_icon">
          <i class="material-icons"
             data-href-page="exchanges"
             data-href-pane="help"
             data-help-topic="Compared with what?"
             data-help-content="<p>That is how much more you get versus actual offer in the vicinity.</p><p>That's your gain from using Cambiu.</p>">
            help_outline
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
