<div class="inline_params inline_params_delivery">
  <div class="full_width">
    <div class="md-form">
      <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
      <label for="date-picker-example"><%= t 'search.delivery.date' %></label>
    </div>
  </div>

  <div class="full_width">
    <div class="md-form">
      <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker">
      <label for="input_starttime"><%= t 'search.delivery.time' %></label>
    </div>
  </div>

  <div class="full_width flex_center">
    <button class="btn btn-flat blue waves-effect close_inline_params"><%= t 'search.delivery.schedule' %></button>
    <button class="btn-flat waves-effect pull-right close_inline_params"><%= t 'search.delivery.close' %></button>
  </div>
</div>
