<div class="delivery flex_center">
  <div class="delivery_title">Delivery</div>
  <div class="delivery_line">
    <div class="left">To:</div>
    <div class="right" data-model="order" data-field="delivery_address"></div>
  </div>
  <div class="delivery_line">
    <div class="left">On:</div>
    <div class="right" data-model="order" data-field="delivery_datetime"></div>
  </div>
</div>