<div class="details">
  <div class="name flex_center">
    <div data-model="exchange" data-field="name"></div>
  </div>

  <div class="address flex_center">
    <div data-model="exchange" data-field="address"></div>
  </div>
</div>
