<!-- Button trigger modal -->

<!--
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Help us improve!</h4>
      </div>
      <div class="modal-body">
        Will you fill out a short survey?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Maybe later</button>
        <button type="button" class="btn btn-primary" data-href-page="exchanges" data-href-pane="survey">Sure</button>
      </div>
    </div>
  </div>
</div>