<div class="directions fab flex_center column" data-action="directions" data-href-pane="cards" data-href-id="curr" data-href-delay="true">
  <button class="btn-floating waves-effect">
    <i class="material-icons flex_center">directions_walk</i>
    <div class="fab_text">Walk</div>
  </button>
</div>
<div data-model="exchange" data-field="duration"></div>
