<div class="nav_button_container flex_center column" data-href-pane="offers">
  <div class="flex_center">
    <div class="nav_button" data-action="directions">
      <i class="material-icons flex_center">directions</i>
    </div>
  </div>
  <div class="flex_center">
    <span data-model="exchange" data-field="duration"></span>
  </div>
  <div class="flex_center">
    <span class="directions_text"></span>
  </div>
</div>
