<!--   Exchange row template  -->
<div class="exchange_row template" style="display: none;">
  <div class="list-group-item directions"

       <% if request.variant.include? :desktop %>
       data-toggle                                 = 'popover'
       data-content                                = 'Select any offer then click to lock your rate'
       data-placement                              = 'top'
       data-trigger                                = 'manual'
       data-animation                              = true
       <% end %>

       data-href                                   = ''
       data-href-page                              = 'exchanges'
       data-href-id                                = ''
       data-href-pane                              = 'deal'

       data-model                                  = 'exchange'
       data-service-type                           = ''
       data-delivery-tracking                      = 'null'
       data-delivery-redirect-if-selected          = 'null'
       data-exchange-selection                     = 'true'
       data-exchangeid                             = ''
       data-voucher                                = 'true'
       data-exchange-name                          = ''
       data-lat                                    = ''
       data-lng                                    = ''
       data-best-at                                = ''
       >

    <div class="row tag_row">
        <div class="tag col-md-9 col-xs-9">
          <div class="best_at label label-default"></div>
        </div>
    </div>

    <div class="row">
      <div class="tag col-md-11 col-xs-12">


      <div class="name"></div>

</div>
    </div>


    <div class="row">

      <div class="col-md-5 col-xs-5">
          <div class="service_type"></div>
          <div class="distance"></div>
      </div>


      <div class="col-md-4 almost reach-out-right col-xs-4 col-md-offset-1 col-xs-offset-1">
          <div class="quote pull-right"></div>
      </div>

      <div class="col-md-1 almost reach-out-left col-xs-1 getit_parent">
        <div class="pull-left">
            <i class="list_icon fa fa-chevron-right"></i>
        </div>
      </div>

    </div>

    <div class="row appendix">

      <div class="col-md-5 col-xs-5">
        <div>
          <span class="base_rate">€1 = £0.6500</span>
        </div>
      </div>

      <div class="col-md-4 almost reach-out-right col-xs-4 col-md-offset-1 col-xs-offset-1">
        <div class="gains pull-right">
          <span class="gain_type"></span>
          <span class="gain_amount"> £55.81</span>
        </div>
      </div>

      <div class="col-md-1 almost reach-out-left col-xs-1 getit_parent">

        <div class="pull-left">
          <span class="gain_tooltip desktop_only"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="compared with high-street bank rates"></i></span>
        </div>

      </div>

    </div>

    <!--
    <div class="row">

      <div class="middle-parent col-md-6 col-xs-6">
        <div class="middle-child">
          <div class="limited_time_text">Limited time offer:</div>
        </div>
      </div>

      <div class="middle-parent col-md-4 col-xs-4">
        <div class="middle-child">
          <div class="text-center limited_time_quote">$2345.23</div>
        </div>
      </div>

    </div>
    -->

    <!--
    <div class="delivery_ind" style="display: none">
      <div class="delivery_bg"></div>
      <div class="delivery_text">Delivery</div>
    </div>
    -->

  </div>
</div>

