<div class="fab_container flex_center column">
  <div class="flex_center">
    <button class="fab_button btn" data-action=<%= action %>>
      <i class="material-icons flex_center"><%= icon %></i>
    </button>
  </div>
  <div class="flex_center white">
    <span class="fab_text"><%= action %></span>
  </div>
</div>
