<form class="selection <%= purpose %> pickup" id="<%= purpose %>_form" novalidate>

    <ul class="stepper stepper-horizontal">
      <li class="completed">
        <a href="#!">
          <span class="circle">1</span>
          <span class="label">What would you like to order</span>
        </a>
      </li>
    </ul>


    <div class="search_section amounts margined">
      <div class="wide search_line buy flex_center">

        <div class="md-form buy_currency select">
          <select id="buy_currency" data-model="search" data-field="buy_currency" data-symboltarget="buy_amount" name="search[buy_currency]"
                  class="currency_select select optional text-center mdb-select">
            <option value="" disabled selected>Currency you need</option>
            <option data-symbol="$ "  value="USD">USD</option>
            <option data-symbol="€ "  value="EUR">EUR</option>
            <option data-symbol="￡ " value="GBP">GBP</option>
            <option data-symbol="$ "  value="AUD">AUD</option>
            <option data-symbol="$ "  value="CAD">CAD</option>
            <option data-symbol="￥ " value="JPY">JPY</option>
            <option data-symbol="¥ " value="CNY">CNY</option>
            <option data-symbol="$ " value="HKD">HKD</option>
            <option data-symbol="₪ " value="ILS">ILS</option>
            <option data-symbol="kr " value="NOK">NOK</option>
          </select>
          <label for="buy_currency">Get</label>
        </div>

        <div class="md-form buy_amount">
          <input type="tel" pattern="\d*" id="buy_amount"
                 data-model="search" data-field="buy_amount" data-autonumeric="true" data-symbolsource="buy_currency" name="search[buy_amount]" class="form-control text-right amount_fields">
          <label for="buy_amount" class="control-label"></label>
          <div class="calculated_icon"><i class="fa fa-hand-o-right"></i></div>
        </div>

      </div>

      <div class="wide search_line pay flex_center">

        <div class="md-form pay_currency select">
          <select id="pay_currency" data-model="search" data-field="pay_currency" data-symboltarget="pay_amount" name="search[pay_currency]"
                  class="currency_select select optional text-center mdb-select">
            <option value="" disabled selected>Currency you pay with</option>
            <option data-symbol="$ "  value="USD">USD</option>
            <option data-symbol="€ "  value="EUR">EUR</option>
            <option data-symbol="￡ " value="GBP">GBP</option>
            <option data-symbol="$ "  value="AUD">AUD</option>
            <option data-symbol="$ "  value="CAD">CAD</option>
            <option data-symbol="￥ " value="JPY">JPY</option>
            <option data-symbol="¥ " value="CNY">CNY</option>
            <option data-symbol="$ " value="HKD">HKD</option>
            <option data-symbol="₪ " value="ILS">ILS</option>
            <option data-symbol="kr " value="NOK">NOK</option>
          </select>
          <label for="pay_currency" data-error="stupid!">Pay</label>
        </div>

        <div class="md-form pay_amount">
          <input type="tel" pattern="\d*" id="pay_amount"
                 data-model="search" data-field="pay_amount" data-autonumeric="true" data-symbolsource="pay_currency" name="search[pay_amount]" class="form-control text-right amount_fields">
          <label for="pay_amount" class="control-label"></label>
          <div class="calculated_icon"><i class="fa fa-hand-o-right"></i></div>
        </div>

      </div>


      <div class="search_line worst">
        <div class="md-form flex_between">
          <label for="worst_amount" class="">High-street price</label>
          <input disabled type="tel" id="worst_amount"
                 data-model="local" data-field="worst_amount" data-autonumeric="true" data-symbolsource="pay_currency" class="text-right">
        </div>
      </div>

      <div class="search_line worst">
        <div class="md-form flex_between">
          <label for="worst_saving" class="">Your gain</label>
          <input disabled type="tel" id="worst_saving"
                 data-model="local" data-field="worst_saving" data-autonumeric="true" data-symbolsource="pay_currency" class="text-right">
        </div>
      </div>

    </div>

  <ul class="stepper stepper-horizontal no_margin">
    <li class="completed">
      <a href="#!">
        <span class="circle">2</span>
        <span class="label">How do you wish to get it</span>
      </a>
    </li>
  </ul>


  <div class="search_section fulfillment">
    <div class="narrow search_line flex_center">

      <div class="md-form delivery full_width">
        <div class="switch full_width flex_between">
          <label for="delivery_ind">Delivery</label>
          <label class="switch_form">
            <input id="delivery_ind" class="service_type" name="search[service_type]" type="checkbox"  value="delivery" checked="checked">
            <span class="lever"></span>
          </label>
        </div>
      </div>

    </div>

    <div class="inline_params inline_params_delivery">
      <div class="full_width">
        <div class="md-form">
          <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
          <label for="date-picker-example">Delivery date</label>
        </div>
      </div>

      <div class="full_width">
        <div class="md-form">
          <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker">
          <label for="input_starttime">Delivery time</label>
        </div>
      </div>

      <div class="full_width">
        <button class="btn btn-flat blue waves-effect close_inline_params">Schedule</button>
        <button class="btn-flat waves-effect pull-right close_inline_params">Close</button>
      </div>
    </div>




    <div class="narrow search_line">
      <div class="flex_center form-group location">
        <label for="location" class="form-control control-label location_label"></label>
        <input type="text" id="location" data-model="search" data-field="location" data-searchbox="true" name="search[location]" class="text-center location form-control">
        <span class="clear label form-control"><i class=material-icons>cancel</i></span>
      </div>
    </div>



    <div class="hidden">

      <input type="hidden" name="search[location]"        id="location"         data-model="search" data-field="location">
      <input type="hidden" name="search[location_lat]"    id="location_lat"     data-model="search" data-field="location_lat">
      <input type="hidden" name="search[location_lng]"    id="location_lng"     data-model="search" data-field="location_lng">
      <input type="hidden" name="search[location_type]"   id="location_type"    data-model="search" data-field="location_type">
      <input type="hidden" name="search[location_reason]" id="location_reason"  data-model="search" data-field="location_reason">
      <input type="hidden" name="search[user_lat]"        id="user_lat"         data-model="search" data-field="user_lat">
      <input type="hidden" name="search[user_lng]"        id="user_lng"         data-model="search" data-field="user_lng">
      <input type="hidden" name="search[user_location]"   id="user_location"    data-model="search" data-field="user_location">
      <input type="hidden" name="search[country]"         id="country"          data-model="search" data-field="country">
      <input type="hidden" name="search[city]"            id="city"             data-model="search" data-field="city">
      <input type="hidden" name="search[transaction]"     id="transaction"      data-model="search" data-field="transaction">
      <input type="hidden" name="search[calculated]"      id="calculated"      data-model="search" data-field="calculated">

    </div>

  </div>


  <ul class="stepper stepper-horizontal">
    <li class="completed">
      <a href="#!">
        <span class="circle">3</span>
        <span class="label">How will you pay for it</span>
      </a>
    </li>
  </ul>


  <div class="search_section payment">

    <div class="search_line form-inline payment_method_selection">

      <label class="form-group">Payment method</label>
      <fieldset class="form-group">
        <input class="payment_method" name="search[payment_method]" type="radio" id="payment_method_cash" checked="checked" value="cash">
        <label for="payment_method_cash">Cash</label>
      </fieldset>

      <fieldset class="form-group">
        <input class="payment_method" name="search[payment_method]" type="radio" id="payment_method_credit" value="credit">
        <label for="payment_method_credit">Credit</label>
      </fieldset>

    </div>


  </div>


  <div class="narrow search_line invoke flex_center">

    <% if purpose == 'search' %>
      <button type="submit" class="blue primary btn waves-effect" data-ajax="searches"></button>
    <% elsif purpose == 'update' %>
        <button type="submit" class="blue primary btn waves-effect" data-action="updateOrder" data-href-pane="offer" data-href-id="curr"></button>
    <% end %>

  </div>

</form>