<div class="fullcard">

  <div class="item">
    <div id="streetview" class="streetview"></div>
  </div>

  <div class="data item">

    <div class="rating_and_reviews flex_between">
      <input data-model="exchange" data-field="rating" class="form-control fullcard pull-left">
      <div class="reviews" data-href-page="exchanges" data-href-id="curr" data-href-pane="reviews" data-populate=true>
        <span data-model="exchange" data-field="reviews"></span>
        <span class="review_word">reviews</span>
      </div>
    </div>

    <div class="name flex_center">
      <div data-model="exchange" data-field="name"></div>
    </div>

    <div class="address flex_center">
      <div data-model="exchange" data-field="address"></div>
    </div>

    <div class="open_and_phone flex_between">
      <div class="open"><a>Open</a></div>
      <div class="phone_icon">
        <a><i class="material-icons">phone</i></a>
      </div>
    </div>

    <div class="quote_section flex_center">
      <%= render 'exchanges/templates/offer' %>
    </div>

    <div class="no_quote_section flex_center">

      <div class="norates">
        <i class="no_rates_icon material-icons">more_horiz</i>
        <p class="no_rates_action flex_center"><i class="material-icons">help_outline</i></p>
      </div>

    </div>

    <div class="actions_line flex_between">
      <div class="lessmore icon"></div>
      <div class="more action padlessBtn"></div>
      <div class="lessmore icon" data-action></div>
    </div>


  </div>

  <div class="order_button_container">
    <div class="order_word">Order</div>
    <div class="flex_center">
      <div class="order_button">
        <i class="material-icons flex_center">shopping_cart</i>
       </div>
    </div>
  </div>

</div>
