<div class="iformsprogressbar">
  <div class="iprogress">
    <span class="iprogressbar"></span>
  </div>
  <div class="bestOffer pull-left flex_center">
    <div class="bestOffer_text">Save:</div>
    <div class="bestOffer_save">$5.27</div>
  </div>
  <div class="navigation pull-right flex_center beginning">
    <div class="prev flex_center column">
      <i class="material-icons">expand_less</i>
    </div>
    <div class="next flex_center column">
      <i class="material-icons">expand_more</i>
    </div>
  </div>
</div>