<div class="iformsprogressbar">

  <div class="iprogress">
    <span class="iprogressbar"></span>
  </div>

  <div class="bestOffer pull-left flex_end">
    <span class="bestOffer_text"><%= t 'isearch.bar.gain' %></span>
    <span class="bestOffer_save worst" id="worst_saving"
          data-model="local" data-field="worst_saving" data-autonumeric="true" data-symbolsource="pay_currency" class="bestOffer_save text-end">
      something
    </span>
  </div>

  <div dir="ltr" class="navigation pull-right flex_center beginning">
    <div class="prev flex_center column">
      <i class="material-icons">expand_less</i>
    </div>
    <div class="next flex_center column">
      <i class="material-icons">expand_more</i>
    </div>
  </div>

</div>