<!--   Exchange InfoWindow template  -->
<div class="exchange_window template">
  <div data-id="" class="exchange_window_sum">
    <div class="exchange_window_best_at label label-default"></div>
    <div class="exchange_window_quote"></div>
    <div class="exchange_window_distance"></div>
  </div>
  <div data-exchange-id="" class="exchange_window_det" data-href-page="exchanges" data-href-id="x" data-href-pane="order" data-ajax="createOrder">
    <div class="exchange_window_best_at label label-default"></div>
    <div class="exchange_window_name"></div>
    <div class="exchange_window_address"></div>
    <div class="exchange_window_quote"></div>
    <div class="exchange_window_link">
      <div class="row">
        <div class="col-xs-2">
          <i class="fa fa-hand-o-right"></i>
        </div>
        <div class="col-xs-10">
          <span>Order now <br>get £3 rebate</span>
        </div>
      </div>
    </div>
  </div>
</div>