<!--   Exchange InfoWindow template  -->
<div class="exchange_window template">
  <div data-id="" class="exchange_window_sum">
<!--
    <div class="exchange_window_name"></div>
-->
    <div class="exchange_window_quote"></div>
    <div class="exchange_window_distance"></div>
  </div>
  <div data-id="" class="exchange_window_det">
    <div class="exchange_window_name"></div>
    <div class="exchange_window_address"></div>
    <div class="exchange_window_quote"></div>
    <div class="exchange_window_open"></div>
  </div>
</div>