<div id="map_container">

  <div id="map-canvas"></div>

  <div id="searchLoc">
    <div class="dot"></div>
    <div class="pulse2 flex_center">
      <div class="pulse1"></div>
    </div>
  </div>

  <div id="newradar">
    <div id='pulse3'></div>
    <div id='pulse4'></div>
  </div>

</div>