<div class="minicard flex_center">

  <div class="photo item">
    <div class="streetview"></div>

    <div class="duration">
      <span class="mapMarker icon"><i class="fa fa-map-marker"></i></span>
      <span data-model="exchange" data-field="duration"></span>
    </div>
  </div>

  <div class="data item">

    <div class="quote">
      <span data-model="exchange" data-field="edited_quote"></span>
    </div>

    <div class="norates">
      <i class="no_rates_icon material-icons">more_horiz</i>
      <p class="no_rates_action flex_center"><i class="material-icons">help_outline</i></p>
    </div>

    <div class="comparison">
      <div class="comparison_item">
        <div data-model="exchange" data-field="gain_short"></div>
        <div data-model="exchange" data-field="gain_amount"></div>
      </div>
    </div>

  </div>

  <div class="ranking_container">
    <div class="ranking"></div>
  </div>

  <div class="actions_line flex_between">
    <div class="lessmore icon"></div>
    <button class="btn more action padlessBtn"></button>
    <div class="lessmore icon" data-action></div>
  </div>

  <div class="order_ind">
    <span></span>
  </div>

  <div class="confirmation fab flex_center column" data-href-pane="confirmation"  data-href-id="curr" data-href-delay="true">
    <button class="btn">
      <i class="material-icons flex_center">assignment_turned_in</i>
      <div class="fab_text">Confirm</div>
    </button>
  </div>

</div>
