<div class="offer">

  <div class="offer_line">
   <div class="text">
      get
   </div>
    <div class="figure">
      <div data-model="exchange" data-field="buy_amount" class="amount threedots"></div>
      <div data-model="exchange" data-field="buy_currency"></div>
      <div class="edit right_icon">
        <i class="material-icons">mode_edit</i>
      </div>
    </div>
  </div>

  <div class="offer_line">
    <div class="text">
      pay
    </div>
    <div class="figure">
      <div data-model="exchange" data-field="pay_amount" class="amount threedots"></div>
      <div data-model="exchange" data-field="pay_currency"></div>
      <div class="edit right_icon">
        <i class="material-icons">mode_edit</i>
      </div>
    </div>
  </div>

  <div class="offer_line saving">
    <div class="text">
      <div data-model="exchange" data-field="gain_type"></div>
    </div>
    <div class="figure">
      <div data-model="exchange" data-field="gain_amount" class="amount threedots"></div>
      <div data-model="exchange" data-field="gain_currency"></div>
      <div class="help right_icon">
        <i class="material-icons"
           data-href-page="exchanges"
           data-href-pane="help"
           data-help-topic="Compared with what?"
           data-help-content="<p>That is how much more you get versus actual offer in the vicinity.</p><p>That's your gain from using Cambiu.</p>">
          help_outline
        </i>
      </div>
    </div>
  </div>

</div>
