<div class="offerPane">

  <div class="item">
    <div id="streetview" class="streetview"></div>
  </div>

  <div class="data item">

    <div class="rating_and_reviews flex_between">
      <input data-model="exchange" data-field="rating" class="form-control pull-left">
      <div class="reviews" data-href-page="exchanges" data-href-id="curr" data-href-pane="reviews" data-populate=true>
        <span data-model="exchange" data-field="reviews"></span>
        <span class="review_word">reviews</span>
      </div>
    </div>

    <%= render 'exchanges/templates/pickup' %>

    <div class="cambiu_ranking text-center flex_center column">
      <p class="cambiu_ranking_value">
        <span>#</span>
        <span data-model="exchange" data-field="rank">1</span>
      </p>
      <p class="cambiu_ranking_title">
        <span>Cambiu ranking</span>
        <span></span>
      </p>
      <p class="cambiu_ranking_view_others">
        <span>View</span>
        <a href="#" data-href-pane="list" data-href-delay="true" data-action="showCards">
          <span data-model="local" data-field="count"></span>
          <span>offers around you</span>
        </a>
      </p>
    </div>

    <div class="open_and_phone flex_between">
      <div class="open"><a>Open</a></div>
      <div class="phone_icon">
        <a><i class="material-icons">phone</i></a>
      </div>
    </div>

    <%= render 'exchanges/templates/deal' %>

    <div class="no_deal_section flex_center">

      <div class="norates">
        <i class="no_rates_icon material-icons">more_horiz</i>
        <p class="no_rates_action flex_center"><i class="material-icons">help_outline</i></p>
      </div>

    </div>

    <div class="actions_line flex_center column">
      <div class="newexpiry flex_center">
        <i class="newexpiry_icon material-icons">timers</i>
        <span class="newexpiry_text flex_center">Expires at </span>
        <span class="newexpiry_time flex_center" data-model="exchange" data-field="expiry_time"></span>
      </div>
      <button class="btn-flat waves-effect more action" data-href-pane="order" data-href-id="curr" data-href-delay="true" data-validate="noOtherOrderExists"></button>
    </div>

  </div>

  <div class="order_button_container flex_center">

    <div class="distance">
      <span data-model="exchange" data-field="gDistance"></span>
      <span class="away">away</span>
    </div>
    <div class="ordering fab flex_center column" data-href-pane="order" data-href-id="curr" data-href-delay="true" data-validate="noOtherOrderExists">
      <button class="btn-floating waves-effect">
        <i class="material-icons flex_center">shopping_cart</i>
        <div class="fab_text">Order</div>
      </button>
    </div>

  </div>

</div>
