<div class="orderPane">

  <div class="order_title flex_center">Order</div>
  <div class="order_number flex_center">
    <span data-model="order" data-field="exchange_id"></span>
    <span>-</span>
    <span data-model="order" data-field="voucher"></span>
  </div>

  <%= render 'exchanges/templates/deal' %>

  <%= render 'exchanges/templates/delivery' %>

  <%= render 'exchanges/templates/pickup' %>

  <div class="payment flex_center">
    <button class="cta btn-flat waves-effect" data-href-pane="payment" data-href-id="curr" data-href-delay="true">pay</button>
  </div>

</div>
