<div class="pickup section flex_center">
  <div class="section_content flex_around column">
    <div class="section_title flex_between">
      <i class="material-icons">store_mall_directory</i>
      <div class="section_title_text"><%= t 'pickup.title'  %></div>
      <i class="material-icons">&nbsp;</i>
    </div>
    <div class="name flex_center">
      <div data-model="exchange" data-field="name"></div>
    </div>

    <div class="address flex_center">
      <div data-model="exchange" data-field="address"></div>
    </div>
    <%= render 'exchanges/templates/directions' %>
  </div>
</div>
