<li class="review template list-group-item">
  <div class="review_rating">
  </div>
  <div class="review_text"></div>
  <div class="row">
    <div class="review_author col-xs-6"></div>
    <div class="review_photo col-xs-6"></div>
  </div>
</li>