<div class="review template">

  <div class="list-group-item">

    <div class="row-picture">
      <img class="img-circle review_photo">
      <i class="material-icons">face</i>
    </div>

    <div class="row-content">
      <div class="least-content review_rating"></div>
      <h4 class="list-group-item-heading"></h4>
      <p class="list-group-item-text review_text"></p>
    </div>

  </div>

  <div class="list-group-separator"></div>

</div>