<div class="snack template">
  <span class="snackIcon"><i class="material-icons"></i></span>
  <span class="message"></span>
  <span class="button ok_button yellow padlessBtn flex_center"></span>
  <span class="button cancel_button yellow padlessBtn flex_center"></span>
</div>