<ion-view>
  <ion-header-bar class="header bar-stable row row-center">
    <button class="button button-back button-clear icon icon-left ion-chevron-left" ng-click="exchange.goBack()"></button>
    <h1 class="title" style="text-align: center; left: 0 !important;">Currency Exchange</h1>
    <button class="button-clear ion-location" style="font-size: 20px; position: absolute; right: 0;" ui-sref="home.map"></button>
  </ion-header-bar>
  <ion-content scroll="false" class="main-content">
    <div class="list list-inset">



    </div>
  </ion-content>
</ion-view>
