<ion-pane>
  <ion-header-bar class="header bar-stable row row-center">
    <div style="width: 30px; text-align: left;">
      <button class="button-clear ion-navicon-round" ui-sref="menu"></button>
    </div>
    <div class="col-80">
      <div class="location-search row">
        <button class="button button-clear button-small ion-search"></button>
        <input type="text"  ng-autocomplete ng-model="autocomplete" options="options" details="details"/>
      </div>
    </div>
    <div style="width: 30px; text-align: right;">
      <button class="button-clear ion-navicon" ng-click="main.toggleMapList()"></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="main-content">
    <ion-nav-view></ion-nav-view>
  </ion-content>
</ion-pane>
