<ion-view>
  <ion-header-bar class="header bar-stable row row-center">
    <button class="button-clear ion-navicon-round" ui-sref="menu"></button>
    <div class="conversion-panel row row-center">
      <flag country="{{ conversion.left.flag }}" size="32" class="col col-left"></flag>
      <div class="col col-center" style="text-align: center;">{{ conversion.left.value | number:2 }}</div>
      <button class="button-clear ion-arrow-swap placeholder-icon" style="font-size: 32px; margin-bottom: 10px;" ng-click="switchSides()"></button>
      <div class="col" style="text-align: center;">{{ conversion.right.value | number:2 }}</div>
      <flag country="{{ conversion.right.flag }}" size="32" class="col col-right" style="text-align: right;"></flag>
    </div>
    <button class="button-clear" style="width: 30px;" ng-click="main.toggleMapList()" ng-class="isMap ? 'ion-navicon' : 'ion-map'"></button>
  </ion-header-bar>
  <ion-content scroll="false" class="main-content">
    <ion-nav-view></ion-nav-view>
  </ion-content>
</ion-view>
