<ion-view>
  <ion-header-bar class="header bar-stable row row-center">
    <button class="button button-back button-clear icon icon-left ion-chevron-left"
            ng-click="newExchange.goBack()" nav-direction="back"></button>
    <h1 class="title" style="text-align: center; left: 0 !important;">New Exchange</h1>
    <button class="button-clear ion-location" style="font-size: 20px; position: absolute; right: 0;"
            ui-sref="home.map" nav-direction="forward"></button>
  </ion-header-bar>
  <ion-content scroll="false" class="main-content">
    <div class="list list-inset">
      <div style="text-align: center;">Found a currency exchange? Let us know!</div><br/>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Currency exchange name</span>
        <input type="text" placeholder="Currency exchange name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Street address</span>
        <input type="text" placeholder="Street address">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone number</span>
        <input type="text" placeholder="Phone number">
      </label>
    </div>
  </ion-content>
  <div class="bar bar-footer" style="padding: 0;">
    <button class="button button-full" style="margin: 0; font-size: 20px; color: white; background: #FF8000;">Add</button>
  </div>
</ion-view>
