<ui-gmap-google-map center="center" zoom="zoom" options="options"
  draggable="true" pan="true"
  bounds="mapBounds">
  <ui-gmap-markers
   models="exchanges"
   idkey="'id'"
   coords="'location'"
   doCluster="false"
   options="'options'"
   fit="fit">
    <ui-gmap-windows
      idKey="'id'">
        <div class="exchange-marker-content" select-exchange select-action="setSelectedExchange" ng-model="model">
          <div ng-non-bindable>
            {{details.title}}
          </div>
        </div>
    </ui-gmap-windows>
  </ui-gmap-markers>
  <ui-gmap-marker
        idKey='self.id'
        coords='self.position'
        icon='self.iconUrl'>
  </ui-gmap-marker>
  <ui-gmap-polyline
        path="directionsPath"
        stroke="{color: 'blue', weight: 5, opacity: 0.5}">
</ui-gmap-polyline>
</ui-gmap-google-map>
<div class="bar bar-footer" style="background: none !important; display: inline-block; height: 140px;">
  <div class="row row-center hide-on-keyboard-open" style="margin-bottom: 20px; height: 70px;">
    <div class="col" style="position: relative;">
      <button class="button-clear ion-navigate col map-button" style="padding-bottom: 60px; position: absolute; right: 50%; top: -40px;" ng-click="scrollToLocation()"></button>
    </div>
    <div class="col" style="position: relative;">
      <button class="button-clear ion-search col map-button" style="padding-bottom: 60px; position: absolute; left: 50%; top: -40px;" ng-click="searchLocation = !searchLocation"></button>
    </div>
  </div>
  <div class="location-search" keyboard-attach ng-show="searchLocation">
    <label class="item item-input" style="padding-top: 0;">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-autocomplete ng-model="autocomplete" details="details"
            placeholder="Search" options="{watchEnter: true}"/>
    </label>
  </div>
</div>
