<form id="search_form" method="post" action="/searches" data-type="json" data-remote="true" novalidate accept-charset="UTF-8" class="form-inline">

  <input name="utf8" type="hidden" value="✓">

<div class="row">

  <div class="form-group pay_amount label-floating col-xs-6">
    <label for="pay_amount" class="control-label">Pay</label>
    <input type="tel" pattern="\d*" id="pay_amount" data-model="search" data-field="pay_amount" data-autonumeric="true" data-symbolsource="pay_currency" name="search[pay_amount]" class="form-control">
    <p class="help-block"></p>
  </div>

  <div class="form-group pay_currency label-floating select col-xs-6">
    <label for="pay_currency" class="control-label">Pay currency</label>
    <select id="pay_currency" data-model="search" data-field="pay_currency" data-symboltarget="pay_amount" name="search[pay_currency]" class="currency_select select optional text-center form-control">
      <option selected disabled hidden value=''></option>
      <option data-symbol="￡ " value="GBP">GBP</option>
      <option data-symbol="€ " value="EUR">EUR</option>
      <option data-symbol="$ " value="USD">USD</option>
      <option data-symbol="$ " value="AUD">AUD</option>
      <option data-symbol="$ " value="CAD">CAD</option>
      <option data-symbol="￥ " value="JPY">JPY</option>
      <option data-symbol="¥ " value="CNY">CNY</option>
      <option data-symbol="$ " value="HKD">HKD</option>
      <option data-symbol="₪ " value="ILS">ILS</option>
      <option data-symbol="kr " value="NOK">NOK</option>
    </select>
    <span class="form-control text-right"><i class="material-icons pull-right">arrow_drop_down</i></span>
  </div>

  <div class="form-group buy_amount label-floating col-xs-6">
    <label for="buy_amount" class="control-label">Get</label>
    <input type="tel" pattern="\d*" id="buy_amount" data-model="search" data-field="buy_amount" data-autonumeric="true" data-symbolsource="buy_currency" name="search[buy_amount]" class="form-control">
    <p class="help-block"></p>
  </div>

  <div class="form-group buy_currency label-floating select col-xs-6">
    <label for="buy_currency" class="control-label">Get currency</label>
    <select id="buy_currency" data-model="search" data-field="buy_currency" data-symboltarget="buy_amount" name="search[buy_currency]" class="currency_select select optional text-center form-control">
      <option selected disabled hidden value=''></option>
      <option data-symbol="$ "  value="USD">USD</option>
      <option data-symbol="€ "  value="EUR">EUR</option>
      <option data-symbol="￡ " value="GBP">GBP</option>
      <option data-symbol="$ "  value="AUD">AUD</option>
      <option data-symbol="$ "  value="CAD">CAD</option>
      <option data-symbol="￥ " value="JPY">JPY</option>
      <option data-symbol="¥ " value="CNY">CNY</option>
      <option data-symbol="$ " value="HKD">HKD</option>
      <option data-symbol="₪ " value="ILS">ILS</option>
      <option data-symbol="kr " value="NOK">NOK</option>
    </select>
    <span class="form-control text-right"><i class="material-icons pull-right">arrow_drop_down</i></span>
  </div>

  <div class="form-group location label-floating col-xs-12">
    <label for="location" class="control-label">Where to look for</label>
    <input type="text" id="location" data-model="search" data-field="location" data-searchbox="true" name="search[location]" class="text-center location search form-control" placeholder="   Change location">
  </div>

  <div class="form-group radius radius label-floating col-xs-12">
    <label for="radius" class="control-label">Search within</label>
    <input type="hidden" id="radius" data-model="search" data-field="radius" name="search[radius]">
    <div id="slider"></div>
  </div>

  <div class="form-group location_lat hidden">
    <input type="hidden" name="search[location_lat]"    id="location_lat"     data-model="search" data-field="location_lat">
  </div>
  <div class="form-group location_lng hidden">
    <input type="hidden" name="search[location_lng]"    id="location_lng"     data-model="search" data-field="location_lng">
  </div>
  <div class="form-group location_type hidden">
    <input type="hidden" name="search[location_type]"    id="location_type"     data-model="search" data-field="location_type">
  </div>
  <div class="form-group location_reason hidden">
    <input type="hidden" name="search[location_reason]"    id="location_reason"     data-model="search" data-field="location_reason">
  </div>
  <div class="form-group location hidden">
    <input type="hidden" name="search[location]"    id="location"     data-model="search" data-field="location">
  </div>

  <div class="actions_line">
      <button type="submit" class="action btn" data-ajax="searches">find offers</button>
  </div>

</div>
</form>