<div class="params" data-href-page="exchanges" data-href-pane="search">
  <div data-model="search" data-field="pay_amount"></div>
  <div data-model="search" data-field="pay_currency"></div>
  <i class="material-icons">arrow_forward</i>
  <div data-model="search" data-field="buy_amount"></div>
  <div data-model="search" data-field="buy_currency"></div>
  <i class="material-icons col-xs-1">search</i>
</div>
