<form id="search_form" method="post" action="/searches" data-type="json" data-remote="true" novalidate accept-charset="UTF-8" class="form-inline">

  <input name="utf8" type="hidden" value="✓">

  <div class="text_above not_on_homepage">
    <div class="desktop_only col-md-4">exchange</div>
    <div class="desktop_only col-md-4">to</div>
    <div class="desktop_only col-md-4">in</div>
  </div>

  <div class="middle_wrapper help_text mobile_only col-xs-12">
    <div class="middle">
      Exchange
    </div>
  </div>

  <div class="form-group col-md-2 col-xs-6 reach-out-right reach-out-left">
    <input type="text" pattern="\d*" id="pay_amount" data-clicked="pay_amount (list)" data-field="pay_amount" data-autonumeric="true" data-symbolsource="pay_currency" name="search[pay_amount]" class="form-control">
  </div>

  <div class="form-group col-md-2 col-xs-6 reach-out-left select">
    <select id="pay_currency" data-field="pay_currency" data-clicked="pay_currency (list)" data-symboltarget="pay_amount" name="search[pay_currency]" class="currency_select select optional text-center form-control">
      <option selected disabled hidden value=''></option>
      <option data-symbol="￡ " value="GBP">GBP</option>
      <option data-symbol="€ " value="EUR">EUR</option>
      <option data-symbol="$ " value="USD">USD</option>
      <option data-symbol="$ " value="AUD">AUD</option>
      <option data-symbol="$ " value="CAD">CAD</option>
      <option data-symbol="￥ " value="JPY">JPY</option>
      <option data-symbol="¥ " value="CNY">CNY</option>
      <option data-symbol="$ " value="HKD">HKD</option>
      <option data-symbol="₪ " value="ILS">ILS</option>
      <option data-symbol="kr " value="NOK">NOK</option>
    </select>
  </div>

  <div class="mobile_only middle_wrapper help_text col-md-half col-xs-12">
    <div class="middle">
      To
    </div>
  </div>

  <div class="form-group col-md-2 col-xs-6 reach-out-right reach-out-left">
    <input type="text" pattern="\d*" id="buy_amount" data-field="buy_amount" data-clicked="buy_amount (list)" data-autonumeric="true" data-symbolsource="buy_currency" name="search[buy_amount]" class="form-control">
  </div>

  <div class="form-group col-md-2 col-xs-6 reach-out-left select">
    <select id="buy_currency" data-field="buy_currency" data-clicked="buy_currency (list)" data-symboltarget="buy_amount" name="search[buy_currency]" class="currency_select select optional text-center form-control">
      <option selected disabled hidden value=''></option>
      <option data-symbol="$ "  value="USD">USD</option>
      <option data-symbol="€ "  value="EUR">EUR</option>
      <option data-symbol="￡ " value="GBP">GBP</option>
      <option data-symbol="$ "  value="AUD">AUD</option>
      <option data-symbol="$ "  value="CAD">CAD</option>
      <option data-symbol="￥ " value="JPY">JPY</option>
      <option data-symbol="¥ " value="CNY">CNY</option>
      <option data-symbol="$ " value="HKD">HKD</option>
      <option data-symbol="₪ " value="ILS">ILS</option>
      <option data-symbol="kr " value="NOK">NOK</option>
    </select>
  </div>

  <div class="middle_wrapper mobile_only middle_wrapper help_text col-md-half col-xs-12">
    <div class="middle">
      <span>In</span>
    </div>
  </div>

  <div class="form-group col-md-4 col-xs-12 reach-out-left reach-out-right">
    <input type="text" id="location" data-field="location" data-searchbox="true" name="search[location]" class="text-center location search form-control" placeholder="   Change location"
           data-analyze="change" data-activity="Search" data-key1="searched" data-val1="location" data-key2="type" data-val2="search" data-key3="location">
  </div>

  <div class="hidden" style="display:none">
    <input type="hidden" name="search[location_lat]"    id="location_lat"     data-field="location_lat">
    <input type="hidden" name="search[location_lng]"    id="location_lng"     data-field="location_lng">
  </div>

  <div class="middle_wrapper mobile_only middle_wrapper help_text col-md-half col-xs-12">
    <div class="middle">
      <span>&nbsp;</span>
    </div>
  </div>

  <div id="search_div" class="not_on_homepage form-group col-md-12 text-center col-xs-12" class="form-group">
    <a data-ajax="searches" data-href-pane="back" id="search" class="form-control" type="submit">find offers</a>
  </div>

  <div class="homepage_only col-md-4 col-xs-12 form-group reach-out-right">
    <input type="submit" name="commit" value="Find best value" class="btn homesearch_button form-control">
  </div>


  <!-- <div class="validation_errors">
   </div>
 -->
</form>