<div class="params" data-href-page="exchanges" data-href-pane="isearch" data-href-hash="buy">
  <div data-model="search" data-field="pay_amount" data-autonumeric="true" data-symbolsource="pay_currency" data-notcalculated="true"></div>
  <div data-model="search" data-field="pay_currency"></div>
  <i class="fa fa-arrow-circle-o-right"></i>
  <div data-model="search" data-field="buy_amount" data-autonumeric="true" data-symbolsource="buy_currency" data-notcalculated="true"></div>
  <div data-model="search" data-field="buy_currency"></div>
  <i class="material-icons navbar_search_icon">search</i>
</div>
