<div class="params">
  <div data-model="search" data-field="pay_amount"></div>
  <div data-model="search" data-field="pay_currency"></div>
  <div><i class="fa fa-arrow-circle-o-right"></i></div>
  <div data-model="search" data-field="buy_amount"></div>
  <div data-model="search" data-field="buy_currency"></div>
</div>
