html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
#map_container {
    height: 500px;
}
#exchange_info {
    position: absolute;
    top: -99999px;
}
#landing ul.list-group {
    margin-left: 0;
}
