@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}




#landing .exchange_details:not([aria-expanded="true"]) {
  padding: 0;
  padding-left: 15px;
}

@media (max-width: 600px) {
    body#landing {
        padding-right: 0;
        padding-left: 0;
    }
    #landing .col-md-6 {
        padding-right: 0;
        padding-left: 0;
    }
    #landing .row .col-xs-12.full {
        margin: 0;
    }
    #landing .list-group-item {
        border-radius: 0;
    }
} 


#landing .badge.price {
    border-radius: 95px;
    padding: 19px 9px;
    margin-top: 5px;
}
html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
#map_container {
    height: 500px;
}
#exchange_info {
    position: absolute;
    top: -99999px;
}
#landing ul.list-group {
    margin-left: 0;
}
