@font-face {
    font-family: "Giorgio";
    src: asset-url('Giorgio.ttf') format("truetype");
}
@font-face {
    font-family: "Giorgio-Thin";
    src: asset-url('Giorgio-Thin.ttf') format("truetype");
}