$brand-color: #FA5241;
$brand-font: "Giorgio";
$regular-font: 'Roboto', sans-serif;
/*$regular-font: 'Helvetica'; */
$basic-color: #555555;
$ab-color:  #565a5c;
$inverse-color: #ffffff;
$hallow-shadow: 0px 0px 5px #000000;
$mild-shadow: 0px 2px #888888;
$crisp-shadow: 0px 0px 1px #000000;
$input-height: 55px;
$input-height-mobile: 40px;
$top-offset: -223px;
$std-margin: 20px;
$b-bg-color: #edefed;
$b-bg-color: #ffffff;
$c-bg-color: #ffffff;
$footer-bg-color: #353639;
$footer-color: #7c7d7f;
$brand-lighten-factor: 10%;

@media (min-width: 768px){
  body#cambiu {    
    padding-left: 0;
    padding-right: 0;
    nav.navbar-inverse  {
      #comp_name {
        font-family: "Giorgio";
        font-size: 3em;
        text-shadow: $mild-shadow;
        margin-left: 20%;
        color: lighten($brand-color, $brand-lighten-factor);
        font-weight: 600; 
      }
      #cambiu_menu .nav > li > a {
        color: $ab-color;
        font-size: 1em;
        &:hover {
          color: $brand-color;
        }
      }
    }
    #home_a {      
      background-image: image-url('bg.jpg');
      background-repeat:  no-repeat;
      background-position-x:  center;
      background-position-y:  center;
      background-size: cover;
      height: 135vh;
      position: relative;
      top: $top-offset;
      width: 100%;
      overflow: hidden; 
         
    
      #video_background {
        display: none;
        /*
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background-repeat: no-repeat;
        background-size: cover;
        */
      }
      #home_container {
        margin-top: 75vh;
        color: $inverse-color;
        #home_message {
          text-shadow: $hallow-shadow;
          #message_header {
            text-transform: uppercase;
            font-size: 3.7em;
            font-weight: 600;
          }
          #message_remainder {
            font-size: 1.5em;
            margin-top: 15px;
          }
          #message_bottom {
            margin-top: $std-margin;
          }
        }
        #home_form {
          padding-top: 15px;
          input, select, #search_div, button, #location {
            width: 100%;
            height: $input-height;
            margin-bottom: 20px;
            text-align: center;
            font-size: 1.5em;
            font-weight: 100;
          }
          button#search_button.btn.btn-success {
            font-size: 1.3em;
          }
          #exchange_symbol i {
              font-size: 3em;
              height: $input-height;
              text-shadow: $crisp-shadow;
          }
          #location {
            font-size: 1em;
          }
          #location_link {
            margin-left: 10px;
            text-decoration: underline;
            color: $inverse-color;
            &:hover {
              color: $brand-color;
            }
          }
        }
      }
    }
    #home_b {
      background-color: $b-bg-color;
      position: relative;
      top: $top-offset;
      .row {
        margin-top: $std-margin;
      }
      #b_title {
        font-size: 2em;
        color: $ab_color;
        font-weight: 100;
        margin-top: $std-margin * 2;
      }
      #b_features {
        i {
          font-size: 5em;
        }
      }
      .feature_title {
        font-size: 1.5em;
        font-weight: 600;
        margin-top: $std-margin;
      }      
      .feature_description {
        font-size: 1em;
        font-weight: 100;
        margin-top: $std-margin;
        color: #888888;
        padding-bottom: $std-margin * 5;
      }
    }
    #home_c {
      background-color: $c-bg-color;
      position: relative;
      top: $top-offset;
      #c_chains {
        font-size: 2em;
        color: $ab_color;
        font-weight: 600;
        margin: $std-margin * 2;        
      }
     .row {
        margin-top: $std-margin;
        img {
          height: 60px;
          margin-bottom: 30px;
        }
        img#coventgarden {
          height: 160px;
          position: relative;
          top: -35px;
        }
      }
      #social_icons {
        font-size: 2em;
        color: #999999;
        margin-bottom: $std-margin * 2;
        a {
          color: #999999;
          &:hover {
            color: $brand-color;
          }
        }
      }
    }
    #footer {
      margin-top: $top-offset /2;
      background-color: $footer-bg-color;
      color: $footer-color;
      #testimonial {
        padding-top: $std-margin * 2;
      }
      a {
        display: block;
        text-align: center;
        color: $footer-color;
        &:first-child {
          margin-top: $std-margin * 2;
        }
        &:hover {
          color: $brand-color;
          text-decoration: none;
        }
      }
      cite {
        font-style: italic;
      }
      #quote blockquote {
       border: none;
          p {
            font-size: 1.3em;
          }
          footer {
            font-size: 0.8em;
          }        
      }
       #copyright {
        margin: $std-margin * 3;
      }
    }   
  }  
}

@media (max-width: 767px) {
  body#cambiu {
    padding-right: 40px; 
    /*
      padding-left: 0;
      padding-right: 0;
      */
     /*
     max-width: 100%;
     width: 100%;
     */
        background: image-url('9Noise.jpg')  no-repeat scroll !important;
        background-position:  center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
     #video_background {
        display: none;
      }             
      nav.navbar-inverse {
        #comp_name {
        font-family: "Giorgio";
        font-size: 1.5em;
        text-shadow: $mild-shadow;
        margin-left: 5%; 
        color: $brand-color;
        font-weight: 600;
        }
        .navbar-toggle {
          background-color: $brand-color;
        }
        #cambiu_menu {          
          background:rgba(0,0,0,0.7);
          .nav > li > a {
            color: $inverse-color;
            font-size: 1em;
            font-weight: 600;
            text-align: center;
            &:hover {
              color: $brand-color;
            }
          }
        }
      }
      #home_a {
         #home_container {
          margin-top: 15vh;          
          color: $inverse-color;
          #home_message {
            text-shadow: $crisp-shadow;  
            #message_header {
              text-transform: uppercase;
              font-size: 1.4em;
              font-weight: 600;
            }
            #message_remainder {
              font-size: 1em;
              margin-top: 5px;
              margin-bottom: 20px;
              font-weight: 400;
            }
            #message_bottom {
              margin-top: $std-margin;
            }
          }
          #home_form {
            margin-top: 5vh;
            input, select, #search_div, button {
              width: 100%;
              height: $input-height-mobile;
              margin-bottom: 0px;
              text-align: center;
              font-size: 1em;
              font-weight: 100;
            }
            button#search_button.btn.btn-success {
              font-size: 1.5em;
            }
            #exchange_symbol i {
              font-size: 2em;
              line-height: $input-height-mobile;
/*              text-shadow: $crisp-shadow; */
            }
          #location_text {
            font-size: 1em;
          }
          #location_link {
            margin-left: 10px;
            color: $inverse-color; 
            text-decoration: underline;
             &:hover {
              color: $brand-color;
            }
          }
          #location_input {
            margin-top: $std-margin;
          }
        }
        }
      }
    #home_b {
      background-color: $b-bg-color;
      margin-top: 70px;
      .row {
        margin-top: $std-margin;
      }
      #b_title {
        font-size: 2em;
        color: $ab_color;
        font-weight: 100;
        margin: $std-margin ;
      }
      #b_features {
        i {
          font-size: 5em;
        }
      }
      .feature_title {
        font-size: 1.5em;
        font-weight: 600;
        margin-top: $std-margin;
      }      
      .feature_description {
        font-size: 1em;
        font-weight: 100;
        margin-top: $std-margin;
        color: #888888;
        padding-bottom: $std-margin * 5;
      }
    }
    #home_c {
      background-color: c-bg-color;
      #c_chains {
        font-size: 2em;
        color: $ab_color;
        font-weight: 600;
        margin: $std-margin * 2;        
      }
     .row {
        margin-top: $std-margin;
        img {
          height: 70px;
          width: 80%;
        }
        img#coventgarden {
          height: 160px;
          position: relative;
          top: -25px;
        }
      }
      #social_icons {
        font-size: 2em;
        color: #999999;
        margin-bottom: $std-margin * 2;
        a {
          color: #999999;
          &:hover {
            color: $brand-color;
          }
        }
      }
    }   
    #footer {
      background-color: $footer-bg-color;
      color: $footer-color;
      margin-left: -20px;
      margin-right: -20px;
      #testimonial {
        padding-top: $std-margin;
      }
      a {
        display: block;
        text-align: center;
        color: $footer-color;
        &:first-child {
          margin-top: $std-margin * 2;
        }
        &:hover {
          color: $brand-color;
          text-decoration: none;
        }
      }
      cite {
        font-style: italic;
      }
      #quote blockquote {
       border: none;
          p {
            font-size: 1.3em;
          }
          footer {
            font-size: 0.8em;
          }        
      }
       #copyright {
        margin: $std-margin * 3;
      }
    }   
  }
}     
