$brand-color: #FA5241;
$brand-font: "Giorgio";
$regular-font: 'Roboto', sans-serif;
/*$regular-font: 'Helvetica'; */
$basic-color: #555555;
$inverse-color: #ffffff;

@media (min-width: 601px){
  
}

@media (max-width: 600px) {
  #cambiu
  #home_message {
    margin-top: 10vh;  
  } 
  
}
