body {
    
    background-image: url("/assets/bg.jpg");
    background-size: 100% auto;

}

/*
.landing_form_label {
    position: relative;
    left: -7%;
}
*/

body {
    font-family: "Giorgio";
}
.name_and_logo {
    width: 50%;
/*    margin-left: auto;
    margin-right: auto;    */
}
#landing_name, #landing_icon {
    width: 50%;
    margin-left: auto;
    margin-right: auto;    
}
#landing_name h1 {
    text-align: left;
    font-size: 4em;
}
#landing_icon {
    width: 15%;
    margin-left: auto;
    margin-right: auto;    
    
}
#landing_icon img {
    width: 100%;
}
#landing input:not(.btn) {
    opacity: 1;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
#landing input[type="text"] {
    color: #555555;
}

#find_out {
    position: relative;
    top: 24px;
}
#landing select {
    color: #888;
}

#landing .landing_form {
    margin-top: 10px;
}

#landing nav.navbar {
    min-height: 0;
    opacity: 0.75;
}
.form-group.inline div, .form-group.inline label, .form-group.inline input {
    display: inline;
    line-height: 42px;
}
div.inline {
    display: block;
}
#landing #new_visitor input,  #landing #new_visitor label, #landing #new_visitor select {
    font-size: 24px;  
    line-height: 24px;
    margin-bottom: 20px;
    width: 85%;  
}
#landing #new_visitor input.btn, #landing #visitor_email {
    height: 54px;
    width: 92%;
}

@media only screen and (max-width: 767px) {
    #landing #new_visitor input.btn, #landing #visitor_email {
        height: 54px;
        width: 85%;
    }   
}
#landing #new_visitor input#visitor_email {
    font-size: 16px;
}

#new_visitor input, #new_visitor select {
    width: 100%;
    height: 42px;
}
h1.hero {
    font-size: 3.0em;
    font-weight: 600;
}

#landing_content {
    margin-top: 45px;
}
.photo_background {
    color: #777;
}
