<div id="exchange_voucher" class="pane transition flip" data-pane="voucher" data-model="exchange" data-id='' style="display: <%= params[:controller] == 'exchanges' && params[:display] == 'voucher' ? 'block' : 'block' %>">

  <div class="row">
    <div class="voucher_heading clearfix">
      <div class="col-xs-12 col-md-12">
        <div class="voucher_title">
          <span data-model="order" data-field="service_type" style="display: none"></span>
          <span>Voucher</span>
          <span data-model="order" data-field="id" style="display: none"></span>
          <span class="voucher_number" data-model="order" data-field="voucher"></span>
        </div>
        <div class="voucher_validity" style="display: none">
          <span><%= fa_icon "clock-o", text: "  Valid until", left: true %></span>
          <span class="voucher_expiry" data-model="order" data-field="expiry_s"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_order">
    <div class="row">
      <div class="col-md-12 col-xs-12 order_wrapper">
          <div class="order">
            <span data-model="exchange" data-field="pay_rounded"></span>
            <span data-model="exchange" data-field="pay_currency"></span>
            <span class="exchange_icon"><%= fa_icon "caret-right" %></span>
            <span data-model="exchange" data-field="get_rounded"></span>
            <span data-model="exchange" data-field="buy_currency"></span>
          </div>
          <div class="subject_to_change"></div>
      </div>
    </div>
  </div>

  <div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="rate_expiry">
              <span>Rate valid through</span>
              <span class="voucher_expiry" data-model="order" data-field="expiry_s"></span>
            </div>
        </div>
      </div>
  </div>


  <div class="exchange_banner text-center">
    <div class="row">
       <div class="col-md-12 col-xs-12">
          <div class="pickup_title text-center strike">
            <span>Pickup at</span>
          </div>
          <div class="es_name" data-model="exchange" data-field="name"></div>
          <div class="es_address" data-model="exchange" data-field="address"></div>
          <div class="es_opening_hours" data-model="exchange" data-field="open_today"></div>
      </div>
    </div>
  </div>

  <div id="voucher_bullets" class="voucher exchange_bullets">
    <div class="row">
      <div class="col-md-12 col-xs-12">
 <!--       <div class="order_title text-center">
          <span>Order</span>
          <span data-model="order" data-field="voucher"></span>
        </div>
-->        <div class="text-center">
          <span>Pay at counter upon pickup</span>
        </div>
        <div class="text-center">
          <span>Price is final! No additional fees!</span>
        </div>
      </div>
    </div>
  </div>

  <div class="exchange_identification">
    <div class="row">
         <div class="col-md-12 col-xs-12">
          <div class="identification middle-parent clearfix">
            <div class="identification_icon desktop_only middle-parent col-md-2 col-xs-2">
              <%= image_tag 'id_icon.png', class: 'middle-child' %>
            </div>
            <div class="identification_note col-md-10 col-xs-12">
              Proof of identification may be required for card payments and high value transactions.
            </div>
          </div>
        </div>
     </div>
  </div>




</div>