// Imports
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// Variables
$font-family: 'Roboto', sans-serif;
$brand-color: #FF6E3A;
$color: #888;
$lightgreen: #5FA531;
$darkgreen: #34700C;
$lightgrey: #999;
$darkgrey: #333;
$greybg: #3b3b3b;
$lightgreybg: #f6f6f6;
$border-radius: 0;
$form-control-line-height: 35px;
$form-control-height: 45px;
$button-height: 50px;
$form-text-transform: uppercase;
$border-bottom: 3px solid $darkgreen;
$std-margin: 5vh;

// OLD SEARCH PAGE
$search-input-height: 40px;
$input-height-mobile: 40px;
$help-text-color: #888;
$inverse-color: #ffffff;



// OLD SEARCH PAGE


// Mixins
@mixin search-form-def {
  color: $darkgreen;
  text-align: left;
/*  text-indent: 5% !important; */
  font-size: 1em; 
  text-transform: uppercase;
  font-weight: 700; 
  border-radius: $border-radius;
  line-height: $form-control-line-height;
  height: $form-control-height; 
}

@mixin search-placeholder {
  &::-webkit-input-placeholder { 
    @include search-form-def;
  }
  &:-moz-placeholder { 
    @include search-form-def;
  }
  &::-moz-placeholder { 
    @include search-form-def;
 }
  &:-ms-input-placeholder {
    @include search-form-def;
  }
}

@mixin placeholder-center-def {
  text-align: center;
}

@mixin placeholder-center {
  &::-webkit-input-placeholder { 
    @include placeholder-center-def;
  }
  &:-moz-placeholder { 
    @include placeholder-center-def;
  }
  &::-moz-placeholder { 
    @include placeholder-center-def;
 }
  &:-ms-input-placeholder {
    @include placeholder-center-def;
  }
}

@mixin placeholder-icon-def($code) {
  font-family: fontAwesome;
  content: $code + '   ';
}

@mixin placeholder-icon($code) {
  &::-webkit-input-placeholder::before {
    @include placeholder-icon-def($code);
  }
  &:-moz-placeholder::before { 
    @include placeholder-icon-def($code);
  }
  &::-moz-placeholder::before { 
    @include placeholder-icon-def($code);
 }
  &:-ms-input-placeholder::before { 
    @include placeholder-icon-def($code);  
  }
}

@mixin background-img($img) {
    background-image: image-url($img);
    background-repeat:  no-repeat;
    background-position-x:  center;
    background-position-y:  center;
    background-size: cover;  
}


//
// CROSS-MEDIA
// Attempt to define things here 
//
body#cambiu {
    
  padding-top: 50px;
  font-family: $font-family;
  color: $color;
  .form-control {border-radius: $border-radius;}
  .navbar {
    background-color: #fff;
    margin-bottom: 0;
      .navbar-brand {
        margin-top: -10px;
      }
      .navbar-nav > li > a {
        line-height: 35px;
        margin-bottom: -20px;
        color: $lightgrey;
      }
  }
  .section_anchor {
    display: block;
    margin-bottom: 100px;
  }
  .mobile_only {
      display: none;
  }
  #new_search {
    input, select {
      @include search-form-def;
      @include search_placeholder;
      &#search_location {
        @include placeholder-icon("\f041");
//      @include placeholder-center;
        background: transparent;
        border: none;
        border-bottom: $border-bottom;
      }
      &.btn {
        background-color: $lightgreen;
        width: 100%;
        line-height: inherit;
        text-align: center;
        color: #fff;
        font-size: 1.3em;
        font-weight: 400;
        height: $button-height;
        border-bottom: $border-bottom;
        margin-top: -40px;
        &:hover {
          background-color: $darkgreen;
        }
      }
    }
    select {
      margin-left: -25%;
      width: 125%;
/*      text-indent: 15%; */
      background-color: $brand-color;
      color: #fff;
    }
    img {
      position: relative;
      top: 0px;
      right: -10px;
    }
    .after_submit {
      text-align: center;
      color: $darkgrey;
    }
  }
  .rates_banner img {
    width: 100%;
  }

  .how_does_it_work {
    .row {
      margin-top: $std-margin;
    }
    h2 {
      color: $darkgrey;
    }
    .hdiw_text {
      margin-top: 25px;
    }
  }
  
  .getstarted_button_container {
    margin-top: -10vh;
    margin-bottom: 20vh;
    .getstarted_button {
      background-color: $lightgreen;
      border-bottom: 3px solid $darkgreen;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 400;
      height: $button-height;
      border-radius: 5px;
      &:hover {
        background-color: $darkgreen;
      }
    }
    img {
      position: relative;
      top: 33px;
      height: 50px;
    }
  }
  
  .testimonials {
    background-color: $lightgreybg;
    border-top: 2px solid $lightgreen;
    padding: 25px inherit;
  }
  
  &.exchanges {
      #location_search {
        @include placeholder-icon("\f041");
      }
      #search_button {
        background-color: $brand-color;
        color: #fff;
      }
      #exchanges {
        z-index: 0;
      }
      .badge {
        background-color: $brand-color;
      }
    .parameters {
      position: fixed;
      background-color: #fff;
      width: 100%;
      z-index: 1;
      height: 97px;
    }
    #exchanges_content {
      z-index: -1;
      margin-top: 97px;
      font-family: $font-family;
      .distance {
        font-size: 0.9em;
        color: #111;
        display: inline;
      }
      .name {
        font-weight: 300;
        color: #333;
      }
      .units-d {
        font-size: 0.9em;
        font-weight: 100;
        display: inline;
      }
      .units-m {
        display: none;
      }
      .middle-parent .middle-child {
        height: 50px;
        vertical-align: middle;
        display: table-cell;
      }
      .quote {
        font-weight: 600;
        line-height: 25px;
        color: #111;
      }
      .comparison {
        text-align: center;
      }
      .comparison-d {
        line-height: 25px;
        font-size: 0.8em;
      }
      .comparison-m {
        display: none;
      }
      .comparison-amount {
        line-height: 25px;
        font-size: 0.8em;
      }
      .rounded {
        border-radius: 4px;
      }

    }
  }
}

//
// CROSS-MEDIA END
// Attempt to define things above 
//



// desktops
@media (min-width: $screen-sm-min){


  body#cambiu {
  
    &.home  {
      .background {
        @include background-img('header_background.jpg');      
        height: 75vh;
      }
      .above_fold {
        .main {
          margin-top: 15vh;
          margin-bottom: 10vh;
          .marketing {
            .pre {
              font-weight: 500;
              color: $darkgrey;
              font-size: 1.2em;            
            }
            .heading {
              font-weight: 500;
              color: $lightgreen;
              text-transform: uppercase;
              font-size: 3.2em;
              line-height: 1.1em;
            }
            .pre {
              font-weight: 600;
            }
            .post {
              font-weight: 400;
              color: $darkgrey;
              font-size: 1.1em;
            }
          }
        }
      }
    }

    .getstarted_button_container {
      .getstarted_button {
        margin-left: -12.5%;
        width: 125%;
      }
      img {
        right: 14px;
      }
    }

     
    &.exchanges {
      
      #exchanges {
        padding-left: 0;
      }
      
      .name {
        font-size: 1.2em;
      }
      .quote {
        font-size: 1.3em;
      }
      #exchanges_items {        
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
      }

// OLD SEARCH PAGE

    .bootstrap-switch {
      border-radius: $border-radius;      
        .bootstrap-switch-label, .bootstrap-switch-handle-off, .bootstrap-switch-handle-on {
          padding-top: 0;
          padding-bottom: 0;
        }     
      .bootstrap-switch-container {
        height: $search-input-height;
      }
      .bootstrap-switch-handle-on, .bootstrap-switch-handle-off, .bootstrap-switch-label {
        border-radius: $border-radius;
        line-height: $search-input-height;
      }
    }
      #pay_currency_display {
        display: none;
      }
      #exchange_params_wrapper {
        margin: 0;
        padding: 0;
      }
      form {
        padding-top: 15px;
        input, select, button, #location, .bootstrap-switch {
          width: 100%;
          height: $search-input-height;
          margin-bottom: 20px;
          text-align: center;
          font-size: 1em;
          font-weight: 100;
          &.part {
            width: 50%;
            font-size: 21px;
          }
        }
        #location_search_icon {
          position: absolute;
        }
        .hint_on_input {
          position: absolute;
        }/*
        .bootstrap-switch.bootstrap-switch-large {          
          .bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
          font-size: 1em;
          line-height: 1.9em;
          }
        }*/
        button#search_button.btn.btn-success {
          font-size: 1.3em;
        }
        .icon {
          margin-top: -60px;
          width: 15%;
          font-size: 1.5em;
          color: $help-text-color;
        }
        .middle_wrapper {           // This is the only thing that works for up to one line.
            height: $search-input-height;  // Beyond: replace line-height with: display: table-cell.
            .middle {
              height: $search-input-height;
              vertical-align: middle;
              text-align: center;
              line-height: $search-input-height;
            }
        }
        #pay_amount_help {
          position: absolute;
          height: $search-input-height;
          width: 20%;
          #pay_amount_text {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #999999;
            height: $search-input-height;
          }
        }
        #pay_amount_icon {
          position: absolute;
          top: 0;
          right: 15px;
          height: $search-input-height;
          width: 20%;
          #pay_amount_img {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #999999;
            height: $search-input-height;
            width: 10%;
            i {
              text-align: center;
            }
          }
        }
        #location {
          font-size: 1em;
        }
        #location_link {
          margin-left: 10px;
          text-decoration: underline;
          color: $inverse-color;
          &:hover {
            color: $brand-color;
          }
        }
      }
// OLD SEARCH PAGE

      
      
      
      #map_container {
        z-index: -2;
        position: fixed;
        margin-left: 39.4%;
        width: 61.5%;
        height: 100vh;
        #map-canvas {
          height: 100vh;
        }
      }
    }
  
  }
}


// mobile
@media (max-width: $screen-xs-max) {

  body#cambiu {
    
    .navbar-toggle .icon-bar {
      background-color: $brand-color;
    }

    &.home {
      @include background-img('header_background_mobile.jpg');
      height: 100vh;
      .above_fold {
        .main {
          margin-top: 3vh;
          margin-bottom: 3vh;
          .marketing {
            .pre {
              font-weight: 500;
              color: $darkgrey;
              font-size: 1em;            
            }
            .heading {
              font-weight: 500;
              color: $lightgreen;
              text-transform: uppercase;
              font-size: 2em;
              line-height: 1.1em;
            }
            .post {
              font-weight: 400;
              color: $darkgrey;
              font-size: 0.9em;
            }
          }
        }
      }
      .rates_banner img {
        display: none;
      }

    }
    
    .getstarted_button_container {
      .getstarted_button {
         width: 100%;
      }
      img {
        right: -6%;
      }
    }


    &.exchanges {
      #map_container {
        display: none;
      }
      .name {
        font-size: 0.9em;
      }
      .quote {
        font-size: 1em;
      }
    }
  
  }
 
}