// Imports
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// Variables
$font-family: 'Lato', sans-serif;
$navbar-height: 60px;
$white: #fff;
$black: #000;
$brand-color: #FF6E3A;
$lightgreen: #5FA531;
$darkgreen: #34700C;
$grey73: #737373;
$grey3b: #3b3b3b;
$grey3c: #3c3c3c;
$normal: 400;
$bold: 700;
$light: 300;

$color: #888;
$lightgrey: #999;
$darkgrey: #333;
$lightgreybg: #f6f6f6;
$greybg: #3b3b3b;

$border-radius: 0;
$form-control-line-height: 35px;
$form-control-height: 45px;
$button-height: 50px;
$form-text-transform: uppercase;
$border-bottom: 3px solid $darkgreen;
$std-margin: 5vh;
$parameters-height: 75px;
$parameters-bg-color: rgba(0,0,0,0.7);
$exchange_summary_banner_relative_top: -10px;
$exchange_summary_bg_img_height: 100px;
$exchange_summary_bg_img_height_mobile: 75px;

// OLD SEARCH PAGE
$search-input-height: 40px;
$input-height-mobile: 40px;
$help-text-color: #888;
$inverse-color: #ffffff;
// OLD SEARCH PAGE END


// Mixins
@mixin middle-parent($height, $img-height) {
  height: $height;
  .middle-child {
    height: $height;
    vertical-align: middle;
    display: table-cell;
    img {
      height: $img-height;
    }
  }
}


@mixin search-form-def {
  color: $darkgreen;
  text-align: left;
/*  text-indent: 5% !important; */
  font-size: 1em; 
  text-transform: uppercase;
  font-weight: 700; 
  border-radius: $border-radius;
  line-height: $form-control-line-height;
  height: $form-control-height; 
}

@mixin search-placeholder {
  &::-webkit-input-placeholder { 
    @include search-form-def;
  }
  &:-moz-placeholder { 
    @include search-form-def;
  }
  &::-moz-placeholder { 
    @include search-form-def;
 }
  &:-ms-input-placeholder {
    @include search-form-def;
  }
}

@mixin placeholder-center-def {
  text-align: center;
}

@mixin placeholder-center {
  &::-webkit-input-placeholder { 
    @include placeholder-center-def;
  }
  &:-moz-placeholder { 
    @include placeholder-center-def;
  }
  &::-moz-placeholder { 
    @include placeholder-center-def;
 }
  &:-ms-input-placeholder {
    @include placeholder-center-def;
  }
}

@mixin placeholder-email-def {
  text-align: left;
  text-indent: 10px;
  color: #555;
  font-weight: 400;
  text-transform: initial;
  @media (max-width: $screen-xs-max) {
    font-size: 0.8em;
    text-indent: 5px;
  }
}

@mixin placeholder-email {
  &::-webkit-input-placeholder {
    @include placeholder-email-def;
  }
  &:-moz-placeholder {
    @include placeholder-email-def;
  }
  &::-moz-placeholder {
    @include placeholder-email-def;
  }
  &:-ms-input-placeholder {
    @include placeholder-email-def;
  }
}

@mixin placeholder-icon-def($code) {
  font-family: fontAwesome;
  content: $code + '   ';
}

@mixin placeholder-icon($code) {
  &::-webkit-input-placeholder::before {
    @include placeholder-icon-def($code);
  }
  &:-moz-placeholder::before { 
    @include placeholder-icon-def($code);
  }
  &::-moz-placeholder::before { 
    @include placeholder-icon-def($code);
 }
  &:-ms-input-placeholder::before { 
    @include placeholder-icon-def($code);  
  }
}

@mixin background-img($img) {
    background-image: image-url($img);
    background-repeat:  no-repeat;
    background-position-x:  center;
    background-position-y:  center;
    background-size: cover;  
}


//
// CROSS-MEDIA
// Attempt to define things here 
//
html, body {
  height: 100%;
}
body#cambiu {
    
  padding-top: $navbar-height;
  font-family: $font-family;
  color: $color;
  .btn {border-radius: $border-radius;}
  .background {
    @include background-img('header_background.jpg');
    @media (min-width: $screen-sm-min) {
      height: 330px;
    }
    @media (max-width: $screen-xs-max) {
      height: 488px;
    }
  }
  a:not(.carousel-control) {
    color: $grey73;
  }
  [data-href] {
    cursor: pointer;
  }
  .list-group-item, .well {
    border-radius: 0;
  }
  .form-control {border-radius: $border-radius;}
  .validation_errors {
 //   visibility: hidden;
    height: 2em;
    line-height: 2em;
    margin-bottom: 15px;

    @media (min-width: $screen-sm-min) {
      margin-top: -15px;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: -10px;
      text-align: center;
    }
    padding-left: 15px;
  }
  .error_class {
    color: /*$brand-color*/#555;
    &::before {
      font-family: fontAwesome;
      content:"\f071";
      margin-right: 10px;
    }
  }
  .valid_class {
    color: $lightgreen;
    &::before {
      font-family: fontAwesome;
      content:"\f05d" + '    ';
      margin-right: 10px;
    }
  }
  .empty_class {

  }

  .parameters {
    background-color: #fff;
    width: 100%;
    z-index: 1;
    .well {
      margin-bottom: 0;
    }
  }

  &.search {
    .exchange_summary_bg img {
        width: 100%;
        height: $exchange_summary_bg_img_height;
    }
    #exchanges_content {
      @media (max-width: $screen-xs-max) {
        margin-top: 0;
      }
      @media (min-width: $screen-sm-min) {
        margin-top: $parameters-height;
      }
    }

    .parameters {
      position: fixed;
      @media (max-width: $screen-xs-max) {
        height: 0;
      }
      @media (min-width: $screen-sm-min) {
        height: $parameters-height;
      }
    }
  }
  &.exchange {
    .exchange_summary_bg img {
      @media (max-width: $screen-xs-max) {
        width: 100%;
        height: $exchange_summary_bg_img_height_mobile;
      }
      @media (min-width: $screen-sm-min) {
        width: 100%;
        height: $exchange_summary_bg_img_height;
      }
    }

    .parameters {
      min-height: $parameters-height;
    }
  }

  #exchange_search {
    @media (min-width: $screen-sm-min) {
      padding-left: 5px;
      padding-top: 10px;
    }
  }

  .exchange_search_form_title {
    color: #333;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    @media (max-width: $screen-xs-max) {
      margin-top: -10px;
    }
  }

  .exchange_serach_form_gain {
    color: #333;
    font-size: 0.9em;
    text-transform: uppercase;
    line-height: 34px;
    font-weight: 700;
    color: $darkgreen;
    text-align: center;
    @media (max-width: $screen-xs-max) {
      margin-top: 10px;
      margin-bottom: -15px;
    }

  }

  .delivery_method button {
    width: 100%;
  }

  .reach-out-left {
    padding-left: 0;
    input, select, button {
      border-left: none;
    }
  }
  .reach-out-right {
    padding-right: 0;
    input, select {
      border-right: none;
    }
  }



  &.home  {
    .above_fold {
      .main {
        margin-top: /*15vh*//*45px*/35px;
        margin-bottom: 10vh;
        .marketing {
          .pre {
            font-weight: $normal;
            color: $black;
            font-size: 1.2em;
            margin-top: 10px;
            margin-bottom: 5px;
          }
          .heading {
            font-weight: $bold;
            color: $lightgreen;
            text-transform: uppercase;
            font-size: 3.2em;
            line-height: 1.1em;
             margin-top: 15px;
            margin-bottom: 30px;
          }
          .bullets {
            @media (min-width: $screen-sm-min) {
              font-size: 1.7em;
              line-height: 1.8em;
            }
            @media (max-width: $screen-xs-max) {
              font-size: 1em;
              line-height: 1.6em;
            }

           font-weight: 400;
            color: $darkgreen;
            margin-left: 1em;
            li {
              &::before {
                font-family: fontAwesome;
                content:"\f046";
                margin-right: 0.7em;
              }
            }

          }
        }
      }
    }
  }


  .navbar {
    background-color: #fff;
    height: $navbar-height;
    border: none;
    margin-bottom: 0;
    .navbar-brand {
      margin-top: -10px;
    }
  }
  .navbar-collapse {
     &.in {
      background: rgba(0, 0, 0, 0.7);
      margin-left: -15px;
      margin-right: -15px;
      color: $white;
      li a {
        line-height: 35px;
        margin-bottom: -20px;
        color: $white;
        margin-bottom: 10px;
        font-size: 1.3em;
        &:hover {
          color: $brand-color;
          background: none;
          }
      }
    }
    &:not(.in)  li  a {
      line-height: 35px;
      margin-bottom: -20px;
      color: $grey73;
      &:hover, &:active {
        color: $brand-color;
        background: none;
      }
      &:visited, &:focus {
        background: none;
      }
    }
  }
  .section_anchor {
    display: block;
    margin-top: $navbar-height * -1;        /* Size of fixed header */
    padding-bottom: $navbar-height;
    display: block;   }
  #new_search {
    label {
      position: absolute;
      @media (min-width: $screen-sm-min) {
        top: 13px;
      }
      @media (max-width: $screen-xs-max) {
        top: 14px;
      }
      left: 2em;
      @media (min-width: $screen-sm-min) {
        font-size: 1.1em;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 0.9em;
      }
      color: $darkgreen;
      text-transform: uppercase;
    }
    input {
      &#search_pay_amount, &#search_buy_amount {
         @media (min-width: $screen-sm-min) {
          font-size: 1.1em;
           text-indent: 4.5em;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 0.9em;
          text-indent: 3.5em;
        }
      }
    }
    .homepage_search_button {
      margin-top: -15px;
    }
    .location_control {
      i {
        position: relative;
        float: right;
        margin-right: 10px;
        bottom: 30px;
        color: $darkgreen;
      }
    }
    #search_pay_amount {
    }
     input, select {
      @include search-form-def;
      @include search_placeholder;
      &#search_location {
        margin-top: -10px;
        @include placeholder-icon("\f041");
//      @include placeholder-center;
        background: transparent;
        border: none;
        border-bottom: $border-bottom;
        box-shadow: none;
        text-align: center;
        }
       &.btn {
        background-color: $lightgreen;
        width: 100%;
        line-height: inherit;
        text-align: center;
        color: #fff;
        font-size: 1.3em;
        font-weight: $bold;
        height: $button-height;
        border-bottom: $border-bottom;
        margin-top: -40px;
        &:hover {
          background-color: $darkgreen;
        }
      }
    }
    select {
      margin-left: -25%;
      width: 125%;
/*      text-indent: 15%; */
      background-color: $brand-color;
      color: #fff;
    }
    img {
      position: relative;
      top: 0px;
      right: -10px;
    }
    .after_submit {
      text-align: center;
      color: $darkgrey;
    }
  }
  .rates_banner img {
    width: 100%;
    height: 65px;
  }

  .how_does_it_work {
    h2 {
      color: $darkgrey;
    }
    .hdiw_title {
      height: 50px;
      margin-bottom: 15px;
      margin-top: 40px;
      font-size: 30px;
      color: $black;
    }
    .hdiw_under_title {
      margin-bottom: 40px;
      font-weight: $light;
      color: $grey3c;
      @media (min-width: $screen-sm-min) {
        font-size: 1.25em;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 1.1em;
      }

    }
    .hdiw_text {
      margin-top: 25px;
      font-weight: $light;
      color: $grey3c;
      @media (min-width: $screen-sm-min) {
        font-size: 1.25em;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 1.1em;
      }
    }
    #hand_icon {
      margin-left: -20px;
    }
  }
  
  .getstarted_button_container {
    &.a {
      margin-top: 10px;
      margin-bottom: 120px;
    }
    &.b {
      margin-top: 20px;
      margin-bottom: 70px;
    }
    .getstarted_button {
      width: 100%;
      background-color: $lightgreen;
      border-bottom: 3px solid $darkgreen;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: $bold;
      text-indent: 3px;
      height: $button-height;
      &:hover {
        background-color: $darkgreen;
      }
    }
    img {
      position: relative;
      top: 33px;
      height: 50px;
    }
  }
  
  .testimonials {
    background-color: $lightgreybg;
    padding: 25px inherit;
    .fivestars {
      margin: 10px;
    }
    #testimonials_carousel {
      margin-top: -10px;

      .middle-parent {
        @media (min-width: $screen-sm-min) {
          @include middle-parent(120px, 65px);
        }
        @media (max-width: $screen-xs-max) {
          @include middle-parent(100px, 65px);
        }
      }

      .carousel-control {
        background: none;
        .glyphicon-chevron-left, .glyphicon-chevron-right {
          position: static;
          width: 100%;
          margin: inherit;
          padding: inherit;
          padding-left: 10px;
        }
      }
      .carousel-indicators {
        position: static;
        width: 100%;
        padding: inherit;
        margin: inherit;
        margin-top: 20px;
        li {
          width: 36px;
          height: 36px;
          border-radius: 36px;
          background-size: 36px;
          &[data-slide-to="0"] {
            background-image: image-url('testimonials_user_1.png');
          }
          &[data-slide-to="1"] {
            background-image: image-url('testimonials_user_2.png');
          }
           &[data-slide-to="2"] {
            background-image: image-url('testimonials_user_3.png');
          }
          &[data-slide-to="3"] {
            background-image: image-url('testimonials_user_4.png');
          }

        }
        .active {
          border: 4px solid $lightgreen;
          background-position-x: -4px;
          background-position-y: -4px;
        }
      }
      .testimonial {
        font-style: italic;
        color: $black;
        @media (max-width: $screen-xs-max){
          font-size: 1.1em;
        }
        @media (min-width: $screen-sm-min){
          font-size: 1.4em;
        }
        font-weight: 400;
        margin-top: 7px;
        color: #000;
        @media (min-width: $screen-sm-min) {
          margin-left: -20px;
        }
      }
      .credit {
        color: $lightgreen;
         @media (min-width: $screen-sm-min) {
          margin-left: -20px;
          margin-top: -24px;
         }
        @media (max-width: $screen-xs-max){
          font-size: 0.9em;
          margin-top: -18px;
        }
      }
    }
  }

  .map {
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
  .map_heading {
    min-height: 100px;
    padding: 0 5px;
    @media (max-width: $screen-xs-max){
      line-height: 35px;
    }
    @media (min-width: $screen-sm-min) {
      line-height: 100px;
    }
    background-color: $lightgreen;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    border-top: 2px solid $darkgreen;
    p {
      margin-bottom: 0;
      @media (max-width: $screen-xs-max){
        line-height: 1.4em;
        font-size: 0.8em;
        margin-top: 0.8em;
      }
    }
  }

  .footer {
    @media (max-width: $screen-xs-max) {
 //     text-align: center;
    }
    border-top: 5px solid $lightgreen;
    background-color: $lightgreybg;
    padding-top: 25px;
    .links_title {
      color: #333;
    }
    a {
      display: block;
      line-height: 25px;
      &:hover {
        text-decoration: none;
        color: $lightgreen;
      }
    }
    .all_rights_reserved {
      margin: 25px;
    }
    .social_networks {
      margin-top: 25px;
      a {
        height: 45px;
      }
    }
  }
  
  &.exchanges {
      #location_search {
        @include placeholder-icon("\f041");
      }
      #search_button {
        background-color: $brand-color;
        color: #fff;
        font-weight: 300;
        font-size: 1.4em;
        @media (max-width: $screen-xs-max) {
          height: 50px;
          margin-top: 20px;
        }
      }
      #exchanges {
        z-index: 0;
        @media (max-width: $screen-xs-max){
          padding-right: 0;
          padding-left: 0;
        }
        #exchanges_search_params {
          background-color: $lightgreen;
          border: 1px solid $lightgreen;
          .exchanges_search_params_title {
            font-size: 1.2em;
            color: #fff;
            font-weight: 300;
            [data-field] {
              font-weight: 500;
            }
          }
          #comma {
            margin-left: -0.2em;
          }
        }
        #exchanges_search_search {
          padding-right: 30px;
          padding-left: 30px;
          border: 8px solid $lightgreen;
          bordeer-top: none;
          .exchanges_search_search_title {
            font-size: 1em;
            color: $lightgrey;
            font-weight: 100;
            text-transform: uppercase;
            [data-field] {
              font-weight: 500;
            }
          }
        }
        #exchanges_search_results {
          text-align: center;
          .results {
            @media (max-width: $screen-xs-max) {
              font-size: 0.9em;
            }
            @media (min-width: $screen-sm-min) {
              font-size: 1em;
            }
            color: #333;
            font-weight: 500;
            span {
              text-indent: 2px;
            }
          }
          .middle-parent {
            @include middle-parent(35px, 0);
            margin-bottom: -10px;
          }
          .sorted_by {
              text-transform: uppercase;
              cursor: pointer;
            font-weight: 700;
              @media (max-width: $screen-xs-max) {
                font-size: 0.7em;
              }
              @media (min-width: $screen-sm-min) {
                font-size: 1em;
              }
            &.active {
              background-color: $lightgreen;
              color: #fff;
            }
          }
        }
      }
      .badge {
        background-color: $brand-color;
      }
    #exchange_params_wrapper {
      @media (max-width: $screen-xs-max) {
        background-color: $parameters-bg-color;
      }
       color: #fff;
      font-size: 1em;
      font-weight: 400;
      line-height: 2.5em;
      text-align: center;
      text-transform: uppercase;
      border: none;

      #search_form {
        .bootstrap-switch .bootstrap-switch-container {
          .bootstrap-switch-handle-on, .bootstrap-handle-off, .bbostrap-switch-label {
            font-size: 0.9em;
          }
        }
      }
    }
    #exchanges_content {
      z-index: -1;
      font-family: $font-family;
      .distance {
        font-size: 0.8em;
        display: inline;
        position: relative;
        top: 0.3em;
        &::before {
          font-family: fontAwesome;
          content: "\f041" + '    ';
        }
        &::after {
          content: "m";
        }
      }
      .name {
        font-weight: 400;
        color: #333;
      }
      .list-group-item .name {
        padding-top: 10px;
      }
      .units-d {
        font-size: 0.9em;
        font-weight: 100;
        display: inline;
      }
      .units-m {
        display: none;
      }
      .middle-parent {
        .middle-child {
          height: 50px;
          vertical-align: middle;
          display: table-cell;
        }
      }
      .middle-child.email_submit { // Temporary
        margin-top: 17px;
      }
        .quote {
        font-weight: 600;
        line-height: 25px;
        color: #111;
          padding-top: 10px;
      }
      .comparison {
        text-align: center;
      }
      .comparison-d {
        line-height: 25px;
        font-size: 0.8em;
      }
      .comparison-m {
      }
      .comparison-amount {
        line-height: 25px;
        font-size: 0.7em;
        font-weight: 500;
        color: #333;
      }
      .rounded {
        border-radius: 4px;
      }

    }
    .getit_parent {
      /*
      @media (min-width: $screen-sm-min) {
        padding-left: 6px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 0px;
      }
      */
    }
    .getit .btn.btn-default#getit_button {
      border-color: $lightgreen;
      color: $lightgreen;
      text-transform: uppercase;
    }
    .exchange_row {
      .middle-parent {
        @include middle-parent(70px, 0)
      }
    }
    .page {
      background-color: #fff;
      box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
      min-height: 100vh;
//      margin-right: -15px;
    }
    #exchange_summary {
      background-color: #fff;
      .exchange_summary_title {
        display: none;
        text-align: center;
        text-transform: uppercase;
        color: #555;
        font-size: 1.5em;
        position: absolute;
        top: 50px;
        left: 25%;
        font-weight: 500;
      }
      .back {
        position: absolute;
        top: 15px;
        left: 30px;
        color: #333;
        font-size: 1.2em;
        font-weight: 200;
        color: #777;
        cursor: pointer;
        &:hover {
          color: $lightgreen;
        }
      }
        .exchange_summary_banner {
        background-color: $lightgreen;
        color: #fff;
        position: relative;
        top: $exchange_summary_banner_relative_top;
        .left {
          margin-left: 15px;
        }
        @media (max-width: $screen-xs-max) {
          .right {
            margin-left: 15px;
          }
        }
         .es_icon {
          font-size: 2.5em;
          text-align: center;
          margin-top: 15px;
        }
        .es_distance {
          font-size: 0.7em;
          text-align: center;
          &::after {
            content: "m";
          }
        }
        .es_name {
          @media (max-width: $screen-xs-max) {
            font-size: 0.9em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 1.1em;
          }
         font-weight: 400;
          margin-top: 15px;
          margin-bottom: 5px;
        }
        .es_address {
          font-size: 1em;
          font-weight: 200;
          margin-top: 12px;
        }
        .es_opening_hours {
          font-size: 0.8em;
          font-weight: 200;
          margin-bottom: 10px;
          margin-top: 5px;
        }
      }
      .order {
        margin-top: $exchange_summary_banner_relative_top + 25px;
        .buy_amount {
          @media (max-width: $screen-xs-max) {
            font-size: 0.8em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 1em;
          }
        }
        .buy {
          @media (max-width: $screen-xs-max) {
            font-size: 0.9em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 1.1em;
          }
        }
        .you_chose {
          font-weight: 300;
        }
        .sum {
          text-align: right;
          @media (max-width: $screen-xs-max) {
            font-weight: 900;
          }
        }
        .pay {
          color: #333;
          font-weight: 500;
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 1.2em;
          }
        }
        .buy_amount {
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 0.9em;
          }
        }
        .buy_currency {
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 0.9em;
          }
        }
        .pay_amount {
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 0.9em;
          }
        }
        .pay_currency {
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 0.9em;
          }
        }
        .gain_amount {
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 0.9em;
          }
       }
        .gain_currency {
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          @media (min-width: $screen-sm-min) {
            font-size: 0.9em;
          }
        }
      }
      .email_form {
        form {
          /*
          img, p, select, input:not([data-email-part]) {
            display: none;
          }
          */
 //         @media (min-width: $screen-sm-min) {
            padding: 5%;
   //       }
          @media (max-width: $screen-xs-max) {
            input {
              width: 90%;
              margin-left: 5%;
              margin-bottom: 10px;
            }
          }
          #order_email {
            @include placeholder-icon("\f0e0");
            @include placeholder-email;
            font-size: 1.3em;
            @media (max-width: $screen-xs-max) {
              height: 40px;
              margin-top: 30px;
              text-align: center;
            }
          }
          .email_submit {
            margin-top: -5px;
            background-color: $lightgreen;
            border-bottom: 3px solid $darkgreen;
            @media (min-width: $screen-sm-min) {
              height: 50px;
            }
            @media (max-width: $screen-xs-max) {
              height: 50px;
              margin-top: 20px;
            }
            color: #fff;
            text-transform: uppercase;
            font-weight: 400;
            border-radius: 4px;
            font-size: 1.1em;
          }
        }
        .no_thanks {
          @media (min-width: $screen-sm-min) {
            margin-top: -30px;
          }
        }
      }
    }
    #exchange_voucher {
      i {
        margin-right: 5px;
      }
      padding-right: 15px;
      padding-left: 15px;
      .row {
        margin-left: 0;
        margin-right: 0;
      }
       .exchange_voucher_bg img {
        position: absolute;
        top: 20px;
        width: 100%;
        max-height: 500px;
        left: 0;
        z-index: 0;
         filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')";
         filter: url(#drop-shadow);
         -webkit-filter: drop-shadow(0px 16px 4px rgba(0,0,0,0.5));
         filter: drop-shadow(0px 16px 4px rgba(0,0,0,0.5));     }
      .voucher_heading {
        padding-top: 10vh;
        font-weight: 500;
        border-bottom: 1px solid $lightgrey;
        color: #333;
        .printer_icon {
          color: #888;
          font-size: 2em;
          margin-top: 0.2em;
        }
      }
      .voucher_title {
        @media (min-width: $screen-sm-min) {
          font-size: 1.5em;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 1.1em;
        }
         font-weight: 700;
        text-transform: uppercase;
      }
      .voucher_validity {
        @media (min-width: $screen-sm-min) {
          font-size: 1em;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 0.9em;
        }
        font-weight: 300;
        margin-bottom: 20px;
      }
      .exchange_voucher_banner {
        margin-top: 15px;
        margin-bottom: 20px;
        .es_name {
          @media (min-width: $screen-sm-min) {
            font-size: 1.3em;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 1.1em;
          }
          color: #333;
          font-weight: 500;
          margin-bottom: 0px;
        }
        .es_address {
          @media (min-width: $screen-sm-min) {
            font-size: 1.2em;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          font-weight: 300;
          color: #555;
        }
      }
      .exchange_voucher_directions {
        color: #333;
        @media (min-width: $screen-sm-min) {
          font-size: 1.1em;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 1em;
        }
        font-weight: 400;
        @media (min-width: $screen-sm-min) {
          margin-bottom: 30px;
        }
        @media (max-width: $screen-xs-max) {
          margin-bottom: 20px;
        }
        a.directions {
          color: $lightgreen !important;
        }
      }
      .exchange_voucher_order {
        .order {
          @media (min-width: $screen-sm-min) {
            font-size: 1.3em;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 0.9em;
            font-weight: 500;
          }
            color: #333;
          text-align: center;
          font-weight: 300;
          padding-top: 10px;
          padding-bottom: 10px;
          box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1);
          .exchange_icon i{
            margin-right: 10px;
            margin-left: 10px;
          }
        }
        .subject_to_change {
          font-size: 0.8em;
          margin-top: 10px;
          text-align: center;
        }
      }
      .exchange_voucher_identification {
        margin-top: 20px;
        .identification {
          border-top: 1px solid rgba(0,0,0,.1);
          border-bottom: 1px solid rgba(0,0,0,.1);
          padding-top: 10px;
          padding-bottom: 10px;
          .identification_icon {
            @include middle-parent(30px, 30px);
            padding-right: 10px;
            padding-left: 10px;
            img {
              width: 100%;
            }
          }
        }
         .identification_note {
          font-size: 0.8em;
           text-align: center;
        }
      }
      .confirmation_form {
        .confirmation_button {
          width: 100%;
          background-color: $lightgreen;
          border-top: 2px solid $darkgreen;
          border-radius: 4px;
          text-transform: uppercase;
          @media (min-width: $screen-sm-min) {
            font-size: 1.1em;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 1em;
          }
          color: white;
          font-weight: 400;
          height: 50px;
          margin-top: 10px;
        }
      }
    }
  }
}

//
// CROSS-MEDIA END
// Attempt to define things above 
//



// desktops
@media (min-width: $screen-sm-min){


  body#cambiu {

    .mobile_only {
      display: none !important;
    }

    .getstarted_button_container {
      .getstarted_button {
      }
      img {
        right: -5px;
      }
    }

     #map_container {
      position: fixed;
      margin-left: 31.1%;
      width: 70%;
      padding-right: 0;
      top: 125px;
      #map-canvas {
        height: 100vh;
       }
    }

    &.search {
      #map_container {
        top: 125px;
        z-index: 0;
      }
    }
    &.exchange {
      #map_container {
        top: 60px;
        z-index: 1;
      }
    }


    &.exchanges {
      
      #exchanges {
        padding-left: 0;
      }
      
      .name {
        font-size: 1.2em;
      }
      .quote {
        font-size: 1.2em;
      }
      #exchanges_items {        
//        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
      }

// OLD SEARCH PAGE

    .bootstrap-switch {
      border-radius: $border-radius;
        .bootstrap-switch-label, .bootstrap-switch-handle-off, .bootstrap-switch-handle-on {
           padding-top: 0;
          padding-bottom: 0;
        }     
      .bootstrap-switch-container {
        height: $search-input-height;
      }
      .bootstrap-switch-handle-on, .bootstrap-switch-handle-off, .bootstrap-switch-label {
        border-radius: $border-radius;
        line-height: $search-input-height;
      }
    }
      #pay_currency_display {
        display: none;
      }
      #exchange_params_wrapper {
        margin: 0;
        padding: 0;
      }
      form {
        padding-top: 15px;
        input, select, button, #location, .bootstrap-switch {
          width: 100%;
          height: $search-input-height;
          margin-bottom: 20px;
          text-align: center;
          font-size: 1em;
          font-weight: 100;
          &.part {
            width: 50%;
            font-size: 21px;
          }
        }
        #location_search_icon {
          position: absolute;
        }
        .hint_on_input {
          position: absolute;
        }/*
        .bootstrap-switch.bootstrap-switch-large {          
          .bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
          font-size: 1em;
          line-height: 1.9em;
          }
        }*/
        button#search_button.btn.btn-success {
          font-size: 1.3em;
        }
        .icon {
          margin-top: -60px;
          width: 15%;
          font-size: 1.5em;
          color: $help-text-color;
        }
        .middle_wrapper {           // This is the only thing that works for up to one line.
            height: $search-input-height;  // Beyond: replace line-height with: display: table-cell.
            .middle {
              height: $search-input-height;
              vertical-align: middle;
              text-align: center;
              line-height: $search-input-height;
            }
        }
        #pay_amount_help {
          position: absolute;
          height: $search-input-height;
          width: 20%;
          #pay_amount_text {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #999999;
            height: $search-input-height;
          }
        }
        #pay_amount_icon {
          position: absolute;
          top: 0;
          right: 15px;
          height: $search-input-height;
          width: 20%;
          #pay_amount_img {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #999999;
            height: $search-input-height;
            width: 10%;
            i {
              text-align: center;
            }
          }
        }
        #location {
          font-size: 1em;
        }
        #location_link {
          margin-left: 10px;
          text-decoration: underline;
          color: $inverse-color;
          &:hover {
            color: $brand-color;
          }
        }
      }
// OLD SEARCH PAGE

      
      
      
     }

  }
}


// mobile
@media (max-width: $screen-xs-max) {

  body#cambiu {

    .desktop_only {
      display: none !important;
    }
    .navbar-toggle .icon-bar {
      background-color: $brand-color;
    }

    &.home {
       .above_fold {
        .main {
          margin-top: 3vh;
          margin-bottom: 3vh;
          .marketing {
            .pre {
              font-weight: $normal;
              color: $darkgrey;
              font-size: 1em;            
            }
            .heading {
              font-weight: $bold;
              color: $lightgreen;
              text-transform: uppercase;
              font-size: 1.6em;
              line-height: 1.1em;
              margin-bottom: 20px;
            }
            .post {
              font-weight: $normal;
              color: $darkgrey;
              font-size: 0.8em;
            }
        }
        }
      }
      .rates_banner img {
        display: none;
      }

    }

    .getstarted_button_container {
      .getstarted_button {
         width: 100%;
      }
      img {
        right: -6%;
      }
    }


    &.exchanges {
      #map_container {
        display: none;
      }
      .name {
        font-size: 0.9em;
      }
      .quote {
        font-size: 0.9em;
      }
    }
  
  }
 
}