<!DOCTYPE html>
<html lang="en">
<head>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "background", :media => "all" %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Coming soon</title>
  <%= csrf_meta_tags %>

</head>

<body id="background">

<%= yield %>

</body>

</html>